{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "blah+oapicf@cliffano.com",
      "name" : "Cliffano Subagio",
      "url" : "https://github.com/oapicf/openapi-openai"
    },
    "description" : "APIs for sampling from and fine-tuning language models",
    "title" : "OpenAI API",
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://api.openai.com/v1"
  } ],
  "tags" : [ {
    "description" : "The OpenAI REST API",
    "name" : "OpenAI"
  } ],
  "paths" : {
    "/chat/completions" : {
      "post" : {
        "operationId" : "createChatCompletion",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateChatCompletionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates a model response for the given chat conversation.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create chat completion",
          "group" : "chat",
          "path" : "create",
          "beta" : true,
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"gpt-3.5-turbo\",\n    \"messages\": [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {\"role\": \"user\", \"content\": \"Hello!\"}]\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\n\ncompletion = openai.ChatCompletion.create(\n  model=\"gpt-3.5-turbo\",\n  messages=[\n    {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n    {\"role\": \"user\", \"content\": \"Hello!\"}\n  ]\n)\n\nprint(completion.choices[0].message)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\n\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\n\nconst completion = await openai.createChatCompletion({\n  model: \"gpt-3.5-turbo\",\n  messages: [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {role: \"user\", content: \"Hello world\"}],\n});\nconsole.log(completion.data.choices[0].message);\n"
          },
          "parameters" : "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [{\"role\": \"system\", \"content\": \"You are a helpful assistant.\"}, {\"role\": \"user\", \"content\": \"Hello!\"}]\n}\n",
          "response" : "{\n  \"id\": \"chatcmpl-123\",\n  \"object\": \"chat.completion\",\n  \"created\": 1677652288,\n  \"choices\": [{\n    \"index\": 0,\n    \"message\": {\n      \"role\": \"assistant\",\n      \"content\": \"\\n\\nHello there, how may I assist you today?\",\n    },\n    \"finish_reason\": \"stop\"\n  }],\n  \"usage\": {\n    \"prompt_tokens\": 9,\n    \"completion_tokens\": 12,\n    \"total_tokens\": 21\n  }\n}\n"
        }
      }
    },
    "/completions" : {
      "post" : {
        "operationId" : "createCompletion",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCompletionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateCompletionResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates a completion for the provided prompt and parameters.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create completion",
          "group" : "completions",
          "path" : "create",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/completions \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"VAR_model_id\",\n    \"prompt\": \"Say this is a test\",\n    \"max_tokens\": 7,\n    \"temperature\": 0\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Completion.create(\n  model=\"VAR_model_id\",\n  prompt=\"Say this is a test\",\n  max_tokens=7,\n  temperature=0\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createCompletion({\n  model: \"VAR_model_id\",\n  prompt: \"Say this is a test\",\n  max_tokens: 7,\n  temperature: 0,\n});\n"
          },
          "parameters" : "{\n  \"model\": \"VAR_model_id\",\n  \"prompt\": \"Say this is a test\",\n  \"max_tokens\": 7,\n  \"temperature\": 0,\n  \"top_p\": 1,\n  \"n\": 1,\n  \"stream\": false,\n  \"logprobs\": null,\n  \"stop\": \"\\n\"\n}\n",
          "response" : "{\n  \"id\": \"cmpl-uqkvlQyYK7bGYrRHQ0eXlWi7\",\n  \"object\": \"text_completion\",\n  \"created\": 1589478378,\n  \"model\": \"VAR_model_id\",\n  \"choices\": [\n    {\n      \"text\": \"\\n\\nThis is indeed a test\",\n      \"index\": 0,\n      \"logprobs\": null,\n      \"finish_reason\": \"length\"\n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 5,\n    \"completion_tokens\": 7,\n    \"total_tokens\": 12\n  }\n}\n"
        }
      }
    },
    "/edits" : {
      "post" : {
        "operationId" : "createEdit",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateEditRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateEditResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates a new edit for the provided input, instruction, and parameters.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create edit",
          "group" : "edits",
          "path" : "create",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/edits \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"VAR_model_id\",\n    \"input\": \"What day of the wek is it?\",\n    \"instruction\": \"Fix the spelling mistakes\"\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Edit.create(\n  model=\"VAR_model_id\",\n  input=\"What day of the wek is it?\",\n  instruction=\"Fix the spelling mistakes\"\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createEdit({\n  model: \"VAR_model_id\",\n  input: \"What day of the wek is it?\",\n  instruction: \"Fix the spelling mistakes\",\n});\n"
          },
          "parameters" : "{\n  \"model\": \"VAR_model_id\",\n  \"input\": \"What day of the wek is it?\",\n  \"instruction\": \"Fix the spelling mistakes\"\n}\n",
          "response" : "{\n  \"object\": \"edit\",\n  \"created\": 1589478378,\n  \"choices\": [\n    {\n      \"text\": \"What day of the week is it?\",\n      \"index\": 0,\n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 25,\n    \"completion_tokens\": 32,\n    \"total_tokens\": 57\n  }\n}\n"
        }
      }
    },
    "/images/generations" : {
      "post" : {
        "operationId" : "createImage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateImageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates an image given a prompt.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create image",
          "group" : "images",
          "path" : "create",
          "beta" : true,
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/images/generations \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"prompt\": \"A cute baby sea otter\",\n    \"n\": 2,\n    \"size\": \"1024x1024\"\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Image.create(\n  prompt=\"A cute baby sea otter\",\n  n=2,\n  size=\"1024x1024\"\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createImage({\n  prompt: \"A cute baby sea otter\",\n  n: 2,\n  size: \"1024x1024\",\n});\n"
          },
          "parameters" : "{\n  \"prompt\": \"A cute baby sea otter\",\n  \"n\": 2,\n  \"size\": \"1024x1024\"\n}\n",
          "response" : "{\n  \"created\": 1589478378,\n  \"data\": [\n    {\n      \"url\": \"https://...\"\n    },\n    {\n      \"url\": \"https://...\"\n    }\n  ]\n}\n"
        }
      }
    },
    "/images/edits" : {
      "post" : {
        "operationId" : "createImageEdit",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateImageEditRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates an edited or extended image given an original image and a prompt.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create image edit",
          "group" : "images",
          "path" : "create-edit",
          "beta" : true,
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/images/edits \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F image=\"@otter.png\" \\\n  -F mask=\"@mask.png\" \\\n  -F prompt=\"A cute baby sea otter wearing a beret\" \\\n  -F n=2 \\\n  -F size=\"1024x1024\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Image.create_edit(\n  image=open(\"otter.png\", \"rb\"),\n  mask=open(\"mask.png\", \"rb\"),\n  prompt=\"A cute baby sea otter wearing a beret\",\n  n=2,\n  size=\"1024x1024\"\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createImageEdit(\n  fs.createReadStream(\"otter.png\"),\n  fs.createReadStream(\"mask.png\"),\n  \"A cute baby sea otter wearing a beret\",\n  2,\n  \"1024x1024\"\n);\n"
          },
          "response" : "{\n  \"created\": 1589478378,\n  \"data\": [\n    {\n      \"url\": \"https://...\"\n    },\n    {\n      \"url\": \"https://...\"\n    }\n  ]\n}\n"
        }
      }
    },
    "/images/variations" : {
      "post" : {
        "operationId" : "createImageVariation",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateImageVariationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates a variation of a given image.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create image variation",
          "group" : "images",
          "path" : "create-variation",
          "beta" : true,
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/images/variations \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F image=\"@otter.png\" \\\n  -F n=2 \\\n  -F size=\"1024x1024\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Image.create_variation(\n  image=open(\"otter.png\", \"rb\"),\n  n=2,\n  size=\"1024x1024\"\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createImageVariation(\n  fs.createReadStream(\"otter.png\"),\n  2,\n  \"1024x1024\"\n);\n"
          },
          "response" : "{\n  \"created\": 1589478378,\n  \"data\": [\n    {\n      \"url\": \"https://...\"\n    },\n    {\n      \"url\": \"https://...\"\n    }\n  ]\n}\n"
        }
      }
    },
    "/embeddings" : {
      "post" : {
        "operationId" : "createEmbedding",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateEmbeddingRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateEmbeddingResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates an embedding vector representing the input text.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create embeddings",
          "group" : "embeddings",
          "path" : "create",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/embeddings \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"input\": \"The food was delicious and the waiter...\",\n    \"model\": \"text-embedding-ada-002\"\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Embedding.create(\n  model=\"text-embedding-ada-002\",\n  input=\"The food was delicious and the waiter...\"\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createEmbedding({\n  model: \"text-embedding-ada-002\",\n  input: \"The food was delicious and the waiter...\",\n});\n"
          },
          "parameters" : "{\n  \"model\": \"text-embedding-ada-002\",\n  \"input\": \"The food was delicious and the waiter...\"\n}\n",
          "response" : "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"embedding\",\n      \"embedding\": [\n        0.0023064255,\n        -0.009327292,\n        .... (1536 floats total for ada-002)\n        -0.0028842222,\n      ],\n      \"index\": 0\n    }\n  ],\n  \"model\": \"text-embedding-ada-002\",\n  \"usage\": {\n    \"prompt_tokens\": 8,\n    \"total_tokens\": 8\n  }\n}\n"
        }
      }
    },
    "/audio/transcriptions" : {
      "post" : {
        "operationId" : "createTranscription",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTranscriptionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateTranscriptionResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Transcribes audio into the input language.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create transcription",
          "group" : "audio",
          "path" : "create",
          "beta" : true,
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/audio/transcriptions \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: multipart/form-data\" \\\n  -F file=\"@/path/to/file/audio.mp3\" \\\n  -F model=\"whisper-1\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\naudio_file = open(\"audio.mp3\", \"rb\")\ntranscript = openai.Audio.transcribe(\"whisper-1\", audio_file)\n",
            "node" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst resp = await openai.createTranscription(\n  fs.createReadStream(\"audio.mp3\"),\n  \"whisper-1\"\n);\n"
          },
          "parameters" : "{\n  \"file\": \"audio.mp3\",\n  \"model\": \"whisper-1\"\n}\n",
          "response" : "{\n  \"text\": \"Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that.\"\n}\n"
        }
      }
    },
    "/audio/translations" : {
      "post" : {
        "operationId" : "createTranslation",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTranslationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateTranslationResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Translates audio into English.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create translation",
          "group" : "audio",
          "path" : "create",
          "beta" : true,
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/audio/translations \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: multipart/form-data\" \\\n  -F file=\"@/path/to/file/german.m4a\" \\\n  -F model=\"whisper-1\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\naudio_file = open(\"german.m4a\", \"rb\")\ntranscript = openai.Audio.translate(\"whisper-1\", audio_file)\n",
            "node" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst resp = await openai.createTranslation(\n  fs.createReadStream(\"audio.mp3\"),\n  \"whisper-1\"\n);\n"
          },
          "parameters" : "{\n  \"file\": \"german.m4a\",\n  \"model\": \"whisper-1\"\n}\n",
          "response" : "{\n  \"text\": \"Hello, my name is Wolfgang and I come from Germany. Where are you heading today?\"\n}\n"
        }
      }
    },
    "/files" : {
      "get" : {
        "operationId" : "listFiles",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFilesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Returns a list of files that belong to the user's organization.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "List files",
          "group" : "files",
          "path" : "list",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/files \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.list()\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listFiles();\n"
          },
          "response" : "{\n  \"data\": [\n    {\n      \"id\": \"file-ccdDZrC3iZVNiQVeEA6Z66wf\",\n      \"object\": \"file\",\n      \"bytes\": 175,\n      \"created_at\": 1613677385,\n      \"filename\": \"train.jsonl\",\n      \"purpose\": \"search\"\n    },\n    {\n      \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n      \"object\": \"file\",\n      \"bytes\": 140,\n      \"created_at\": 1613779121,\n      \"filename\": \"puppy.jsonl\",\n      \"purpose\": \"search\"\n    }\n  ],\n  \"object\": \"list\"\n}\n"
        }
      },
      "post" : {
        "operationId" : "createFile",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateFileRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenAIFile"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Upload a file that contains document(s) to be used across various endpoints/features. Currently, the size of all the files uploaded by one organization can be up to 1 GB. Please contact us if you need to increase the storage limit.\n",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Upload file",
          "group" : "files",
          "path" : "upload",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/files \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -F purpose=\"fine-tune\" \\\n  -F file=\"@mydata.jsonl\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.create(\n  file=open(\"mydata.jsonl\", \"rb\"),\n  purpose='fine-tune'\n)\n",
            "node.js" : "const fs = require(\"fs\");\nconst { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createFile(\n  fs.createReadStream(\"mydata.jsonl\"),\n  \"fine-tune\"\n);\n"
          },
          "response" : "{\n  \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n  \"object\": \"file\",\n  \"bytes\": 140,\n  \"created_at\": 1613779121,\n  \"filename\": \"mydata.jsonl\",\n  \"purpose\": \"fine-tune\"\n}\n"
        }
      }
    },
    "/files/{file_id}" : {
      "delete" : {
        "operationId" : "deleteFile",
        "parameters" : [ {
          "description" : "The ID of the file to use for this request",
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteFileResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Delete a file.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Delete file",
          "group" : "files",
          "path" : "delete",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/files/file-XjGxS3KTG0uNmNOK362iJua3 \\\n  -X DELETE \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.delete(\"file-XjGxS3KTG0uNmNOK362iJua3\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.deleteFile(\"file-XjGxS3KTG0uNmNOK362iJua3\");\n"
          },
          "response" : "{\n  \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n  \"object\": \"file\",\n  \"deleted\": true\n}\n"
        }
      },
      "get" : {
        "operationId" : "retrieveFile",
        "parameters" : [ {
          "description" : "The ID of the file to use for this request",
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenAIFile"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Returns information about a specific file.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Retrieve file",
          "group" : "files",
          "path" : "retrieve",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/files/file-XjGxS3KTG0uNmNOK362iJua3 \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.File.retrieve(\"file-XjGxS3KTG0uNmNOK362iJua3\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.retrieveFile(\"file-XjGxS3KTG0uNmNOK362iJua3\");\n"
          },
          "response" : "{\n  \"id\": \"file-XjGxS3KTG0uNmNOK362iJua3\",\n  \"object\": \"file\",\n  \"bytes\": 140,\n  \"created_at\": 1613779657,\n  \"filename\": \"mydata.jsonl\",\n  \"purpose\": \"fine-tune\"\n}\n"
        }
      }
    },
    "/files/{file_id}/content" : {
      "get" : {
        "operationId" : "downloadFile",
        "parameters" : [ {
          "description" : "The ID of the file to use for this request",
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Returns the contents of the specified file",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Retrieve file content",
          "group" : "files",
          "path" : "retrieve-content",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/files/file-XjGxS3KTG0uNmNOK362iJua3/content \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" > file.jsonl\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\ncontent = openai.File.download(\"file-XjGxS3KTG0uNmNOK362iJua3\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.downloadFile(\"file-XjGxS3KTG0uNmNOK362iJua3\");\n"
          }
        }
      }
    },
    "/fine-tunes" : {
      "get" : {
        "operationId" : "listFineTunes",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFineTunesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "List your organization's fine-tuning jobs\n",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "List fine-tunes",
          "group" : "fine-tunes",
          "path" : "list",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/fine-tunes \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.list()\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listFineTunes();\n"
          },
          "response" : "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"ft-AF1WoRqd3aJAHsqc9NY7iL8F\",\n      \"object\": \"fine-tune\",\n      \"model\": \"curie\",\n      \"created_at\": 1614807352,\n      \"fine_tuned_model\": null,\n      \"hyperparams\": { ... },\n      \"organization_id\": \"org-...\",\n      \"result_files\": [],\n      \"status\": \"pending\",\n      \"validation_files\": [],\n      \"training_files\": [ { ... } ],\n      \"updated_at\": 1614807352,\n    },\n    { ... },\n    { ... }\n  ]\n}\n"
        }
      },
      "post" : {
        "operationId" : "createFineTune",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateFineTuneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FineTune"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Creates a job that fine-tunes a specified model from a given dataset.\n\nResponse includes details of the enqueued job including job status and the name of the fine-tuned models once complete.\n\n[Learn more about Fine-tuning](/docs/guides/fine-tuning)\n",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create fine-tune",
          "group" : "fine-tunes",
          "path" : "create",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/fine-tunes \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"training_file\": \"file-XGinujblHPwGLSztz8cPS8XY\"\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.create(training_file=\"file-XGinujblHPwGLSztz8cPS8XY\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createFineTune({\n  training_file: \"file-XGinujblHPwGLSztz8cPS8XY\",\n});\n"
          },
          "response" : "{\n  \"id\": \"ft-AF1WoRqd3aJAHsqc9NY7iL8F\",\n  \"object\": \"fine-tune\",\n  \"model\": \"curie\",\n  \"created_at\": 1614807352,\n  \"events\": [\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807352,\n      \"level\": \"info\",\n      \"message\": \"Job enqueued. Waiting for jobs ahead to complete. Queue number: 0.\"\n    }\n  ],\n  \"fine_tuned_model\": null,\n  \"hyperparams\": {\n    \"batch_size\": 4,\n    \"learning_rate_multiplier\": 0.1,\n    \"n_epochs\": 4,\n    \"prompt_loss_weight\": 0.1,\n  },\n  \"organization_id\": \"org-...\",\n  \"result_files\": [],\n  \"status\": \"pending\",\n  \"validation_files\": [],\n  \"training_files\": [\n    {\n      \"id\": \"file-XGinujblHPwGLSztz8cPS8XY\",\n      \"object\": \"file\",\n      \"bytes\": 1547276,\n      \"created_at\": 1610062281,\n      \"filename\": \"my-data-train.jsonl\",\n      \"purpose\": \"fine-tune-train\"\n    }\n  ],\n  \"updated_at\": 1614807352,\n}\n"
        }
      }
    },
    "/fine-tunes/{fine_tune_id}" : {
      "get" : {
        "operationId" : "retrieveFineTune",
        "parameters" : [ {
          "description" : "The ID of the fine-tune job\n",
          "explode" : false,
          "in" : "path",
          "name" : "fine_tune_id",
          "required" : true,
          "schema" : {
            "example" : "ft-AF1WoRqd3aJAHsqc9NY7iL8F",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FineTune"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Gets info about the fine-tune job.\n\n[Learn more about Fine-tuning](/docs/guides/fine-tuning)\n",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Retrieve fine-tune",
          "group" : "fine-tunes",
          "path" : "retrieve",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/fine-tunes/ft-AF1WoRqd3aJAHsqc9NY7iL8F \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.retrieve(id=\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.retrieveFineTune(\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\");\n"
          },
          "response" : "{\n  \"id\": \"ft-AF1WoRqd3aJAHsqc9NY7iL8F\",\n  \"object\": \"fine-tune\",\n  \"model\": \"curie\",\n  \"created_at\": 1614807352,\n  \"events\": [\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807352,\n      \"level\": \"info\",\n      \"message\": \"Job enqueued. Waiting for jobs ahead to complete. Queue number: 0.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807356,\n      \"level\": \"info\",\n      \"message\": \"Job started.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807861,\n      \"level\": \"info\",\n      \"message\": \"Uploaded snapshot: curie:ft-acmeco-2021-03-03-21-44-20.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Uploaded result files: file-QQm6ZpqdNwAaVC3aSz5sWwLT.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Job succeeded.\"\n    }\n  ],\n  \"fine_tuned_model\": \"curie:ft-acmeco-2021-03-03-21-44-20\",\n  \"hyperparams\": {\n    \"batch_size\": 4,\n    \"learning_rate_multiplier\": 0.1,\n    \"n_epochs\": 4,\n    \"prompt_loss_weight\": 0.1,\n  },\n  \"organization_id\": \"org-...\",\n  \"result_files\": [\n    {\n      \"id\": \"file-QQm6ZpqdNwAaVC3aSz5sWwLT\",\n      \"object\": \"file\",\n      \"bytes\": 81509,\n      \"created_at\": 1614807863,\n      \"filename\": \"compiled_results.csv\",\n      \"purpose\": \"fine-tune-results\"\n    }\n  ],\n  \"status\": \"succeeded\",\n  \"validation_files\": [],\n  \"training_files\": [\n    {\n      \"id\": \"file-XGinujblHPwGLSztz8cPS8XY\",\n      \"object\": \"file\",\n      \"bytes\": 1547276,\n      \"created_at\": 1610062281,\n      \"filename\": \"my-data-train.jsonl\",\n      \"purpose\": \"fine-tune-train\"\n    }\n  ],\n  \"updated_at\": 1614807865,\n}\n"
        }
      }
    },
    "/fine-tunes/{fine_tune_id}/cancel" : {
      "post" : {
        "operationId" : "cancelFineTune",
        "parameters" : [ {
          "description" : "The ID of the fine-tune job to cancel\n",
          "explode" : false,
          "in" : "path",
          "name" : "fine_tune_id",
          "required" : true,
          "schema" : {
            "example" : "ft-AF1WoRqd3aJAHsqc9NY7iL8F",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FineTune"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Immediately cancel a fine-tune job.\n",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Cancel fine-tune",
          "group" : "fine-tunes",
          "path" : "cancel",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/fine-tunes/ft-AF1WoRqd3aJAHsqc9NY7iL8F/cancel \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.cancel(id=\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.cancelFineTune(\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\");\n"
          },
          "response" : "{\n  \"id\": \"ft-xhrpBbvVUzYGo8oUO1FY4nI7\",\n  \"object\": \"fine-tune\",\n  \"model\": \"curie\",\n  \"created_at\": 1614807770,\n  \"events\": [ { ... } ],\n  \"fine_tuned_model\": null,\n  \"hyperparams\": { ... },\n  \"organization_id\": \"org-...\",\n  \"result_files\": [],\n  \"status\": \"cancelled\",\n  \"validation_files\": [],\n  \"training_files\": [\n    {\n      \"id\": \"file-XGinujblHPwGLSztz8cPS8XY\",\n      \"object\": \"file\",\n      \"bytes\": 1547276,\n      \"created_at\": 1610062281,\n      \"filename\": \"my-data-train.jsonl\",\n      \"purpose\": \"fine-tune-train\"\n    }\n  ],\n  \"updated_at\": 1614807789,\n}\n"
        }
      }
    },
    "/fine-tunes/{fine_tune_id}/events" : {
      "get" : {
        "operationId" : "listFineTuneEvents",
        "parameters" : [ {
          "description" : "The ID of the fine-tune job to get events for.\n",
          "explode" : false,
          "in" : "path",
          "name" : "fine_tune_id",
          "required" : true,
          "schema" : {
            "example" : "ft-AF1WoRqd3aJAHsqc9NY7iL8F",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Whether to stream events for the fine-tune job. If set to true,\nevents will be sent as data-only\n[server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format)\nas they become available. The stream will terminate with a\n`data: [DONE]` message when the job is finished (succeeded, cancelled,\nor failed).\n\nIf set to false, only events generated so far will be returned.\n",
          "explode" : true,
          "in" : "query",
          "name" : "stream",
          "required" : false,
          "schema" : {
            "default" : false,
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFineTuneEventsResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get fine-grained status updates for a fine-tune job.\n",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "List fine-tune events",
          "group" : "fine-tunes",
          "path" : "events",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/fine-tunes/ft-AF1WoRqd3aJAHsqc9NY7iL8F/events \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.FineTune.list_events(id=\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listFineTuneEvents(\"ft-AF1WoRqd3aJAHsqc9NY7iL8F\");\n"
          },
          "response" : "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807352,\n      \"level\": \"info\",\n      \"message\": \"Job enqueued. Waiting for jobs ahead to complete. Queue number: 0.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807356,\n      \"level\": \"info\",\n      \"message\": \"Job started.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807861,\n      \"level\": \"info\",\n      \"message\": \"Uploaded snapshot: curie:ft-acmeco-2021-03-03-21-44-20.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Uploaded result files: file-QQm6ZpqdNwAaVC3aSz5sWwLT.\"\n    },\n    {\n      \"object\": \"fine-tune-event\",\n      \"created_at\": 1614807864,\n      \"level\": \"info\",\n      \"message\": \"Job succeeded.\"\n    }\n  ]\n}\n"
        }
      }
    },
    "/models" : {
      "get" : {
        "operationId" : "listModels",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListModelsResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Lists the currently available models, and provides basic information about each one such as the owner and availability.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "List models",
          "group" : "models",
          "path" : "list",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/models \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Model.list()\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.listModels();\n"
          },
          "response" : "{\n  \"data\": [\n    {\n      \"id\": \"model-id-0\",\n      \"object\": \"model\",\n      \"owned_by\": \"organization-owner\",\n      \"permission\": [...]\n    },\n    {\n      \"id\": \"model-id-1\",\n      \"object\": \"model\",\n      \"owned_by\": \"organization-owner\",\n      \"permission\": [...]\n    },\n    {\n      \"id\": \"model-id-2\",\n      \"object\": \"model\",\n      \"owned_by\": \"openai\",\n      \"permission\": [...]\n    },\n  ],\n  \"object\": \"list\"\n}\n"
        }
      }
    },
    "/models/{model}" : {
      "delete" : {
        "operationId" : "deleteModel",
        "parameters" : [ {
          "description" : "The model to delete",
          "explode" : false,
          "in" : "path",
          "name" : "model",
          "required" : true,
          "schema" : {
            "example" : "curie:ft-acmeco-2021-03-03-21-44-20",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteModelResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Delete a fine-tuned model. You must have the Owner role in your organization.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Delete fine-tune model",
          "group" : "fine-tunes",
          "path" : "delete-model",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/models/curie:ft-acmeco-2021-03-03-21-44-20 \\\n  -X DELETE \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Model.delete(\"curie:ft-acmeco-2021-03-03-21-44-20\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.deleteModel('curie:ft-acmeco-2021-03-03-21-44-20');\n"
          },
          "response" : "{\n  \"id\": \"curie:ft-acmeco-2021-03-03-21-44-20\",\n  \"object\": \"model\",\n  \"deleted\": true\n}\n"
        }
      },
      "get" : {
        "operationId" : "retrieveModel",
        "parameters" : [ {
          "description" : "The ID of the model to use for this request",
          "explode" : false,
          "in" : "path",
          "name" : "model",
          "required" : true,
          "schema" : {
            "example" : "text-davinci-001",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Model"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Retrieves a model instance, providing basic information about the model such as the owner and permissioning.",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Retrieve model",
          "group" : "models",
          "path" : "retrieve",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/models/VAR_model_id \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Model.retrieve(\"VAR_model_id\")\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.retrieveModel(\"VAR_model_id\");\n"
          },
          "response" : "{\n  \"id\": \"VAR_model_id\",\n  \"object\": \"model\",\n  \"owned_by\": \"openai\",\n  \"permission\": [...]\n}\n"
        }
      }
    },
    "/moderations" : {
      "post" : {
        "operationId" : "createModeration",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateModerationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateModerationResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Classifies if text violates OpenAI's Content Policy",
        "tags" : [ "OpenAI" ],
        "x-oaiMeta" : {
          "name" : "Create moderation",
          "group" : "moderations",
          "path" : "create",
          "examples" : {
            "curl" : "curl https://api.openai.com/v1/moderations \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -d '{\n    \"input\": \"I want to kill them.\"\n  }'\n",
            "python" : "import os\nimport openai\nopenai.api_key = os.getenv(\"OPENAI_API_KEY\")\nopenai.Moderation.create(\n  input=\"I want to kill them.\",\n)\n",
            "node.js" : "const { Configuration, OpenAIApi } = require(\"openai\");\nconst configuration = new Configuration({\n  apiKey: process.env.OPENAI_API_KEY,\n});\nconst openai = new OpenAIApi(configuration);\nconst response = await openai.createModeration({\n  input: \"I want to kill them.\",\n});\n"
          },
          "parameters" : "{\n  \"input\": \"I want to kill them.\"\n}\n",
          "response" : "{\n  \"id\": \"modr-5MWoLO\",\n  \"model\": \"text-moderation-001\",\n  \"results\": [\n    {\n      \"categories\": {\n        \"hate\": false,\n        \"hate/threatening\": true,\n        \"self-harm\": false,\n        \"sexual\": false,\n        \"sexual/minors\": false,\n        \"violence\": true,\n        \"violence/graphic\": false\n      },\n      \"category_scores\": {\n        \"hate\": 0.22714105248451233,\n        \"hate/threatening\": 0.4132447838783264,\n        \"self-harm\": 0.005232391878962517,\n        \"sexual\": 0.01407341007143259,\n        \"sexual/minors\": 0.0038522258400917053,\n        \"violence\": 0.9223177433013916,\n        \"violence/graphic\": 0.036865197122097015\n      },\n      \"flagged\": true\n    }\n  ]\n}\n"
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Error" : {
        "properties" : {
          "type" : {
            "nullable" : false,
            "type" : "string"
          },
          "message" : {
            "nullable" : false,
            "type" : "string"
          },
          "param" : {
            "nullable" : true,
            "type" : "string"
          },
          "code" : {
            "nullable" : true,
            "type" : "string"
          }
        },
        "required" : [ "code", "message", "param", "type" ],
        "type" : "object"
      },
      "ErrorResponse" : {
        "properties" : {
          "error" : {
            "$ref" : "#/components/schemas/Error"
          }
        },
        "required" : [ "error" ],
        "type" : "object"
      },
      "ListModelsResponse" : {
        "example" : {
          "data" : [ {
            "created" : 0,
            "owned_by" : "owned_by",
            "id" : "id",
            "object" : "object"
          }, {
            "created" : 0,
            "owned_by" : "owned_by",
            "id" : "id",
            "object" : "object"
          } ],
          "object" : "object"
        },
        "properties" : {
          "object" : {
            "type" : "string"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Model"
            },
            "type" : "array"
          }
        },
        "required" : [ "data", "object" ],
        "type" : "object"
      },
      "DeleteModelResponse" : {
        "example" : {
          "deleted" : true,
          "id" : "id",
          "object" : "object"
        },
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "object" : {
            "type" : "string"
          },
          "deleted" : {
            "type" : "boolean"
          }
        },
        "required" : [ "deleted", "id", "object" ],
        "type" : "object"
      },
      "CreateCompletionRequest" : {
        "example" : {
          "logit_bias" : "{}",
          "max_tokens" : 16,
          "presence_penalty" : 0.4109824732281613,
          "echo" : false,
          "suffix" : "test.",
          "n" : 1,
          "logprobs" : 0,
          "top_p" : 1,
          "frequency_penalty" : -1.413674807798822,
          "stop" : "\n",
          "best_of" : 11,
          "stream" : false,
          "temperature" : 1,
          "model" : "CreateCompletionRequest_model",
          "prompt" : "This is a test.",
          "user" : "user-1234"
        },
        "properties" : {
          "model" : {
            "$ref" : "#/components/schemas/CreateCompletionRequest_model"
          },
          "prompt" : {
            "$ref" : "#/components/schemas/CreateCompletionRequest_prompt"
          },
          "suffix" : {
            "description" : "The suffix that comes after a completion of inserted text.",
            "example" : "test.",
            "nullable" : true,
            "type" : "string"
          },
          "max_tokens" : {
            "default" : 16,
            "description" : "The maximum number of [tokens](/tokenizer) to generate in the completion.\n\nThe token count of your prompt plus `max_tokens` cannot exceed the model's context length. [Example Python code](https://github.com/openai/openai-cookbook/blob/main/examples/How_to_count_tokens_with_tiktoken.ipynb) for counting tokens.\n",
            "example" : 16,
            "minimum" : 0,
            "nullable" : true,
            "type" : "integer"
          },
          "temperature" : {
            "default" : 1,
            "description" : "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both.\n",
            "example" : 1,
            "maximum" : 2,
            "minimum" : 0,
            "nullable" : true,
            "type" : "number"
          },
          "top_p" : {
            "default" : 1,
            "description" : "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or `temperature` but not both.\n",
            "example" : 1,
            "maximum" : 1,
            "minimum" : 0,
            "nullable" : true,
            "type" : "number"
          },
          "n" : {
            "default" : 1,
            "description" : "How many completions to generate for each prompt.\n\n**Note:** Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for `max_tokens` and `stop`.\n",
            "example" : 1,
            "maximum" : 128,
            "minimum" : 1,
            "nullable" : true,
            "type" : "integer"
          },
          "stream" : {
            "default" : false,
            "description" : "Whether to stream back partial progress. If set, tokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format) as they become available, with the stream terminated by a `data: [DONE]` message. [Example Python code](https://github.com/openai/openai-cookbook/blob/main/examples/How_to_stream_completions.ipynb).\n",
            "nullable" : true,
            "type" : "boolean"
          },
          "logprobs" : {
            "description" : "Include the log probabilities on the `logprobs` most likely tokens, as well the chosen tokens. For example, if `logprobs` is 5, the API will return a list of the 5 most likely tokens. The API will always return the `logprob` of the sampled token, so there may be up to `logprobs+1` elements in the response.\n\nThe maximum value for `logprobs` is 5.\n",
            "maximum" : 5,
            "minimum" : 0,
            "nullable" : true,
            "type" : "integer"
          },
          "echo" : {
            "default" : false,
            "description" : "Echo back the prompt in addition to the completion\n",
            "nullable" : true,
            "type" : "boolean"
          },
          "stop" : {
            "$ref" : "#/components/schemas/CreateCompletionRequest_stop"
          },
          "presence_penalty" : {
            "default" : 0,
            "description" : "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.\n\n[See more information about frequency and presence penalties.](/docs/api-reference/parameter-details)\n",
            "maximum" : 2,
            "minimum" : -2,
            "nullable" : true,
            "type" : "number"
          },
          "frequency_penalty" : {
            "default" : 0,
            "description" : "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.\n\n[See more information about frequency and presence penalties.](/docs/api-reference/parameter-details)\n",
            "maximum" : 2,
            "minimum" : -2,
            "nullable" : true,
            "type" : "number"
          },
          "best_of" : {
            "default" : 1,
            "description" : "Generates `best_of` completions server-side and returns the \"best\" (the one with the highest log probability per token). Results cannot be streamed.\n\nWhen used with `n`, `best_of` controls the number of candidate completions and `n` specifies how many to return – `best_of` must be greater than `n`.\n\n**Note:** Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for `max_tokens` and `stop`.\n",
            "maximum" : 20,
            "minimum" : 0,
            "nullable" : true,
            "type" : "integer"
          },
          "logit_bias" : {
            "description" : "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a json object that maps tokens (specified by their token ID in the GPT tokenizer) to an associated bias value from -100 to 100. You can use this [tokenizer tool](/tokenizer?view=bpe) (which works for both GPT-2 and GPT-3) to convert text to token IDs. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token.\n\nAs an example, you can pass `{\"50256\": -100}` to prevent the <|endoftext|> token from being generated.\n",
            "nullable" : true,
            "type" : "object",
            "x-oaiTypeLabel" : "map"
          },
          "user" : {
            "description" : "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids).\n",
            "example" : "user-1234",
            "type" : "string"
          }
        },
        "required" : [ "model", "prompt" ],
        "type" : "object"
      },
      "CreateCompletionResponse" : {
        "example" : {
          "created" : 0,
          "usage" : {
            "completion_tokens" : 5,
            "prompt_tokens" : 1,
            "total_tokens" : 5
          },
          "model" : "model",
          "id" : "id",
          "choices" : [ {
            "finish_reason" : "stop",
            "index" : 6,
            "text" : "text",
            "logprobs" : {
              "top_logprobs" : [ "{}", "{}" ],
              "token_logprobs" : [ 1.4658129805029452, 1.4658129805029452 ],
              "tokens" : [ "tokens", "tokens" ],
              "text_offset" : [ 5, 5 ]
            }
          }, {
            "finish_reason" : "stop",
            "index" : 6,
            "text" : "text",
            "logprobs" : {
              "top_logprobs" : [ "{}", "{}" ],
              "token_logprobs" : [ 1.4658129805029452, 1.4658129805029452 ],
              "tokens" : [ "tokens", "tokens" ],
              "text_offset" : [ 5, 5 ]
            }
          } ],
          "object" : "object"
        },
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "object" : {
            "type" : "string"
          },
          "created" : {
            "type" : "integer"
          },
          "model" : {
            "type" : "string"
          },
          "choices" : {
            "items" : {
              "$ref" : "#/components/schemas/CreateCompletionResponse_choices_inner"
            },
            "type" : "array"
          },
          "usage" : {
            "$ref" : "#/components/schemas/CreateCompletionResponse_usage"
          }
        },
        "required" : [ "choices", "created", "id", "model", "object" ],
        "type" : "object"
      },
      "ChatCompletionRequestMessage" : {
        "example" : {
          "role" : "system",
          "function_call" : {
            "name" : "name",
            "arguments" : "arguments"
          },
          "name" : "name",
          "content" : "content"
        },
        "properties" : {
          "role" : {
            "description" : "The role of the messages author. One of `system`, `user`, `assistant`, or `function`.",
            "enum" : [ "system", "user", "assistant", "function" ],
            "type" : "string"
          },
          "content" : {
            "description" : "The contents of the message. `content` is required for all messages except assistant messages with function calls.",
            "type" : "string"
          },
          "name" : {
            "description" : "The name of the author of this message. `name` is required if role is `function`, and it should be the name of the function whose response is in the `content`. May contain a-z, A-Z, 0-9, and underscores, with a maximum length of 64 characters.",
            "type" : "string"
          },
          "function_call" : {
            "$ref" : "#/components/schemas/ChatCompletionRequestMessage_function_call"
          }
        },
        "required" : [ "role" ],
        "type" : "object"
      },
      "ChatCompletionFunctionParameters" : {
        "additionalProperties" : true,
        "description" : "The parameters the functions accepts, described as a JSON Schema object. See the [guide](/docs/guides/gpt/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format.",
        "type" : "object"
      },
      "ChatCompletionFunctions" : {
        "example" : {
          "name" : "name",
          "description" : "description",
          "parameters" : {
            "key" : ""
          }
        },
        "properties" : {
          "name" : {
            "description" : "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "type" : "string"
          },
          "description" : {
            "description" : "The description of what the function does.",
            "type" : "string"
          },
          "parameters" : {
            "additionalProperties" : true,
            "description" : "The parameters the functions accepts, described as a JSON Schema object. See the [guide](/docs/guides/gpt/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format.",
            "type" : "object"
          }
        },
        "required" : [ "name" ],
        "type" : "object"
      },
      "ChatCompletionResponseMessage" : {
        "example" : {
          "role" : "system",
          "function_call" : {
            "name" : "name",
            "arguments" : "arguments"
          },
          "content" : "content"
        },
        "properties" : {
          "role" : {
            "description" : "The role of the author of this message.",
            "enum" : [ "system", "user", "assistant", "function" ],
            "type" : "string"
          },
          "content" : {
            "description" : "The contents of the message.",
            "nullable" : true,
            "type" : "string"
          },
          "function_call" : {
            "$ref" : "#/components/schemas/ChatCompletionRequestMessage_function_call"
          }
        },
        "required" : [ "role" ],
        "type" : "object"
      },
      "ChatCompletionStreamResponseDelta" : {
        "properties" : {
          "role" : {
            "description" : "The role of the author of this message.",
            "enum" : [ "system", "user", "assistant", "function" ],
            "type" : "string"
          },
          "content" : {
            "description" : "The contents of the chunk message.",
            "nullable" : true,
            "type" : "string"
          },
          "function_call" : {
            "$ref" : "#/components/schemas/ChatCompletionRequestMessage_function_call"
          }
        },
        "type" : "object"
      },
      "CreateChatCompletionRequest" : {
        "example" : {
          "logit_bias" : "{}",
          "functions" : [ {
            "name" : "name",
            "description" : "description",
            "parameters" : {
              "key" : ""
            }
          }, {
            "name" : "name",
            "description" : "description",
            "parameters" : {
              "key" : ""
            }
          } ],
          "function_call" : "none",
          "max_tokens" : 0,
          "presence_penalty" : 0.4109824732281613,
          "n" : 1,
          "top_p" : 1,
          "frequency_penalty" : -1.413674807798822,
          "stop" : "CreateChatCompletionRequest_stop",
          "stream" : false,
          "temperature" : 1,
          "messages" : [ {
            "role" : "system",
            "function_call" : {
              "name" : "name",
              "arguments" : "arguments"
            },
            "name" : "name",
            "content" : "content"
          }, {
            "role" : "system",
            "function_call" : {
              "name" : "name",
              "arguments" : "arguments"
            },
            "name" : "name",
            "content" : "content"
          } ],
          "model" : "gpt-3.5-turbo",
          "user" : "user-1234"
        },
        "properties" : {
          "model" : {
            "$ref" : "#/components/schemas/CreateChatCompletionRequest_model"
          },
          "messages" : {
            "description" : "A list of messages comprising the conversation so far. [Example Python code](https://github.com/openai/openai-cookbook/blob/main/examples/How_to_format_inputs_to_ChatGPT_models.ipynb).",
            "items" : {
              "$ref" : "#/components/schemas/ChatCompletionRequestMessage"
            },
            "minItems" : 1,
            "type" : "array"
          },
          "functions" : {
            "description" : "A list of functions the model may generate JSON inputs for.",
            "items" : {
              "$ref" : "#/components/schemas/ChatCompletionFunctions"
            },
            "minItems" : 1,
            "type" : "array"
          },
          "function_call" : {
            "$ref" : "#/components/schemas/CreateChatCompletionRequest_function_call"
          },
          "temperature" : {
            "default" : 1,
            "description" : "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both.\n",
            "example" : 1,
            "maximum" : 2,
            "minimum" : 0,
            "nullable" : true,
            "type" : "number"
          },
          "top_p" : {
            "default" : 1,
            "description" : "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or `temperature` but not both.\n",
            "example" : 1,
            "maximum" : 1,
            "minimum" : 0,
            "nullable" : true,
            "type" : "number"
          },
          "n" : {
            "default" : 1,
            "description" : "How many chat completion choices to generate for each input message.",
            "example" : 1,
            "maximum" : 128,
            "minimum" : 1,
            "nullable" : true,
            "type" : "integer"
          },
          "stream" : {
            "default" : false,
            "description" : "If set, partial message deltas will be sent, like in ChatGPT. Tokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format) as they become available, with the stream terminated by a `data: [DONE]` message. [Example Python code](https://github.com/openai/openai-cookbook/blob/main/examples/How_to_stream_completions.ipynb).\n",
            "nullable" : true,
            "type" : "boolean"
          },
          "stop" : {
            "$ref" : "#/components/schemas/CreateChatCompletionRequest_stop"
          },
          "max_tokens" : {
            "description" : "The maximum number of [tokens](/tokenizer) to generate in the chat completion.\n\nThe total length of input tokens and generated tokens is limited by the model's context length. [Example Python code](https://github.com/openai/openai-cookbook/blob/main/examples/How_to_count_tokens_with_tiktoken.ipynb) for counting tokens.\n",
            "type" : "integer"
          },
          "presence_penalty" : {
            "default" : 0,
            "description" : "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.\n\n[See more information about frequency and presence penalties.](/docs/api-reference/parameter-details)\n",
            "maximum" : 2,
            "minimum" : -2,
            "nullable" : true,
            "type" : "number"
          },
          "frequency_penalty" : {
            "default" : 0,
            "description" : "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.\n\n[See more information about frequency and presence penalties.](/docs/api-reference/parameter-details)\n",
            "maximum" : 2,
            "minimum" : -2,
            "nullable" : true,
            "type" : "number"
          },
          "logit_bias" : {
            "description" : "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a json object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token.\n",
            "nullable" : true,
            "type" : "object",
            "x-oaiTypeLabel" : "map"
          },
          "user" : {
            "description" : "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids).\n",
            "example" : "user-1234",
            "type" : "string"
          }
        },
        "required" : [ "messages", "model" ],
        "type" : "object"
      },
      "CreateChatCompletionResponse" : {
        "example" : {
          "created" : 0,
          "usage" : {
            "completion_tokens" : 5,
            "prompt_tokens" : 1,
            "total_tokens" : 5
          },
          "model" : "model",
          "id" : "id",
          "choices" : [ {
            "finish_reason" : "stop",
            "index" : 6,
            "message" : {
              "role" : "system",
              "function_call" : {
                "name" : "name",
                "arguments" : "arguments"
              },
              "content" : "content"
            }
          }, {
            "finish_reason" : "stop",
            "index" : 6,
            "message" : {
              "role" : "system",
              "function_call" : {
                "name" : "name",
                "arguments" : "arguments"
              },
              "content" : "content"
            }
          } ],
          "object" : "object"
        },
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "object" : {
            "type" : "string"
          },
          "created" : {
            "type" : "integer"
          },
          "model" : {
            "type" : "string"
          },
          "choices" : {
            "items" : {
              "$ref" : "#/components/schemas/CreateChatCompletionResponse_choices_inner"
            },
            "type" : "array"
          },
          "usage" : {
            "$ref" : "#/components/schemas/CreateCompletionResponse_usage"
          }
        },
        "required" : [ "choices", "created", "id", "model", "object" ],
        "type" : "object"
      },
      "CreateChatCompletionStreamResponse" : {
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "object" : {
            "type" : "string"
          },
          "created" : {
            "type" : "integer"
          },
          "model" : {
            "type" : "string"
          },
          "choices" : {
            "items" : {
              "$ref" : "#/components/schemas/CreateChatCompletionStreamResponse_choices_inner"
            },
            "type" : "array"
          }
        },
        "required" : [ "choices", "created", "id", "model", "object" ],
        "type" : "object"
      },
      "CreateEditRequest" : {
        "example" : {
          "top_p" : 1,
          "input" : "What day of the wek is it?",
          "instruction" : "Fix the spelling mistakes.",
          "temperature" : 1,
          "model" : "text-davinci-edit-001",
          "n" : 1
        },
        "properties" : {
          "model" : {
            "$ref" : "#/components/schemas/CreateEditRequest_model"
          },
          "input" : {
            "default" : "",
            "description" : "The input text to use as a starting point for the edit.",
            "example" : "What day of the wek is it?",
            "nullable" : true,
            "type" : "string"
          },
          "instruction" : {
            "description" : "The instruction that tells the model how to edit the prompt.",
            "example" : "Fix the spelling mistakes.",
            "type" : "string"
          },
          "n" : {
            "default" : 1,
            "description" : "How many edits to generate for the input and instruction.",
            "example" : 1,
            "maximum" : 20,
            "minimum" : 1,
            "nullable" : true,
            "type" : "integer"
          },
          "temperature" : {
            "default" : 1,
            "description" : "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both.\n",
            "example" : 1,
            "maximum" : 2,
            "minimum" : 0,
            "nullable" : true,
            "type" : "number"
          },
          "top_p" : {
            "default" : 1,
            "description" : "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or `temperature` but not both.\n",
            "example" : 1,
            "maximum" : 1,
            "minimum" : 0,
            "nullable" : true,
            "type" : "number"
          }
        },
        "required" : [ "instruction", "model" ],
        "type" : "object"
      },
      "CreateEditResponse" : {
        "example" : {
          "created" : 0,
          "usage" : {
            "completion_tokens" : 5,
            "prompt_tokens" : 1,
            "total_tokens" : 5
          },
          "choices" : [ {
            "finish_reason" : "stop",
            "index" : 6,
            "text" : "text",
            "logprobs" : {
              "top_logprobs" : [ "{}", "{}" ],
              "token_logprobs" : [ 1.4658129805029452, 1.4658129805029452 ],
              "tokens" : [ "tokens", "tokens" ],
              "text_offset" : [ 5, 5 ]
            }
          }, {
            "finish_reason" : "stop",
            "index" : 6,
            "text" : "text",
            "logprobs" : {
              "top_logprobs" : [ "{}", "{}" ],
              "token_logprobs" : [ 1.4658129805029452, 1.4658129805029452 ],
              "tokens" : [ "tokens", "tokens" ],
              "text_offset" : [ 5, 5 ]
            }
          } ],
          "object" : "object"
        },
        "properties" : {
          "object" : {
            "type" : "string"
          },
          "created" : {
            "type" : "integer"
          },
          "choices" : {
            "items" : {
              "$ref" : "#/components/schemas/CreateEditResponse_choices_inner"
            },
            "type" : "array"
          },
          "usage" : {
            "$ref" : "#/components/schemas/CreateCompletionResponse_usage"
          }
        },
        "required" : [ "choices", "created", "object", "usage" ],
        "type" : "object"
      },
      "CreateImageRequest" : {
        "example" : {
          "response_format" : "url",
          "size" : "1024x1024",
          "prompt" : "A cute baby sea otter",
          "user" : "user-1234",
          "n" : 1
        },
        "properties" : {
          "prompt" : {
            "description" : "A text description of the desired image(s). The maximum length is 1000 characters.",
            "example" : "A cute baby sea otter",
            "type" : "string"
          },
          "n" : {
            "default" : 1,
            "description" : "The number of images to generate. Must be between 1 and 10.",
            "example" : 1,
            "maximum" : 10,
            "minimum" : 1,
            "nullable" : true,
            "type" : "integer"
          },
          "size" : {
            "default" : "1024x1024",
            "description" : "The size of the generated images. Must be one of `256x256`, `512x512`, or `1024x1024`.",
            "enum" : [ "256x256", "512x512", "1024x1024" ],
            "example" : "1024x1024",
            "nullable" : true,
            "type" : "string"
          },
          "response_format" : {
            "default" : "url",
            "description" : "The format in which the generated images are returned. Must be one of `url` or `b64_json`.",
            "enum" : [ "url", "b64_json" ],
            "example" : "url",
            "nullable" : true,
            "type" : "string"
          },
          "user" : {
            "description" : "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids).\n",
            "example" : "user-1234",
            "type" : "string"
          }
        },
        "required" : [ "prompt" ],
        "type" : "object"
      },
      "ImagesResponse" : {
        "example" : {
          "data" : [ {
            "b64_json" : "b64_json",
            "url" : "url"
          }, {
            "b64_json" : "b64_json",
            "url" : "url"
          } ],
          "created" : 0
        },
        "properties" : {
          "created" : {
            "type" : "integer"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/ImagesResponse_data_inner"
            },
            "type" : "array"
          }
        },
        "required" : [ "created", "data" ]
      },
      "CreateImageEditRequest" : {
        "properties" : {
          "image" : {
            "description" : "The image to edit. Must be a valid PNG file, less than 4MB, and square. If mask is not provided, image must have transparency, which will be used as the mask.",
            "format" : "binary",
            "type" : "string"
          },
          "mask" : {
            "description" : "An additional image whose fully transparent areas (e.g. where alpha is zero) indicate where `image` should be edited. Must be a valid PNG file, less than 4MB, and have the same dimensions as `image`.",
            "format" : "binary",
            "type" : "string"
          },
          "prompt" : {
            "description" : "A text description of the desired image(s). The maximum length is 1000 characters.",
            "example" : "A cute baby sea otter wearing a beret",
            "type" : "string"
          },
          "n" : {
            "default" : 1,
            "description" : "The number of images to generate. Must be between 1 and 10.",
            "example" : 1,
            "maximum" : 10,
            "minimum" : 1,
            "nullable" : true,
            "type" : "integer"
          },
          "size" : {
            "default" : "1024x1024",
            "description" : "The size of the generated images. Must be one of `256x256`, `512x512`, or `1024x1024`.",
            "enum" : [ "256x256", "512x512", "1024x1024" ],
            "example" : "1024x1024",
            "nullable" : true,
            "type" : "string"
          },
          "response_format" : {
            "default" : "url",
            "description" : "The format in which the generated images are returned. Must be one of `url` or `b64_json`.",
            "enum" : [ "url", "b64_json" ],
            "example" : "url",
            "nullable" : true,
            "type" : "string"
          },
          "user" : {
            "description" : "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids).\n",
            "example" : "user-1234",
            "type" : "string"
          }
        },
        "required" : [ "image", "prompt" ],
        "type" : "object"
      },
      "CreateImageVariationRequest" : {
        "properties" : {
          "image" : {
            "description" : "The image to use as the basis for the variation(s). Must be a valid PNG file, less than 4MB, and square.",
            "format" : "binary",
            "type" : "string"
          },
          "n" : {
            "default" : 1,
            "description" : "The number of images to generate. Must be between 1 and 10.",
            "example" : 1,
            "maximum" : 10,
            "minimum" : 1,
            "nullable" : true,
            "type" : "integer"
          },
          "size" : {
            "default" : "1024x1024",
            "description" : "The size of the generated images. Must be one of `256x256`, `512x512`, or `1024x1024`.",
            "enum" : [ "256x256", "512x512", "1024x1024" ],
            "example" : "1024x1024",
            "nullable" : true,
            "type" : "string"
          },
          "response_format" : {
            "default" : "url",
            "description" : "The format in which the generated images are returned. Must be one of `url` or `b64_json`.",
            "enum" : [ "url", "b64_json" ],
            "example" : "url",
            "nullable" : true,
            "type" : "string"
          },
          "user" : {
            "description" : "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids).\n",
            "example" : "user-1234",
            "type" : "string"
          }
        },
        "required" : [ "image" ],
        "type" : "object"
      },
      "CreateModerationRequest" : {
        "example" : {
          "input" : "I want to kill them.",
          "model" : "text-moderation-stable"
        },
        "properties" : {
          "input" : {
            "$ref" : "#/components/schemas/CreateModerationRequest_input"
          },
          "model" : {
            "$ref" : "#/components/schemas/CreateModerationRequest_model"
          }
        },
        "required" : [ "input" ],
        "type" : "object"
      },
      "CreateModerationResponse" : {
        "example" : {
          "model" : "model",
          "id" : "id",
          "results" : [ {
            "category_scores" : {
              "hate/threatening" : 6.027456183070403,
              "sexual/minors" : 5.637376656633329,
              "hate" : 0.8008281904610115,
              "self-harm" : 1.4658129805029452,
              "sexual" : 5.962133916683182,
              "violence/graphic" : 7.061401241503109,
              "violence" : 2.3021358869347655
            },
            "flagged" : true,
            "categories" : {
              "hate/threatening" : true,
              "sexual/minors" : true,
              "hate" : true,
              "self-harm" : true,
              "sexual" : true,
              "violence/graphic" : true,
              "violence" : true
            }
          }, {
            "category_scores" : {
              "hate/threatening" : 6.027456183070403,
              "sexual/minors" : 5.637376656633329,
              "hate" : 0.8008281904610115,
              "self-harm" : 1.4658129805029452,
              "sexual" : 5.962133916683182,
              "violence/graphic" : 7.061401241503109,
              "violence" : 2.3021358869347655
            },
            "flagged" : true,
            "categories" : {
              "hate/threatening" : true,
              "sexual/minors" : true,
              "hate" : true,
              "self-harm" : true,
              "sexual" : true,
              "violence/graphic" : true,
              "violence" : true
            }
          } ]
        },
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "model" : {
            "type" : "string"
          },
          "results" : {
            "items" : {
              "$ref" : "#/components/schemas/CreateModerationResponse_results_inner"
            },
            "type" : "array"
          }
        },
        "required" : [ "id", "model", "results" ],
        "type" : "object"
      },
      "ListFilesResponse" : {
        "example" : {
          "data" : [ {
            "filename" : "filename",
            "purpose" : "purpose",
            "bytes" : 0,
            "created_at" : 6,
            "id" : "id",
            "status_details" : "{}",
            "object" : "object",
            "status" : "status"
          }, {
            "filename" : "filename",
            "purpose" : "purpose",
            "bytes" : 0,
            "created_at" : 6,
            "id" : "id",
            "status_details" : "{}",
            "object" : "object",
            "status" : "status"
          } ],
          "object" : "object"
        },
        "properties" : {
          "object" : {
            "type" : "string"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/OpenAIFile"
            },
            "type" : "array"
          }
        },
        "required" : [ "data", "object" ],
        "type" : "object"
      },
      "CreateFileRequest" : {
        "additionalProperties" : false,
        "properties" : {
          "file" : {
            "description" : "Name of the [JSON Lines](https://jsonlines.readthedocs.io/en/latest/) file to be uploaded.\n\nIf the `purpose` is set to \"fine-tune\", each line is a JSON record with \"prompt\" and \"completion\" fields representing your [training examples](/docs/guides/fine-tuning/prepare-training-data).\n",
            "format" : "binary",
            "type" : "string"
          },
          "purpose" : {
            "description" : "The intended purpose of the uploaded documents.\n\nUse \"fine-tune\" for [Fine-tuning](/docs/api-reference/fine-tunes). This allows us to validate the format of the uploaded file.\n",
            "type" : "string"
          }
        },
        "required" : [ "file", "purpose" ],
        "type" : "object"
      },
      "DeleteFileResponse" : {
        "example" : {
          "deleted" : true,
          "id" : "id",
          "object" : "object"
        },
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "object" : {
            "type" : "string"
          },
          "deleted" : {
            "type" : "boolean"
          }
        },
        "required" : [ "deleted", "id", "object" ],
        "type" : "object"
      },
      "CreateFineTuneRequest" : {
        "example" : {
          "training_file" : "file-ajSREls59WBbvgSzJSVWxMCB",
          "n_epochs" : 0,
          "batch_size" : 6,
          "classification_n_classes" : 5,
          "validation_file" : "file-XjSREls59WBbvgSzJSVWxMCa",
          "classification_betas" : [ 0.6, 1, 1.5, 2 ],
          "prompt_loss_weight" : 5.962133916683182,
          "model" : "curie",
          "compute_classification_metrics" : false,
          "classification_positive_class" : "classification_positive_class",
          "suffix" : "suffix",
          "learning_rate_multiplier" : 1.4658129805029452
        },
        "properties" : {
          "training_file" : {
            "description" : "The ID of an uploaded file that contains training data.\n\nSee [upload file](/docs/api-reference/files/upload) for how to upload a file.\n\nYour dataset must be formatted as a JSONL file, where each training\nexample is a JSON object with the keys \"prompt\" and \"completion\".\nAdditionally, you must upload your file with the purpose `fine-tune`.\n\nSee the [fine-tuning guide](/docs/guides/fine-tuning/creating-training-data) for more details.\n",
            "example" : "file-ajSREls59WBbvgSzJSVWxMCB",
            "type" : "string"
          },
          "validation_file" : {
            "description" : "The ID of an uploaded file that contains validation data.\n\nIf you provide this file, the data is used to generate validation\nmetrics periodically during fine-tuning. These metrics can be viewed in\nthe [fine-tuning results file](/docs/guides/fine-tuning/analyzing-your-fine-tuned-model).\nYour train and validation data should be mutually exclusive.\n\nYour dataset must be formatted as a JSONL file, where each validation\nexample is a JSON object with the keys \"prompt\" and \"completion\".\nAdditionally, you must upload your file with the purpose `fine-tune`.\n\nSee the [fine-tuning guide](/docs/guides/fine-tuning/creating-training-data) for more details.\n",
            "example" : "file-XjSREls59WBbvgSzJSVWxMCa",
            "nullable" : true,
            "type" : "string"
          },
          "model" : {
            "$ref" : "#/components/schemas/CreateFineTuneRequest_model"
          },
          "n_epochs" : {
            "default" : 4,
            "description" : "The number of epochs to train the model for. An epoch refers to one\nfull cycle through the training dataset.\n",
            "nullable" : true,
            "type" : "integer"
          },
          "batch_size" : {
            "description" : "The batch size to use for training. The batch size is the number of\ntraining examples used to train a single forward and backward pass.\n\nBy default, the batch size will be dynamically configured to be\n~0.2% of the number of examples in the training set, capped at 256 -\nin general, we've found that larger batch sizes tend to work better\nfor larger datasets.\n",
            "nullable" : true,
            "type" : "integer"
          },
          "learning_rate_multiplier" : {
            "description" : "The learning rate multiplier to use for training.\nThe fine-tuning learning rate is the original learning rate used for\npretraining multiplied by this value.\n\nBy default, the learning rate multiplier is the 0.05, 0.1, or 0.2\ndepending on final `batch_size` (larger learning rates tend to\nperform better with larger batch sizes). We recommend experimenting\nwith values in the range 0.02 to 0.2 to see what produces the best\nresults.\n",
            "nullable" : true,
            "type" : "number"
          },
          "prompt_loss_weight" : {
            "default" : 0.01,
            "description" : "The weight to use for loss on the prompt tokens. This controls how\nmuch the model tries to learn to generate the prompt (as compared\nto the completion which always has a weight of 1.0), and can add\na stabilizing effect to training when completions are short.\n\nIf prompts are extremely long (relative to completions), it may make\nsense to reduce this weight so as to avoid over-prioritizing\nlearning the prompt.\n",
            "nullable" : true,
            "type" : "number"
          },
          "compute_classification_metrics" : {
            "default" : false,
            "description" : "If set, we calculate classification-specific metrics such as accuracy\nand F-1 score using the validation set at the end of every epoch.\nThese metrics can be viewed in the [results file](/docs/guides/fine-tuning/analyzing-your-fine-tuned-model).\n\nIn order to compute classification metrics, you must provide a\n`validation_file`. Additionally, you must\nspecify `classification_n_classes` for multiclass classification or\n`classification_positive_class` for binary classification.\n",
            "nullable" : true,
            "type" : "boolean"
          },
          "classification_n_classes" : {
            "description" : "The number of classes in a classification task.\n\nThis parameter is required for multiclass classification.\n",
            "nullable" : true,
            "type" : "integer"
          },
          "classification_positive_class" : {
            "description" : "The positive class in binary classification.\n\nThis parameter is needed to generate precision, recall, and F1\nmetrics when doing binary classification.\n",
            "nullable" : true,
            "type" : "string"
          },
          "classification_betas" : {
            "description" : "If this is provided, we calculate F-beta scores at the specified\nbeta values. The F-beta score is a generalization of F-1 score.\nThis is only used for binary classification.\n\nWith a beta of 1 (i.e. the F-1 score), precision and recall are\ngiven the same weight. A larger beta score puts more weight on\nrecall and less on precision. A smaller beta score puts more weight\non precision and less on recall.\n",
            "example" : [ 0.6, 1, 1.5, 2 ],
            "items" : {
              "type" : "number"
            },
            "nullable" : true,
            "type" : "array"
          },
          "suffix" : {
            "description" : "A string of up to 40 characters that will be added to your fine-tuned model name.\n\nFor example, a `suffix` of \"custom-model-name\" would produce a model name like `ada:ft-your-org:custom-model-name-2022-02-15-04-21-04`.\n",
            "maxLength" : 40,
            "minLength" : 1,
            "nullable" : true,
            "type" : "string"
          }
        },
        "required" : [ "training_file" ],
        "type" : "object"
      },
      "ListFineTunesResponse" : {
        "example" : {
          "data" : [ {
            "result_files" : [ {
              "filename" : "filename",
              "purpose" : "purpose",
              "bytes" : 0,
              "created_at" : 6,
              "id" : "id",
              "status_details" : "{}",
              "object" : "object",
              "status" : "status"
            }, {
              "filename" : "filename",
              "purpose" : "purpose",
              "bytes" : 0,
              "created_at" : 6,
              "id" : "id",
              "status_details" : "{}",
              "object" : "object",
              "status" : "status"
            } ],
            "hyperparams" : "{}",
            "fine_tuned_model" : "fine_tuned_model",
            "created_at" : 0,
            "training_files" : [ {
              "filename" : "filename",
              "purpose" : "purpose",
              "bytes" : 0,
              "created_at" : 6,
              "id" : "id",
              "status_details" : "{}",
              "object" : "object",
              "status" : "status"
            }, {
              "filename" : "filename",
              "purpose" : "purpose",
              "bytes" : 0,
              "created_at" : 6,
              "id" : "id",
              "status_details" : "{}",
              "object" : "object",
              "status" : "status"
            } ],
            "updated_at" : 6,
            "organization_id" : "organization_id",
            "model" : "model",
            "id" : "id",
            "events" : [ {
              "level" : "level",
              "created_at" : 1,
              "message" : "message",
              "object" : "object"
            }, {
              "level" : "level",
              "created_at" : 1,
              "message" : "message",
              "object" : "object"
            } ],
            "object" : "object",
            "status" : "status",
            "validation_files" : [ {
[...]
