/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AudioResponseFormat
import java.math.BigDecimal
import org.openapitools.client.model.CreateSpeechRequest
import org.openapitools.client.model.CreateTranscription200Response
import org.openapitools.client.model.CreateTranscriptionRequestModel
import org.openapitools.client.model.CreateTranslation200Response
import java.io.File
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AudioApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new AudioApi(baseUrl)
}

class AudioApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : File (OK)
   *              Headers :
   *                Transfer-Encoding - chunked
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param createSpeechRequest 
   */
  def createSpeech(createSpeechRequest: CreateSpeechRequest)(implicit bearerToken: BearerToken): ApiRequest[File] =
    ApiRequest[File](ApiMethods.POST, baseUrl, "/audio/speech", "application/json")
      .withCredentials(bearerToken).withBody(createSpeechRequest)
      .withSuccessResponse[File](200)
      
  object CreateSpeechHeaders {
    def transferEncoding(r: ApiReturnWithHeaders) = r.getStringHeader("Transfer-Encoding")
  }

  /**
   * Expected answers:
   *   code 200 : CreateTranscription200Response (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param file The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm. 
   * @param model 
   * @param language The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format will improve accuracy and latency. 
   * @param prompt An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should match the audio language. 
   * @param responseFormat 
   * @param temperature The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit. 
   * @param timestampGranularities The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency. 
   */
  def createTranscription(file: File, model: CreateTranscriptionRequestModel, language: Option[String] = None, prompt: Option[String] = None, responseFormat: Option[AudioResponseFormat] = None, temperature: Option[BigDecimal] = None, timestampGranularities: Seq[String])(implicit bearerToken: BearerToken): ApiRequest[CreateTranscription200Response] =
    ApiRequest[CreateTranscription200Response](ApiMethods.POST, baseUrl, "/audio/transcriptions", "multipart/form-data")
      .withCredentials(bearerToken).withFormParam("file", file)
      .withFormParam("model", model)
      .withFormParam("language", language)
      .withFormParam("prompt", prompt)
      .withFormParam("response_format", responseFormat)
      .withFormParam("temperature", temperature)
      .withFormParam("timestamp_granularities[]", ArrayValues(timestampGranularities, CSV))
      .withSuccessResponse[CreateTranscription200Response](200)
      

  /**
   * Expected answers:
   *   code 200 : CreateTranslation200Response (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param file The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm. 
   * @param model 
   * @param prompt An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should be in English. 
   * @param responseFormat 
   * @param temperature The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit. 
   */
  def createTranslation(file: File, model: CreateTranscriptionRequestModel, prompt: Option[String] = None, responseFormat: Option[AudioResponseFormat] = None, temperature: Option[BigDecimal] = None)(implicit bearerToken: BearerToken): ApiRequest[CreateTranslation200Response] =
    ApiRequest[CreateTranslation200Response](ApiMethods.POST, baseUrl, "/audio/translations", "multipart/form-data")
      .withCredentials(bearerToken).withFormParam("file", file)
      .withFormParam("model", model)
      .withFormParam("prompt", prompt)
      .withFormParam("response_format", responseFormat)
      .withFormParam("temperature", temperature)
      .withSuccessResponse[CreateTranslation200Response](200)
      



}

