/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdminApiKey
import org.openapitools.client.model.AdminApiKeysCreateRequest
import org.openapitools.client.model.AdminApiKeysDelete200Response
import org.openapitools.client.model.ApiKeyList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DefaultApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new DefaultApi(baseUrl)
}

class DefaultApi(baseUrl: String) {

  /**
   * Create a new admin-level API key for the organization.
   * 
   * Expected answers:
   *   code 200 : AdminApiKey (The newly created admin API key.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param adminApiKeysCreateRequest 
   */
  def adminApiKeysCreate(adminApiKeysCreateRequest: AdminApiKeysCreateRequest)(implicit bearerToken: BearerToken): ApiRequest[AdminApiKey] =
    ApiRequest[AdminApiKey](ApiMethods.POST, baseUrl, "/organization/admin_api_keys", "application/json")
      .withCredentials(bearerToken).withBody(adminApiKeysCreateRequest)
      .withSuccessResponse[AdminApiKey](200)
      

  /**
   * Delete the specified admin API key.
   * 
   * Expected answers:
   *   code 200 : AdminApiKeysDelete200Response (Confirmation that the API key was deleted.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param keyId 
   */
  def adminApiKeysDelete(keyId: String)(implicit bearerToken: BearerToken): ApiRequest[AdminApiKeysDelete200Response] =
    ApiRequest[AdminApiKeysDelete200Response](ApiMethods.DELETE, baseUrl, "/organization/admin_api_keys/{key_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("key_id", keyId)
      .withSuccessResponse[AdminApiKeysDelete200Response](200)
      

  /**
   * Get details for a specific organization API key by its ID.
   * 
   * Expected answers:
   *   code 200 : AdminApiKey (Details of the requested API key.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param keyId 
   */
  def adminApiKeysGet(keyId: String)(implicit bearerToken: BearerToken): ApiRequest[AdminApiKey] =
    ApiRequest[AdminApiKey](ApiMethods.GET, baseUrl, "/organization/admin_api_keys/{key_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("key_id", keyId)
      .withSuccessResponse[AdminApiKey](200)
      

  /**
   * Retrieve a paginated list of organization admin API keys.
   * 
   * Expected answers:
   *   code 200 : ApiKeyList (A list of organization API keys.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param after 
   * @param order 
   * @param limit 
   */
  def adminApiKeysList(after: Option[String] = None, order: Option[String] = None, limit: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[ApiKeyList] =
    ApiRequest[ApiKeyList](ApiMethods.GET, baseUrl, "/organization/admin_api_keys", "application/json")
      .withCredentials(bearerToken).withQueryParam("after", after)
      .withQueryParam("order", order)
      .withQueryParam("limit", limit)
      .withSuccessResponse[ApiKeyList](200)
      



}

