/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Invite
import org.openapitools.client.model.InviteDeleteResponse
import org.openapitools.client.model.InviteListResponse
import org.openapitools.client.model.InviteRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object InvitesApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new InvitesApi(baseUrl)
}

class InvitesApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : InviteDeleteResponse (Invite deleted successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param inviteId The ID of the invite to delete.
   */
  def deleteInvite(inviteId: String)(implicit bearerToken: BearerToken): ApiRequest[InviteDeleteResponse] =
    ApiRequest[InviteDeleteResponse](ApiMethods.DELETE, baseUrl, "/organization/invites/{invite_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("invite_id", inviteId)
      .withSuccessResponse[InviteDeleteResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Invite (User invited successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param inviteRequest The invite request payload.
   */
  def inviteUser(inviteRequest: InviteRequest)(implicit bearerToken: BearerToken): ApiRequest[Invite] =
    ApiRequest[Invite](ApiMethods.POST, baseUrl, "/organization/invites", "application/json")
      .withCredentials(bearerToken).withBody(inviteRequest)
      .withSuccessResponse[Invite](200)
      

  /**
   * Expected answers:
   *   code 200 : InviteListResponse (Invites listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   */
  def listInvites(limit: Option[Int] = None, after: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[InviteListResponse] =
    ApiRequest[InviteListResponse](ApiMethods.GET, baseUrl, "/organization/invites", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withSuccessResponse[InviteListResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Invite (Invite retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param inviteId The ID of the invite to retrieve.
   */
  def retrieveInvite(inviteId: String)(implicit bearerToken: BearerToken): ApiRequest[Invite] =
    ApiRequest[Invite](ApiMethods.GET, baseUrl, "/organization/invites/{invite_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("invite_id", inviteId)
      .withSuccessResponse[Invite](200)
      



}

