/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DeleteModelResponse
import org.openapitools.client.model.ListModelsResponse
import org.openapitools.client.model.Model
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ModelsApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new ModelsApi(baseUrl)
}

class ModelsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : DeleteModelResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param model The model to delete
   */
  def deleteModel(model: String)(implicit bearerToken: BearerToken): ApiRequest[DeleteModelResponse] =
    ApiRequest[DeleteModelResponse](ApiMethods.DELETE, baseUrl, "/models/{model}", "application/json")
      .withCredentials(bearerToken).withPathParam("model", model)
      .withSuccessResponse[DeleteModelResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ListModelsResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   */
  def listModels()(implicit bearerToken: BearerToken): ApiRequest[ListModelsResponse] =
    ApiRequest[ListModelsResponse](ApiMethods.GET, baseUrl, "/models", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ListModelsResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Model (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param model The ID of the model to use for this request
   */
  def retrieveModel(model: String)(implicit bearerToken: BearerToken): ApiRequest[Model] =
    ApiRequest[Model](ApiMethods.GET, baseUrl, "/models/{model}", "application/json")
      .withCredentials(bearerToken).withPathParam("model", model)
      .withSuccessResponse[Model](200)
      



}

