/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ErrorResponse
import org.openapitools.client.model.Project
import org.openapitools.client.model.ProjectApiKey
import org.openapitools.client.model.ProjectApiKeyDeleteResponse
import org.openapitools.client.model.ProjectApiKeyListResponse
import org.openapitools.client.model.ProjectCreateRequest
import org.openapitools.client.model.ProjectListResponse
import org.openapitools.client.model.ProjectRateLimit
import org.openapitools.client.model.ProjectRateLimitListResponse
import org.openapitools.client.model.ProjectRateLimitUpdateRequest
import org.openapitools.client.model.ProjectServiceAccount
import org.openapitools.client.model.ProjectServiceAccountCreateRequest
import org.openapitools.client.model.ProjectServiceAccountCreateResponse
import org.openapitools.client.model.ProjectServiceAccountDeleteResponse
import org.openapitools.client.model.ProjectServiceAccountListResponse
import org.openapitools.client.model.ProjectUpdateRequest
import org.openapitools.client.model.ProjectUser
import org.openapitools.client.model.ProjectUserCreateRequest
import org.openapitools.client.model.ProjectUserDeleteResponse
import org.openapitools.client.model.ProjectUserListResponse
import org.openapitools.client.model.ProjectUserUpdateRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProjectsApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new ProjectsApi(baseUrl)
}

class ProjectsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Project (Project archived successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   */
  def archiveProject(projectId: String)(implicit bearerToken: BearerToken): ApiRequest[Project] =
    ApiRequest[Project](ApiMethods.POST, baseUrl, "/organization/projects/{project_id}/archive", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withSuccessResponse[Project](200)
      

  /**
   * Expected answers:
   *   code 200 : Project (Project created successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectCreateRequest The project create request payload.
   */
  def createProject(projectCreateRequest: ProjectCreateRequest)(implicit bearerToken: BearerToken): ApiRequest[Project] =
    ApiRequest[Project](ApiMethods.POST, baseUrl, "/organization/projects", "application/json")
      .withCredentials(bearerToken).withBody(projectCreateRequest)
      .withSuccessResponse[Project](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectServiceAccountCreateResponse (Project service account created successfully.)
   *   code 400 : ErrorResponse (Error response when project is archived.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param projectServiceAccountCreateRequest The project service account create request payload.
   */
  def createProjectServiceAccount(projectId: String, projectServiceAccountCreateRequest: ProjectServiceAccountCreateRequest)(implicit bearerToken: BearerToken): ApiRequest[ProjectServiceAccountCreateResponse] =
    ApiRequest[ProjectServiceAccountCreateResponse](ApiMethods.POST, baseUrl, "/organization/projects/{project_id}/service_accounts", "application/json")
      .withCredentials(bearerToken).withBody(projectServiceAccountCreateRequest)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[ProjectServiceAccountCreateResponse](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectUser (User added to project successfully.)
   *   code 400 : ErrorResponse (Error response for various conditions.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param projectUserCreateRequest The project user create request payload.
   */
  def createProjectUser(projectId: String, projectUserCreateRequest: ProjectUserCreateRequest)(implicit bearerToken: BearerToken): ApiRequest[ProjectUser] =
    ApiRequest[ProjectUser](ApiMethods.POST, baseUrl, "/organization/projects/{project_id}/users", "application/json")
      .withCredentials(bearerToken).withBody(projectUserCreateRequest)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[ProjectUser](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectApiKeyDeleteResponse (Project API key deleted successfully.)
   *   code 400 : ErrorResponse (Error response for various conditions.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param keyId The ID of the API key.
   */
  def deleteProjectApiKey(projectId: String, keyId: String)(implicit bearerToken: BearerToken): ApiRequest[ProjectApiKeyDeleteResponse] =
    ApiRequest[ProjectApiKeyDeleteResponse](ApiMethods.DELETE, baseUrl, "/organization/projects/{project_id}/api_keys/{key_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withPathParam("key_id", keyId)
      .withSuccessResponse[ProjectApiKeyDeleteResponse](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectServiceAccountDeleteResponse (Project service account deleted successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param serviceAccountId The ID of the service account.
   */
  def deleteProjectServiceAccount(projectId: String, serviceAccountId: String)(implicit bearerToken: BearerToken): ApiRequest[ProjectServiceAccountDeleteResponse] =
    ApiRequest[ProjectServiceAccountDeleteResponse](ApiMethods.DELETE, baseUrl, "/organization/projects/{project_id}/service_accounts/{service_account_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withPathParam("service_account_id", serviceAccountId)
      .withSuccessResponse[ProjectServiceAccountDeleteResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectUserDeleteResponse (Project user deleted successfully.)
   *   code 400 : ErrorResponse (Error response for various conditions.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param userId The ID of the user.
   */
  def deleteProjectUser(projectId: String, userId: String)(implicit bearerToken: BearerToken): ApiRequest[ProjectUserDeleteResponse] =
    ApiRequest[ProjectUserDeleteResponse](ApiMethods.DELETE, baseUrl, "/organization/projects/{project_id}/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withPathParam("user_id", userId)
      .withSuccessResponse[ProjectUserDeleteResponse](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectApiKeyListResponse (Project API keys listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   */
  def listProjectApiKeys(projectId: String, limit: Option[Int] = None, after: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ProjectApiKeyListResponse] =
    ApiRequest[ProjectApiKeyListResponse](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/api_keys", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[ProjectApiKeyListResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectRateLimitListResponse (Project rate limits listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param limit A limit on the number of objects to be returned. The default is 100. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, beginning with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list. 
   */
  def listProjectRateLimits(projectId: String, limit: Option[Int] = None, after: Option[String] = None, before: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ProjectRateLimitListResponse] =
    ApiRequest[ProjectRateLimitListResponse](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/rate_limits", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withQueryParam("before", before)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[ProjectRateLimitListResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectServiceAccountListResponse (Project service accounts listed successfully.)
   *   code 400 : ErrorResponse (Error response when project is archived.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   */
  def listProjectServiceAccounts(projectId: String, limit: Option[Int] = None, after: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ProjectServiceAccountListResponse] =
    ApiRequest[ProjectServiceAccountListResponse](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/service_accounts", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[ProjectServiceAccountListResponse](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectUserListResponse (Project users listed successfully.)
   *   code 400 : ErrorResponse (Error response when project is archived.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   */
  def listProjectUsers(projectId: String, limit: Option[Int] = None, after: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ProjectUserListResponse] =
    ApiRequest[ProjectUserListResponse](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/users", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[ProjectUserListResponse](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectListResponse (Projects listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param includeArchived If `true` returns all projects including those that have been `archived`. Archived projects are not included by default.
   */
  def listProjects(limit: Option[Int] = None, after: Option[String] = None, includeArchived: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[ProjectListResponse] =
    ApiRequest[ProjectListResponse](ApiMethods.GET, baseUrl, "/organization/projects", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withQueryParam("include_archived", includeArchived)
      .withSuccessResponse[ProjectListResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Project (Project updated successfully.)
   *   code 400 : ErrorResponse (Error response when updating the default project.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param projectUpdateRequest The project update request payload.
   */
  def modifyProject(projectId: String, projectUpdateRequest: ProjectUpdateRequest)(implicit bearerToken: BearerToken): ApiRequest[Project] =
    ApiRequest[Project](ApiMethods.POST, baseUrl, "/organization/projects/{project_id}", "application/json")
      .withCredentials(bearerToken).withBody(projectUpdateRequest)
      .withPathParam("project_id", projectId)
      .withSuccessResponse[Project](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : ProjectUser (Project user's role updated successfully.)
   *   code 400 : ErrorResponse (Error response for various conditions.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param userId The ID of the user.
   * @param projectUserUpdateRequest The project user update request payload.
   */
  def modifyProjectUser(projectId: String, userId: String, projectUserUpdateRequest: ProjectUserUpdateRequest)(implicit bearerToken: BearerToken): ApiRequest[ProjectUser] =
    ApiRequest[ProjectUser](ApiMethods.POST, baseUrl, "/organization/projects/{project_id}/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withBody(projectUserUpdateRequest)
      .withPathParam("project_id", projectId)
      .withPathParam("user_id", userId)
      .withSuccessResponse[ProjectUser](200)
      .withErrorResponse[ErrorResponse](400)
      

  /**
   * Expected answers:
   *   code 200 : Project (Project retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   */
  def retrieveProject(projectId: String)(implicit bearerToken: BearerToken): ApiRequest[Project] =
    ApiRequest[Project](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withSuccessResponse[Project](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectApiKey (Project API key retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param keyId The ID of the API key.
   */
  def retrieveProjectApiKey(projectId: String, keyId: String)(implicit bearerToken: BearerToken): ApiRequest[ProjectApiKey] =
    ApiRequest[ProjectApiKey](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/api_keys/{key_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withPathParam("key_id", keyId)
      .withSuccessResponse[ProjectApiKey](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectServiceAccount (Project service account retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param serviceAccountId The ID of the service account.
   */
  def retrieveProjectServiceAccount(projectId: String, serviceAccountId: String)(implicit bearerToken: BearerToken): ApiRequest[ProjectServiceAccount] =
    ApiRequest[ProjectServiceAccount](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/service_accounts/{service_account_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withPathParam("service_account_id", serviceAccountId)
      .withSuccessResponse[ProjectServiceAccount](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectUser (Project user retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param userId The ID of the user.
   */
  def retrieveProjectUser(projectId: String, userId: String)(implicit bearerToken: BearerToken): ApiRequest[ProjectUser] =
    ApiRequest[ProjectUser](ApiMethods.GET, baseUrl, "/organization/projects/{project_id}/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("project_id", projectId)
      .withPathParam("user_id", userId)
      .withSuccessResponse[ProjectUser](200)
      

  /**
   * Expected answers:
   *   code 200 : ProjectRateLimit (Project rate limit updated successfully.)
   *   code 400 : ErrorResponse (Error response for various conditions.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param projectId The ID of the project.
   * @param rateLimitId The ID of the rate limit.
   * @param projectRateLimitUpdateRequest The project rate limit update request payload.
   */
  def updateProjectRateLimits(projectId: String, rateLimitId: String, projectRateLimitUpdateRequest: ProjectRateLimitUpdateRequest)(implicit bearerToken: BearerToken): ApiRequest[ProjectRateLimit] =
    ApiRequest[ProjectRateLimit](ApiMethods.POST, baseUrl, "/organization/projects/{project_id}/rate_limits/{rate_limit_id}", "application/json")
      .withCredentials(bearerToken).withBody(projectRateLimitUpdateRequest)
      .withPathParam("project_id", projectId)
      .withPathParam("rate_limit_id", rateLimitId)
      .withSuccessResponse[ProjectRateLimit](200)
      .withErrorResponse[ErrorResponse](400)
      



}

