/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CompleteUploadRequest
import org.openapitools.client.model.CreateUploadRequest
import java.io.File
import org.openapitools.client.model.Upload
import org.openapitools.client.model.UploadPart
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UploadsApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new UploadsApi(baseUrl)
}

class UploadsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : UploadPart (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param uploadId The ID of the Upload. 
   * @param data The chunk of bytes for this Part. 
   */
  def addUploadPart(uploadId: String, data: File)(implicit bearerToken: BearerToken): ApiRequest[UploadPart] =
    ApiRequest[UploadPart](ApiMethods.POST, baseUrl, "/uploads/{upload_id}/parts", "multipart/form-data")
      .withCredentials(bearerToken).withFormParam("data", data)
      .withPathParam("upload_id", uploadId)
      .withSuccessResponse[UploadPart](200)
      

  /**
   * Expected answers:
   *   code 200 : Upload (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param uploadId The ID of the Upload. 
   */
  def cancelUpload(uploadId: String)(implicit bearerToken: BearerToken): ApiRequest[Upload] =
    ApiRequest[Upload](ApiMethods.POST, baseUrl, "/uploads/{upload_id}/cancel", "application/json")
      .withCredentials(bearerToken).withPathParam("upload_id", uploadId)
      .withSuccessResponse[Upload](200)
      

  /**
   * Expected answers:
   *   code 200 : Upload (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param uploadId The ID of the Upload. 
   * @param completeUploadRequest 
   */
  def completeUpload(uploadId: String, completeUploadRequest: CompleteUploadRequest)(implicit bearerToken: BearerToken): ApiRequest[Upload] =
    ApiRequest[Upload](ApiMethods.POST, baseUrl, "/uploads/{upload_id}/complete", "application/json")
      .withCredentials(bearerToken).withBody(completeUploadRequest)
      .withPathParam("upload_id", uploadId)
      .withSuccessResponse[Upload](200)
      

  /**
   * Expected answers:
   *   code 200 : Upload (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param createUploadRequest 
   */
  def createUpload(createUploadRequest: CreateUploadRequest)(implicit bearerToken: BearerToken): ApiRequest[Upload] =
    ApiRequest[Upload](ApiMethods.POST, baseUrl, "/uploads", "application/json")
      .withCredentials(bearerToken).withBody(createUploadRequest)
      .withSuccessResponse[Upload](200)
      



}

