/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.User
import org.openapitools.client.model.UserDeleteResponse
import org.openapitools.client.model.UserListResponse
import org.openapitools.client.model.UserRoleUpdateRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UsersApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new UsersApi(baseUrl)
}

class UsersApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : UserDeleteResponse (User deleted successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param userId The ID of the user.
   */
  def deleteUser(userId: String)(implicit bearerToken: BearerToken): ApiRequest[UserDeleteResponse] =
    ApiRequest[UserDeleteResponse](ApiMethods.DELETE, baseUrl, "/organization/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("user_id", userId)
      .withSuccessResponse[UserDeleteResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UserListResponse (Users listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   */
  def listUsers(limit: Option[Int] = None, after: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UserListResponse] =
    ApiRequest[UserListResponse](ApiMethods.GET, baseUrl, "/organization/users", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withSuccessResponse[UserListResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : User (User role updated successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param userId The ID of the user.
   * @param userRoleUpdateRequest The new user role to modify. This must be one of `owner` or `member`.
   */
  def modifyUser(userId: String, userRoleUpdateRequest: UserRoleUpdateRequest)(implicit bearerToken: BearerToken): ApiRequest[User] =
    ApiRequest[User](ApiMethods.POST, baseUrl, "/organization/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withBody(userRoleUpdateRequest)
      .withPathParam("user_id", userId)
      .withSuccessResponse[User](200)
      

  /**
   * Expected answers:
   *   code 200 : User (User retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param userId The ID of the user.
   */
  def retrieveUser(userId: String)(implicit bearerToken: BearerToken): ApiRequest[User] =
    ApiRequest[User](ApiMethods.GET, baseUrl, "/organization/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("user_id", userId)
      .withSuccessResponse[User](200)
      



}

