/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AuditLogEventType;
import org.openapitools.model.ListAuditLogsEffectiveAtParameter;
import org.openapitools.model.ListAuditLogsResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AuditLogsApi {
    /**
     * List user actions and configuration changes within this organization.
     *
     * @param effectiveAt Return only events whose &#x60;effective_at&#x60; (Unix seconds) is in this range. (optional)
     * @param projectIds Return only events for these projects. (optional)
     * @param eventTypes Return only events with a &#x60;type&#x60; in one of these values. For example, &#x60;project.created&#x60;. For all options, see the documentation for the [audit log object](/docs/api-reference/audit-logs/object). (optional)
     * @param actorIds Return only events performed by these actors. Can be a user ID, a service account ID, or an api key tracking ID. (optional)
     * @param actorEmails Return only events performed by users with these emails. (optional)
     * @param resourceIds Return only events performed on these targets. For example, a project ID updated. (optional)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.  (optional)
     * @return ListAuditLogsResponse
     */
    @Get(uri="/organization/audit_logs")
    @Consumes({"application/json"})
    Mono<ListAuditLogsResponse> listAuditLogs(
        @QueryValue(value="effective_at") @Nullable @Valid ListAuditLogsEffectiveAtParameter effectiveAt, 
        @QueryValue(value="project_ids[]") @Nullable List<String> projectIds, 
        @QueryValue(value="event_types[]") @Nullable List<AuditLogEventType> eventTypes, 
        @QueryValue(value="actor_ids[]") @Nullable List<String> actorIds, 
        @QueryValue(value="actor_emails[]") @Nullable List<String> actorEmails, 
        @QueryValue(value="resource_ids[]") @Nullable List<String> resourceIds, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="before") @Nullable String before
    );

}
