/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Batch;
import org.openapitools.model.CreateBatchRequest;
import org.openapitools.model.ListBatchesResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BatchApi {
    /**
     * Cancels an in-progress batch. The batch will be in status &#x60;cancelling&#x60; for up to 10 minutes, before changing to &#x60;cancelled&#x60;, where it will have partial results (if any) available in the output file.
     *
     * @param batchId The ID of the batch to cancel. (required)
     * @return Batch
     */
    @Post(uri="/batches/{batch_id}/cancel")
    @Consumes({"application/json"})
    Mono<Batch> cancelBatch(
        @PathVariable(name="batch_id") @NotNull String batchId
    );

    /**
     * Creates and executes a batch from an uploaded file of requests
     *
     * @param createBatchRequest  (required)
     * @return Batch
     */
    @Post(uri="/batches")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Batch> createBatch(
        @Body @NotNull @Valid CreateBatchRequest createBatchRequest
    );

    /**
     * List your organization&#39;s batches.
     *
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @return ListBatchesResponse
     */
    @Get(uri="/batches")
    @Consumes({"application/json"})
    Mono<ListBatchesResponse> listBatches(
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit
    );

    /**
     * Retrieves a batch.
     *
     * @param batchId The ID of the batch to retrieve. (required)
     * @return Batch
     */
    @Get(uri="/batches/{batch_id}")
    @Consumes({"application/json"})
    Mono<Batch> retrieveBatch(
        @PathVariable(name="batch_id") @NotNull String batchId
    );

}
