/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AdminApiKey;
import org.openapitools.model.AdminApiKeysCreateRequest;
import org.openapitools.model.AdminApiKeysDelete200Response;
import org.openapitools.model.ApiKeyList;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface DefaultApi {
    /**
     * Create an organization admin API key
     * Create a new admin-level API key for the organization.
     *
     * @param adminApiKeysCreateRequest  (required)
     * @return AdminApiKey
     */
    @Post(uri="/organization/admin_api_keys")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<AdminApiKey> adminApiKeysCreate(
        @Body @NotNull @Valid AdminApiKeysCreateRequest adminApiKeysCreateRequest
    );

    /**
     * Delete an organization admin API key
     * Delete the specified admin API key.
     *
     * @param keyId  (required)
     * @return AdminApiKeysDelete200Response
     */
    @Delete(uri="/organization/admin_api_keys/{key_id}")
    @Consumes({"application/json"})
    Mono<AdminApiKeysDelete200Response> adminApiKeysDelete(
        @PathVariable(name="key_id") @NotNull String keyId
    );

    /**
     * Retrieve a single organization API key
     * Get details for a specific organization API key by its ID.
     *
     * @param keyId  (required)
     * @return AdminApiKey
     */
    @Get(uri="/organization/admin_api_keys/{key_id}")
    @Consumes({"application/json"})
    Mono<AdminApiKey> adminApiKeysGet(
        @PathVariable(name="key_id") @NotNull String keyId
    );

    /**
     * List organization API keys
     * Retrieve a paginated list of organization admin API keys.
     *
     * @param after  (optional)
     * @param order  (optional, default to asc)
     * @param limit  (optional, default to 20)
     * @return ApiKeyList
     */
    @Get(uri="/organization/admin_api_keys")
    @Consumes({"application/json"})
    Mono<ApiKeyList> adminApiKeysList(
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="order", defaultValue="asc") @Nullable String order, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit
    );

}
