/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CreateFineTuningJobRequest;
import org.openapitools.model.FineTuningJob;
import org.openapitools.model.ListFineTuningJobCheckpointsResponse;
import org.openapitools.model.ListFineTuningJobEventsResponse;
import org.openapitools.model.ListPaginatedFineTuningJobsResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2024-04-14T13:37:52.123317469Z[Etc/UTC]", comments = "Generator version: 7.4.0")
@Client("${openapi-micronaut-client-base-path}")
public interface FineTuningApi {
    /**
     * Immediately cancel a fine-tune job. 
     *
     * @param fineTuningJobId The ID of the fine-tuning job to cancel.  (required)
     * @return FineTuningJob
     */
    @Post(uri="/fine_tuning/jobs/{fine_tuning_job_id}/cancel")
    @Consumes({"application/json"})
    Mono<FineTuningJob> cancelFineTuningJob(
        @PathVariable(name="fine_tuning_job_id") @NotNull String fineTuningJobId
    );

    /**
     * Creates a fine-tuning job which begins the process of creating a new model from a given dataset.  Response includes details of the enqueued job including job status and the name of the fine-tuned models once complete.  [Learn more about fine-tuning](/docs/guides/fine-tuning) 
     *
     * @param createFineTuningJobRequest  (required)
     * @return FineTuningJob
     */
    @Post(uri="/fine_tuning/jobs")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<FineTuningJob> createFineTuningJob(
        @Body @NotNull @Valid CreateFineTuningJobRequest createFineTuningJobRequest
    );

    /**
     * Get status updates for a fine-tuning job. 
     *
     * @param fineTuningJobId The ID of the fine-tuning job to get events for.  (required)
     * @param after Identifier for the last event from the previous pagination request. (optional)
     * @param limit Number of events to retrieve. (optional, default to 20)
     * @return ListFineTuningJobEventsResponse
     */
    @Get(uri="/fine_tuning/jobs/{fine_tuning_job_id}/events")
    @Consumes({"application/json"})
    Mono<ListFineTuningJobEventsResponse> listFineTuningEvents(
        @PathVariable(name="fine_tuning_job_id") @NotNull String fineTuningJobId, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit
    );

    /**
     * List checkpoints for a fine-tuning job. 
     *
     * @param fineTuningJobId The ID of the fine-tuning job to get checkpoints for.  (required)
     * @param after Identifier for the last checkpoint ID from the previous pagination request. (optional)
     * @param limit Number of checkpoints to retrieve. (optional, default to 10)
     * @return ListFineTuningJobCheckpointsResponse
     */
    @Get(uri="/fine_tuning/jobs/{fine_tuning_job_id}/checkpoints")
    @Consumes({"application/json"})
    Mono<ListFineTuningJobCheckpointsResponse> listFineTuningJobCheckpoints(
        @PathVariable(name="fine_tuning_job_id") @NotNull String fineTuningJobId, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="limit", defaultValue="10") @Nullable Integer limit
    );

    /**
     * List your organization&#39;s fine-tuning jobs 
     *
     * @param after Identifier for the last job from the previous pagination request. (optional)
     * @param limit Number of fine-tuning jobs to retrieve. (optional, default to 20)
     * @return ListPaginatedFineTuningJobsResponse
     */
    @Get(uri="/fine_tuning/jobs")
    @Consumes({"application/json"})
    Mono<ListPaginatedFineTuningJobsResponse> listPaginatedFineTuningJobs(
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit
    );

    /**
     * Get info about a fine-tuning job.  [Learn more about fine-tuning](/docs/guides/fine-tuning) 
     *
     * @param fineTuningJobId The ID of the fine-tuning job.  (required)
     * @return FineTuningJob
     */
    @Get(uri="/fine_tuning/jobs/{fine_tuning_job_id}")
    @Consumes({"application/json"})
    Mono<FineTuningJob> retrieveFineTuningJob(
        @PathVariable(name="fine_tuning_job_id") @NotNull String fineTuningJobId
    );

}
