/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Invite;
import org.openapitools.model.InviteDeleteResponse;
import org.openapitools.model.InviteListResponse;
import org.openapitools.model.InviteRequest;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface InvitesApi {
    /**
     * Delete an invite. If the invite has already been accepted, it cannot be deleted.
     *
     * @param inviteId The ID of the invite to delete. (required)
     * @return InviteDeleteResponse
     */
    @Delete(uri="/organization/invites/{invite_id}")
    @Consumes({"application/json"})
    Mono<InviteDeleteResponse> deleteInvite(
        @PathVariable(name="invite_id") @NotNull String inviteId
    );

    /**
     * Create an invite for a user to the organization. The invite must be accepted by the user before they have access to the organization.
     *
     * @param inviteRequest The invite request payload. (required)
     * @return Invite
     */
    @Post(uri="/organization/invites")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Invite> inviteUser(
        @Body @NotNull @Valid InviteRequest inviteRequest
    );

    /**
     * Returns a list of invites in the organization.
     *
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @return InviteListResponse
     */
    @Get(uri="/organization/invites")
    @Consumes({"application/json"})
    Mono<InviteListResponse> listInvites(
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after
    );

    /**
     * Retrieves an invite.
     *
     * @param inviteId The ID of the invite to retrieve. (required)
     * @return Invite
     */
    @Get(uri="/organization/invites/{invite_id}")
    @Consumes({"application/json"})
    Mono<Invite> retrieveInvite(
        @PathVariable(name="invite_id") @NotNull String inviteId
    );

}
