/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ErrorResponse;
import org.openapitools.model.Project;
import org.openapitools.model.ProjectApiKey;
import org.openapitools.model.ProjectApiKeyDeleteResponse;
import org.openapitools.model.ProjectApiKeyListResponse;
import org.openapitools.model.ProjectCreateRequest;
import org.openapitools.model.ProjectListResponse;
import org.openapitools.model.ProjectRateLimit;
import org.openapitools.model.ProjectRateLimitListResponse;
import org.openapitools.model.ProjectRateLimitUpdateRequest;
import org.openapitools.model.ProjectServiceAccount;
import org.openapitools.model.ProjectServiceAccountCreateRequest;
import org.openapitools.model.ProjectServiceAccountCreateResponse;
import org.openapitools.model.ProjectServiceAccountDeleteResponse;
import org.openapitools.model.ProjectServiceAccountListResponse;
import org.openapitools.model.ProjectUpdateRequest;
import org.openapitools.model.ProjectUser;
import org.openapitools.model.ProjectUserCreateRequest;
import org.openapitools.model.ProjectUserDeleteResponse;
import org.openapitools.model.ProjectUserListResponse;
import org.openapitools.model.ProjectUserUpdateRequest;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ProjectsApi {
    /**
     * Archives a project in the organization. Archived projects cannot be used or updated.
     *
     * @param projectId The ID of the project. (required)
     * @return Project
     */
    @Post(uri="/organization/projects/{project_id}/archive")
    @Consumes({"application/json"})
    Mono<Project> archiveProject(
        @PathVariable(name="project_id") @NotNull String projectId
    );

    /**
     * Create a new project in the organization. Projects can be created and archived, but cannot be deleted.
     *
     * @param projectCreateRequest The project create request payload. (required)
     * @return Project
     */
    @Post(uri="/organization/projects")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Project> createProject(
        @Body @NotNull @Valid ProjectCreateRequest projectCreateRequest
    );

    /**
     * Creates a new service account in the project. This also returns an unredacted API key for the service account.
     *
     * @param projectId The ID of the project. (required)
     * @param projectServiceAccountCreateRequest The project service account create request payload. (required)
     * @return ProjectServiceAccountCreateResponse
     */
    @Post(uri="/organization/projects/{project_id}/service_accounts")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ProjectServiceAccountCreateResponse> createProjectServiceAccount(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @Body @NotNull @Valid ProjectServiceAccountCreateRequest projectServiceAccountCreateRequest
    );

    /**
     * Adds a user to the project. Users must already be members of the organization to be added to a project.
     *
     * @param projectId The ID of the project. (required)
     * @param projectUserCreateRequest The project user create request payload. (required)
     * @return ProjectUser
     */
    @Post(uri="/organization/projects/{project_id}/users")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ProjectUser> createProjectUser(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @Body @NotNull @Valid ProjectUserCreateRequest projectUserCreateRequest
    );

    /**
     * Deletes an API key from the project.
     *
     * @param projectId The ID of the project. (required)
     * @param keyId The ID of the API key. (required)
     * @return ProjectApiKeyDeleteResponse
     */
    @Delete(uri="/organization/projects/{project_id}/api_keys/{key_id}")
    @Consumes({"application/json"})
    Mono<ProjectApiKeyDeleteResponse> deleteProjectApiKey(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="key_id") @NotNull String keyId
    );

    /**
     * Deletes a service account from the project.
     *
     * @param projectId The ID of the project. (required)
     * @param serviceAccountId The ID of the service account. (required)
     * @return ProjectServiceAccountDeleteResponse
     */
    @Delete(uri="/organization/projects/{project_id}/service_accounts/{service_account_id}")
    @Consumes({"application/json"})
    Mono<ProjectServiceAccountDeleteResponse> deleteProjectServiceAccount(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="service_account_id") @NotNull String serviceAccountId
    );

    /**
     * Deletes a user from the project.
     *
     * @param projectId The ID of the project. (required)
     * @param userId The ID of the user. (required)
     * @return ProjectUserDeleteResponse
     */
    @Delete(uri="/organization/projects/{project_id}/users/{user_id}")
    @Consumes({"application/json"})
    Mono<ProjectUserDeleteResponse> deleteProjectUser(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="user_id") @NotNull String userId
    );

    /**
     * Returns a list of API keys in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @return ProjectApiKeyListResponse
     */
    @Get(uri="/organization/projects/{project_id}/api_keys")
    @Consumes({"application/json"})
    Mono<ProjectApiKeyListResponse> listProjectApiKeys(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after
    );

    /**
     * Returns the rate limits per model for a project.
     *
     * @param projectId The ID of the project. (required)
     * @param limit A limit on the number of objects to be returned. The default is 100.  (optional, default to 100)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, beginning with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.  (optional)
     * @return ProjectRateLimitListResponse
     */
    @Get(uri="/organization/projects/{project_id}/rate_limits")
    @Consumes({"application/json"})
    Mono<ProjectRateLimitListResponse> listProjectRateLimits(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @QueryValue(value="limit", defaultValue="100") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="before") @Nullable String before
    );

    /**
     * Returns a list of service accounts in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @return ProjectServiceAccountListResponse
     */
    @Get(uri="/organization/projects/{project_id}/service_accounts")
    @Consumes({"application/json"})
    Mono<ProjectServiceAccountListResponse> listProjectServiceAccounts(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after
    );

    /**
     * Returns a list of users in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @return ProjectUserListResponse
     */
    @Get(uri="/organization/projects/{project_id}/users")
    @Consumes({"application/json"})
    Mono<ProjectUserListResponse> listProjectUsers(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after
    );

    /**
     * Returns a list of projects.
     *
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param includeArchived If &#x60;true&#x60; returns all projects including those that have been &#x60;archived&#x60;. Archived projects are not included by default. (optional, default to false)
     * @return ProjectListResponse
     */
    @Get(uri="/organization/projects")
    @Consumes({"application/json"})
    Mono<ProjectListResponse> listProjects(
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="include_archived", defaultValue="false") @Nullable Boolean includeArchived
    );

    /**
     * Modifies a project in the organization.
     *
     * @param projectId The ID of the project. (required)
     * @param projectUpdateRequest The project update request payload. (required)
     * @return Project
     */
    @Post(uri="/organization/projects/{project_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Project> modifyProject(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @Body @NotNull @Valid ProjectUpdateRequest projectUpdateRequest
    );

    /**
     * Modifies a user&#39;s role in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param userId The ID of the user. (required)
     * @param projectUserUpdateRequest The project user update request payload. (required)
     * @return ProjectUser
     */
    @Post(uri="/organization/projects/{project_id}/users/{user_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ProjectUser> modifyProjectUser(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="user_id") @NotNull String userId, 
        @Body @NotNull @Valid ProjectUserUpdateRequest projectUserUpdateRequest
    );

    /**
     * Retrieves a project.
     *
     * @param projectId The ID of the project. (required)
     * @return Project
     */
    @Get(uri="/organization/projects/{project_id}")
    @Consumes({"application/json"})
    Mono<Project> retrieveProject(
        @PathVariable(name="project_id") @NotNull String projectId
    );

    /**
     * Retrieves an API key in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param keyId The ID of the API key. (required)
     * @return ProjectApiKey
     */
    @Get(uri="/organization/projects/{project_id}/api_keys/{key_id}")
    @Consumes({"application/json"})
    Mono<ProjectApiKey> retrieveProjectApiKey(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="key_id") @NotNull String keyId
    );

    /**
     * Retrieves a service account in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param serviceAccountId The ID of the service account. (required)
     * @return ProjectServiceAccount
     */
    @Get(uri="/organization/projects/{project_id}/service_accounts/{service_account_id}")
    @Consumes({"application/json"})
    Mono<ProjectServiceAccount> retrieveProjectServiceAccount(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="service_account_id") @NotNull String serviceAccountId
    );

    /**
     * Retrieves a user in the project.
     *
     * @param projectId The ID of the project. (required)
     * @param userId The ID of the user. (required)
     * @return ProjectUser
     */
    @Get(uri="/organization/projects/{project_id}/users/{user_id}")
    @Consumes({"application/json"})
    Mono<ProjectUser> retrieveProjectUser(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="user_id") @NotNull String userId
    );

    /**
     * Updates a project rate limit.
     *
     * @param projectId The ID of the project. (required)
     * @param rateLimitId The ID of the rate limit. (required)
     * @param projectRateLimitUpdateRequest The project rate limit update request payload. (required)
     * @return ProjectRateLimit
     */
    @Post(uri="/organization/projects/{project_id}/rate_limits/{rate_limit_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ProjectRateLimit> updateProjectRateLimits(
        @PathVariable(name="project_id") @NotNull String projectId, 
        @PathVariable(name="rate_limit_id") @NotNull String rateLimitId, 
        @Body @NotNull @Valid ProjectRateLimitUpdateRequest projectRateLimitUpdateRequest
    );

}
