/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CompleteUploadRequest;
import org.openapitools.model.CreateUploadRequest;
import java.io.File;
import org.openapitools.model.Upload;
import org.openapitools.model.UploadPart;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface UploadsApi {
    /**
     * Adds a [Part](/docs/api-reference/uploads/part-object) to an [Upload](/docs/api-reference/uploads/object) object. A Part represents a chunk of bytes from the file you are trying to upload.   Each Part can be at most 64 MB, and you can add Parts until you hit the Upload maximum of 8 GB.  It is possible to add multiple Parts in parallel. You can decide the intended order of the Parts when you [complete the Upload](/docs/api-reference/uploads/complete). 
     *
     * @param uploadId The ID of the Upload.  (required)
     * @param data The chunk of bytes for this Part.  (required)
     * @return UploadPart
     */
    @Post(uri="/uploads/{upload_id}/parts")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data"})
    Mono<UploadPart> addUploadPart(
        @PathVariable(name="upload_id") @NotNull String uploadId, 
        @NotNull File data
    );

    /**
     * Cancels the Upload. No Parts may be added after an Upload is cancelled. 
     *
     * @param uploadId The ID of the Upload.  (required)
     * @return Upload
     */
    @Post(uri="/uploads/{upload_id}/cancel")
    @Consumes({"application/json"})
    Mono<Upload> cancelUpload(
        @PathVariable(name="upload_id") @NotNull String uploadId
    );

    /**
     * Completes the [Upload](/docs/api-reference/uploads/object).   Within the returned Upload object, there is a nested [File](/docs/api-reference/files/object) object that is ready to use in the rest of the platform.  You can specify the order of the Parts by passing in an ordered list of the Part IDs.  The number of bytes uploaded upon completion must match the number of bytes initially specified when creating the Upload object. No Parts may be added after an Upload is completed. 
     *
     * @param uploadId The ID of the Upload.  (required)
     * @param completeUploadRequest  (required)
     * @return Upload
     */
    @Post(uri="/uploads/{upload_id}/complete")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Upload> completeUpload(
        @PathVariable(name="upload_id") @NotNull String uploadId, 
        @Body @NotNull @Valid CompleteUploadRequest completeUploadRequest
    );

    /**
     * Creates an intermediate [Upload](/docs/api-reference/uploads/object) object that you can add [Parts](/docs/api-reference/uploads/part-object) to. Currently, an Upload can accept at most 8 GB in total and expires after an hour after you create it.  Once you complete the Upload, we will create a [File](/docs/api-reference/files/object) object that contains all the parts you uploaded. This File is usable in the rest of our platform as a regular File object.  For certain &#x60;purpose&#x60;s, the correct &#x60;mime_type&#x60; must be specified. Please refer to documentation for the supported MIME types for your use case: - [Assistants](/docs/assistants/tools/file-search#supported-files)  For guidance on the proper filename extensions for each purpose, please follow the documentation on [creating a File](/docs/api-reference/files/create). 
     *
     * @param createUploadRequest  (required)
     * @return Upload
     */
    @Post(uri="/uploads")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Upload> createUpload(
        @Body @NotNull @Valid CreateUploadRequest createUploadRequest
    );

}
