/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.User;
import org.openapitools.model.UserDeleteResponse;
import org.openapitools.model.UserListResponse;
import org.openapitools.model.UserRoleUpdateRequest;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface UsersApi {
    /**
     * Deletes a user from the organization.
     *
     * @param userId The ID of the user. (required)
     * @return UserDeleteResponse
     */
    @Delete(uri="/organization/users/{user_id}")
    @Consumes({"application/json"})
    Mono<UserDeleteResponse> deleteUser(
        @PathVariable(name="user_id") @NotNull String userId
    );

    /**
     * Lists all of the users in the organization.
     *
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @return UserListResponse
     */
    @Get(uri="/organization/users")
    @Consumes({"application/json"})
    Mono<UserListResponse> listUsers(
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="after") @Nullable String after
    );

    /**
     * Modifies a user&#39;s role in the organization.
     *
     * @param userId The ID of the user. (required)
     * @param userRoleUpdateRequest The new user role to modify. This must be one of &#x60;owner&#x60; or &#x60;member&#x60;. (required)
     * @return User
     */
    @Post(uri="/organization/users/{user_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<User> modifyUser(
        @PathVariable(name="user_id") @NotNull String userId, 
        @Body @NotNull @Valid UserRoleUpdateRequest userRoleUpdateRequest
    );

    /**
     * Retrieves a user by their identifier.
     *
     * @param userId The ID of the user. (required)
     * @return User
     */
    @Get(uri="/organization/users/{user_id}")
    @Consumes({"application/json"})
    Mono<User> retrieveUser(
        @PathVariable(name="user_id") @NotNull String userId
    );

}
