/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CreateVectorStoreFileBatchRequest;
import org.openapitools.model.CreateVectorStoreFileRequest;
import org.openapitools.model.CreateVectorStoreRequest;
import org.openapitools.model.DeleteVectorStoreFileResponse;
import org.openapitools.model.DeleteVectorStoreResponse;
import org.openapitools.model.ListVectorStoreFilesResponse;
import org.openapitools.model.ListVectorStoresResponse;
import org.openapitools.model.UpdateVectorStoreRequest;
import org.openapitools.model.VectorStoreFileBatchObject;
import org.openapitools.model.VectorStoreFileObject;
import org.openapitools.model.VectorStoreObject;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-01-29T14:07:53.155657246Z[Etc/UTC]", comments = "Generator version: 7.18.0")
@Client("${openapi-micronaut-client-base-path}")
public interface VectorStoresApi {
    /**
     * Cancel a vector store file batch. This attempts to cancel the processing of files in this batch as soon as possible.
     *
     * @param vectorStoreId The ID of the vector store that the file batch belongs to. (required)
     * @param batchId The ID of the file batch to cancel. (required)
     * @return VectorStoreFileBatchObject
     */
    @Post(uri="/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel")
    @Consumes({"application/json"})
    Mono<VectorStoreFileBatchObject> cancelVectorStoreFileBatch(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @PathVariable(name="batch_id") @NotNull String batchId
    );

    /**
     * Create a vector store.
     *
     * @param createVectorStoreRequest  (required)
     * @return VectorStoreObject
     */
    @Post(uri="/vector_stores")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<VectorStoreObject> createVectorStore(
        @Body @NotNull @Valid CreateVectorStoreRequest createVectorStoreRequest
    );

    /**
     * Create a vector store file by attaching a [File](/docs/api-reference/files) to a [vector store](/docs/api-reference/vector-stores/object).
     *
     * @param vectorStoreId The ID of the vector store for which to create a File.  (required)
     * @param createVectorStoreFileRequest  (required)
     * @return VectorStoreFileObject
     */
    @Post(uri="/vector_stores/{vector_store_id}/files")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<VectorStoreFileObject> createVectorStoreFile(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @Body @NotNull @Valid CreateVectorStoreFileRequest createVectorStoreFileRequest
    );

    /**
     * Create a vector store file batch.
     *
     * @param vectorStoreId The ID of the vector store for which to create a File Batch.  (required)
     * @param createVectorStoreFileBatchRequest  (required)
     * @return VectorStoreFileBatchObject
     */
    @Post(uri="/vector_stores/{vector_store_id}/file_batches")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<VectorStoreFileBatchObject> createVectorStoreFileBatch(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @Body @NotNull @Valid CreateVectorStoreFileBatchRequest createVectorStoreFileBatchRequest
    );

    /**
     * Delete a vector store.
     *
     * @param vectorStoreId The ID of the vector store to delete. (required)
     * @return DeleteVectorStoreResponse
     */
    @Delete(uri="/vector_stores/{vector_store_id}")
    @Consumes({"application/json"})
    Mono<DeleteVectorStoreResponse> deleteVectorStore(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId
    );

    /**
     * Delete a vector store file. This will remove the file from the vector store but the file itself will not be deleted. To delete the file, use the [delete file](/docs/api-reference/files/delete) endpoint.
     *
     * @param vectorStoreId The ID of the vector store that the file belongs to. (required)
     * @param fileId The ID of the file to delete. (required)
     * @return DeleteVectorStoreFileResponse
     */
    @Delete(uri="/vector_stores/{vector_store_id}/files/{file_id}")
    @Consumes({"application/json"})
    Mono<DeleteVectorStoreFileResponse> deleteVectorStoreFile(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @PathVariable(name="file_id") @NotNull String fileId
    );

    /**
     * Retrieves a vector store.
     *
     * @param vectorStoreId The ID of the vector store to retrieve. (required)
     * @return VectorStoreObject
     */
    @Get(uri="/vector_stores/{vector_store_id}")
    @Consumes({"application/json"})
    Mono<VectorStoreObject> getVectorStore(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId
    );

    /**
     * Retrieves a vector store file.
     *
     * @param vectorStoreId The ID of the vector store that the file belongs to. (required)
     * @param fileId The ID of the file being retrieved. (required)
     * @return VectorStoreFileObject
     */
    @Get(uri="/vector_stores/{vector_store_id}/files/{file_id}")
    @Consumes({"application/json"})
    Mono<VectorStoreFileObject> getVectorStoreFile(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @PathVariable(name="file_id") @NotNull String fileId
    );

    /**
     * Retrieves a vector store file batch.
     *
     * @param vectorStoreId The ID of the vector store that the file batch belongs to. (required)
     * @param batchId The ID of the file batch being retrieved. (required)
     * @return VectorStoreFileBatchObject
     */
    @Get(uri="/vector_stores/{vector_store_id}/file_batches/{batch_id}")
    @Consumes({"application/json"})
    Mono<VectorStoreFileBatchObject> getVectorStoreFileBatch(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @PathVariable(name="batch_id") @NotNull String batchId
    );

    /**
     * Returns a list of vector store files in a batch.
     *
     * @param vectorStoreId The ID of the vector store that the files belong to. (required)
     * @param batchId The ID of the file batch that the files belong to. (required)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (optional, default to desc)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.  (optional)
     * @param filter Filter by file status. One of &#x60;in_progress&#x60;, &#x60;completed&#x60;, &#x60;failed&#x60;, &#x60;cancelled&#x60;. (optional)
     * @return ListVectorStoreFilesResponse
     */
    @Get(uri="/vector_stores/{vector_store_id}/file_batches/{batch_id}/files")
    @Consumes({"application/json"})
    Mono<ListVectorStoreFilesResponse> listFilesInVectorStoreBatch(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @PathVariable(name="batch_id") @NotNull String batchId, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="order", defaultValue="desc") @Nullable String order, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="before") @Nullable String before, 
        @QueryValue(value="filter") @Nullable String filter
    );

    /**
     * Returns a list of vector store files.
     *
     * @param vectorStoreId The ID of the vector store that the files belong to. (required)
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (optional, default to desc)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.  (optional)
     * @param filter Filter by file status. One of &#x60;in_progress&#x60;, &#x60;completed&#x60;, &#x60;failed&#x60;, &#x60;cancelled&#x60;. (optional)
     * @return ListVectorStoreFilesResponse
     */
    @Get(uri="/vector_stores/{vector_store_id}/files")
    @Consumes({"application/json"})
    Mono<ListVectorStoreFilesResponse> listVectorStoreFiles(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="order", defaultValue="desc") @Nullable String order, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="before") @Nullable String before, 
        @QueryValue(value="filter") @Nullable String filter
    );

    /**
     * Returns a list of vector stores.
     *
     * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (optional, default to 20)
     * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (optional, default to desc)
     * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.  (optional)
     * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.  (optional)
     * @return ListVectorStoresResponse
     */
    @Get(uri="/vector_stores")
    @Consumes({"application/json"})
    Mono<ListVectorStoresResponse> listVectorStores(
        @QueryValue(value="limit", defaultValue="20") @Nullable Integer limit, 
        @QueryValue(value="order", defaultValue="desc") @Nullable String order, 
        @QueryValue(value="after") @Nullable String after, 
        @QueryValue(value="before") @Nullable String before
    );

    /**
     * Modifies a vector store.
     *
     * @param vectorStoreId The ID of the vector store to modify. (required)
     * @param updateVectorStoreRequest  (required)
     * @return VectorStoreObject
     */
    @Post(uri="/vector_stores/{vector_store_id}")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<VectorStoreObject> modifyVectorStore(
        @PathVariable(name="vector_store_id") @NotNull String vectorStoreId, 
        @Body @NotNull @Valid UpdateVectorStoreRequest updateVectorStoreRequest
    );

}
