/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AuditLogEventType
import org.openapitools.client.model.ListAuditLogsEffectiveAtParameter
import org.openapitools.client.model.ListAuditLogsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AuditLogsApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new AuditLogsApi(baseUrl)
}

class AuditLogsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : ListAuditLogsResponse (Audit logs listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param effectiveAt Return only events whose `effective_at` (Unix seconds) is in this range.
   * @param projectIds Return only events for these projects.
   * @param eventTypes Return only events with a `type` in one of these values. For example, `project.created`. For all options, see the documentation for the [audit log object](/docs/api-reference/audit-logs/object).
   * @param actorIds Return only events performed by these actors. Can be a user ID, a service account ID, or an api key tracking ID.
   * @param actorEmails Return only events performed by users with these emails.
   * @param resourceIds Return only events performed on these targets. For example, a project ID updated.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list. 
   */
  def listAuditLogs(effectiveAt: Option[ListAuditLogsEffectiveAtParameter] = None, projectIds: Seq[String], eventTypes: Seq[AuditLogEventType], actorIds: Seq[String], actorEmails: Seq[String], resourceIds: Seq[String], limit: Option[Int] = None, after: Option[String] = None, before: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ListAuditLogsResponse] =
    ApiRequest[ListAuditLogsResponse](ApiMethods.GET, baseUrl, "/organization/audit_logs", "application/json")
      .withCredentials(bearerToken).withQueryParam("effective_at", effectiveAt)
      .withQueryParam("project_ids[]", ArrayValues(projectIds, MULTI))
      .withQueryParam("event_types[]", ArrayValues(eventTypes, MULTI))
      .withQueryParam("actor_ids[]", ArrayValues(actorIds, MULTI))
      .withQueryParam("actor_emails[]", ArrayValues(actorEmails, MULTI))
      .withQueryParam("resource_ids[]", ArrayValues(resourceIds, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("after", after)
      .withQueryParam("before", before)
      .withSuccessResponse[ListAuditLogsResponse](200)
      



}

