/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Batch
import org.openapitools.client.model.CreateBatchRequest
import org.openapitools.client.model.ListBatchesResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BatchApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new BatchApi(baseUrl)
}

class BatchApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Batch (Batch is cancelling. Returns the cancelling batch's details.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param batchId The ID of the batch to cancel.
   */
  def cancelBatch(batchId: String)(implicit bearerToken: BearerToken): ApiRequest[Batch] =
    ApiRequest[Batch](ApiMethods.POST, baseUrl, "/batches/{batch_id}/cancel", "application/json")
      .withCredentials(bearerToken).withPathParam("batch_id", batchId)
      .withSuccessResponse[Batch](200)
      

  /**
   * Expected answers:
   *   code 200 : Batch (Batch created successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param createBatchRequest 
   */
  def createBatch(createBatchRequest: CreateBatchRequest)(implicit bearerToken: BearerToken): ApiRequest[Batch] =
    ApiRequest[Batch](ApiMethods.POST, baseUrl, "/batches", "application/json")
      .withCredentials(bearerToken).withBody(createBatchRequest)
      .withSuccessResponse[Batch](200)
      

  /**
   * Expected answers:
   *   code 200 : ListBatchesResponse (Batch listed successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   */
  def listBatches(after: Option[String] = None, limit: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[ListBatchesResponse] =
    ApiRequest[ListBatchesResponse](ApiMethods.GET, baseUrl, "/batches", "application/json")
      .withCredentials(bearerToken).withQueryParam("after", after)
      .withQueryParam("limit", limit)
      .withSuccessResponse[ListBatchesResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Batch (Batch retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param batchId The ID of the batch to retrieve.
   */
  def retrieveBatch(batchId: String)(implicit bearerToken: BearerToken): ApiRequest[Batch] =
    ApiRequest[Batch](ApiMethods.GET, baseUrl, "/batches/{batch_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("batch_id", batchId)
      .withSuccessResponse[Batch](200)
      



}

