/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateImageEditRequestModel
import org.openapitools.client.model.CreateImageRequest
import java.io.File
import org.openapitools.client.model.ImagesResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ImagesApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new ImagesApi(baseUrl)
}

class ImagesApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : ImagesResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param createImageRequest 
   */
  def createImage(createImageRequest: CreateImageRequest)(implicit bearerToken: BearerToken): ApiRequest[ImagesResponse] =
    ApiRequest[ImagesResponse](ApiMethods.POST, baseUrl, "/images/generations", "application/json")
      .withCredentials(bearerToken).withBody(createImageRequest)
      .withSuccessResponse[ImagesResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ImagesResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param image The image to edit. Must be a valid PNG file, less than 4MB, and square. If mask is not provided, image must have transparency, which will be used as the mask.
   * @param prompt A text description of the desired image(s). The maximum length is 1000 characters.
   * @param mask An additional image whose fully transparent areas (e.g. where alpha is zero) indicate where `image` should be edited. Must be a valid PNG file, less than 4MB, and have the same dimensions as `image`.
   * @param model 
   * @param `n` The number of images to generate. Must be between 1 and 10.
   * @param size The size of the generated images. Must be one of `256x256`, `512x512`, or `1024x1024`.
   * @param responseFormat The format in which the generated images are returned. Must be one of `url` or `b64_json`. URLs are only valid for 60 minutes after the image has been generated.
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices#end-user-ids). 
   */
  def createImageEdit(image: File, prompt: String, mask: Option[File] = None, model: Option[CreateImageEditRequestModel] = None, `n`: Option[Int] = None, size: Option[String] = None, responseFormat: Option[String] = None, user: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ImagesResponse] =
    ApiRequest[ImagesResponse](ApiMethods.POST, baseUrl, "/images/edits", "multipart/form-data")
      .withCredentials(bearerToken).withFormParam("image", image)
      .withFormParam("prompt", prompt)
      .withFormParam("mask", mask)
      .withFormParam("model", model)
      .withFormParam("n", `n`)
      .withFormParam("size", size)
      .withFormParam("response_format", responseFormat)
      .withFormParam("user", user)
      .withSuccessResponse[ImagesResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ImagesResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param image The image to use as the basis for the variation(s). Must be a valid PNG file, less than 4MB, and square.
   * @param model 
   * @param `n` The number of images to generate. Must be between 1 and 10. For `dall-e-3`, only `n=1` is supported.
   * @param responseFormat The format in which the generated images are returned. Must be one of `url` or `b64_json`. URLs are only valid for 60 minutes after the image has been generated.
   * @param size The size of the generated images. Must be one of `256x256`, `512x512`, or `1024x1024`.
   * @param user A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices#end-user-ids). 
   */
  def createImageVariation(image: File, model: Option[CreateImageEditRequestModel] = None, `n`: Option[Int] = None, responseFormat: Option[String] = None, size: Option[String] = None, user: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ImagesResponse] =
    ApiRequest[ImagesResponse](ApiMethods.POST, baseUrl, "/images/variations", "multipart/form-data")
      .withCredentials(bearerToken).withFormParam("image", image)
      .withFormParam("model", model)
      .withFormParam("n", `n`)
      .withFormParam("response_format", responseFormat)
      .withFormParam("size", size)
      .withFormParam("user", user)
      .withSuccessResponse[ImagesResponse](200)
      



}

