/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.RealtimeSessionCreateRequest
import org.openapitools.client.model.RealtimeSessionCreateResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RealtimeApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new RealtimeApi(baseUrl)
}

class RealtimeApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : RealtimeSessionCreateResponse (Session created successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param realtimeSessionCreateRequest Create an ephemeral API key with the given session configuration.
   */
  def createRealtimeSession(realtimeSessionCreateRequest: RealtimeSessionCreateRequest)(implicit bearerToken: BearerToken): ApiRequest[RealtimeSessionCreateResponse] =
    ApiRequest[RealtimeSessionCreateResponse](ApiMethods.POST, baseUrl, "/realtime/sessions", "application/json")
      .withCredentials(bearerToken).withBody(realtimeSessionCreateRequest)
      .withSuccessResponse[RealtimeSessionCreateResponse](200)
      



}

