/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.UsageResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UsageApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new UsageApi(baseUrl)
}

class UsageApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param userIds Return only usage for these users.
   * @param apiKeyIds Return only usage for these API keys.
   * @param models Return only usage for these models.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageAudioSpeeches(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], userIds: Seq[String], apiKeyIds: Seq[String], models: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/audio_speeches", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("user_ids", ArrayValues(userIds, MULTI))
      .withQueryParam("api_key_ids", ArrayValues(apiKeyIds, MULTI))
      .withQueryParam("models", ArrayValues(models, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param userIds Return only usage for these users.
   * @param apiKeyIds Return only usage for these API keys.
   * @param models Return only usage for these models.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageAudioTranscriptions(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], userIds: Seq[String], apiKeyIds: Seq[String], models: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/audio_transcriptions", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("user_ids", ArrayValues(userIds, MULTI))
      .withQueryParam("api_key_ids", ArrayValues(apiKeyIds, MULTI))
      .withQueryParam("models", ArrayValues(models, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageCodeInterpreterSessions(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/code_interpreter_sessions", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param userIds Return only usage for these users.
   * @param apiKeyIds Return only usage for these API keys.
   * @param models Return only usage for these models.
   * @param batch If `true`, return batch jobs only. If `false`, return non-batch jobs only. By default, return both. 
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model`, `batch` or any combination of them.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageCompletions(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], userIds: Seq[String], apiKeyIds: Seq[String], models: Seq[String], batch: Option[Boolean] = None, groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/completions", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("user_ids", ArrayValues(userIds, MULTI))
      .withQueryParam("api_key_ids", ArrayValues(apiKeyIds, MULTI))
      .withQueryParam("models", ArrayValues(models, MULTI))
      .withQueryParam("batch", batch)
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Costs data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently only `1d` is supported, default to `1d`.
   * @param projectIds Return only costs for these projects.
   * @param groupBy Group the costs by the specified fields. Support fields include `project_id`, `line_item` and any combination of them.
   * @param limit A limit on the number of buckets to be returned. Limit can range between 1 and 180, and the default is 7. 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageCosts(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/costs", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param userIds Return only usage for these users.
   * @param apiKeyIds Return only usage for these API keys.
   * @param models Return only usage for these models.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageEmbeddings(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], userIds: Seq[String], apiKeyIds: Seq[String], models: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/embeddings", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("user_ids", ArrayValues(userIds, MULTI))
      .withQueryParam("api_key_ids", ArrayValues(apiKeyIds, MULTI))
      .withQueryParam("models", ArrayValues(models, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param sources Return only usages for these sources. Possible values are `image.generation`, `image.edit`, `image.variation` or any combination of them.
   * @param sizes Return only usages for these image sizes. Possible values are `256x256`, `512x512`, `1024x1024`, `1792x1792`, `1024x1792` or any combination of them.
   * @param projectIds Return only usage for these projects.
   * @param userIds Return only usage for these users.
   * @param apiKeyIds Return only usage for these API keys.
   * @param models Return only usage for these models.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model`, `size`, `source` or any combination of them.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageImages(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, sources: Seq[String], sizes: Seq[String], projectIds: Seq[String], userIds: Seq[String], apiKeyIds: Seq[String], models: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/images", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("sources", ArrayValues(sources, MULTI))
      .withQueryParam("sizes", ArrayValues(sizes, MULTI))
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("user_ids", ArrayValues(userIds, MULTI))
      .withQueryParam("api_key_ids", ArrayValues(apiKeyIds, MULTI))
      .withQueryParam("models", ArrayValues(models, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param userIds Return only usage for these users.
   * @param apiKeyIds Return only usage for these API keys.
   * @param models Return only usage for these models.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`, `user_id`, `api_key_id`, `model` or any combination of them.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageModerations(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], userIds: Seq[String], apiKeyIds: Seq[String], models: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/moderations", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("user_ids", ArrayValues(userIds, MULTI))
      .withQueryParam("api_key_ids", ArrayValues(apiKeyIds, MULTI))
      .withQueryParam("models", ArrayValues(models, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : UsageResponse (Usage data retrieved successfully.)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param startTime Start time (Unix seconds) of the query time range, inclusive.
   * @param endTime End time (Unix seconds) of the query time range, exclusive.
   * @param bucketWidth Width of each time bucket in response. Currently `1m`, `1h` and `1d` are supported, default to `1d`.
   * @param projectIds Return only usage for these projects.
   * @param groupBy Group the usage data by the specified fields. Support fields include `project_id`.
   * @param limit Specifies the number of buckets to return. - `bucket_width=1d`: default: 7, max: 31 - `bucket_width=1h`: default: 24, max: 168 - `bucket_width=1m`: default: 60, max: 1440 
   * @param page A cursor for use in pagination. Corresponding to the `next_page` field from the previous response.
   */
  def usageVectorStores(startTime: Int, endTime: Option[Int] = None, bucketWidth: Option[String] = None, projectIds: Seq[String], groupBy: Seq[String], limit: Option[Int] = None, page: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[UsageResponse] =
    ApiRequest[UsageResponse](ApiMethods.GET, baseUrl, "/organization/usage/vector_stores", "application/json")
      .withCredentials(bearerToken).withQueryParam("start_time", startTime)
      .withQueryParam("end_time", endTime)
      .withQueryParam("bucket_width", bucketWidth)
      .withQueryParam("project_ids", ArrayValues(projectIds, MULTI))
      .withQueryParam("group_by", ArrayValues(groupBy, MULTI))
      .withQueryParam("limit", limit)
      .withQueryParam("page", page)
      .withSuccessResponse[UsageResponse](200)
      



}

