/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateVectorStoreFileBatchRequest
import org.openapitools.client.model.CreateVectorStoreFileRequest
import org.openapitools.client.model.CreateVectorStoreRequest
import org.openapitools.client.model.DeleteVectorStoreFileResponse
import org.openapitools.client.model.DeleteVectorStoreResponse
import org.openapitools.client.model.ListVectorStoreFilesResponse
import org.openapitools.client.model.ListVectorStoresResponse
import org.openapitools.client.model.UpdateVectorStoreRequest
import org.openapitools.client.model.VectorStoreFileBatchObject
import org.openapitools.client.model.VectorStoreFileObject
import org.openapitools.client.model.VectorStoreObject
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object VectorStoresApi {

  def apply(baseUrl: String = "https://api.openai.com/v1") = new VectorStoresApi(baseUrl)
}

class VectorStoresApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : VectorStoreFileBatchObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store that the file batch belongs to.
   * @param batchId The ID of the file batch to cancel.
   */
  def cancelVectorStoreFileBatch(vectorStoreId: String, batchId: String)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreFileBatchObject] =
    ApiRequest[VectorStoreFileBatchObject](ApiMethods.POST, baseUrl, "/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel", "application/json")
      .withCredentials(bearerToken).withPathParam("vector_store_id", vectorStoreId)
      .withPathParam("batch_id", batchId)
      .withSuccessResponse[VectorStoreFileBatchObject](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param createVectorStoreRequest 
   */
  def createVectorStore(createVectorStoreRequest: CreateVectorStoreRequest)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreObject] =
    ApiRequest[VectorStoreObject](ApiMethods.POST, baseUrl, "/vector_stores", "application/json")
      .withCredentials(bearerToken).withBody(createVectorStoreRequest)
      .withSuccessResponse[VectorStoreObject](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreFileObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store for which to create a File. 
   * @param createVectorStoreFileRequest 
   */
  def createVectorStoreFile(vectorStoreId: String, createVectorStoreFileRequest: CreateVectorStoreFileRequest)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreFileObject] =
    ApiRequest[VectorStoreFileObject](ApiMethods.POST, baseUrl, "/vector_stores/{vector_store_id}/files", "application/json")
      .withCredentials(bearerToken).withBody(createVectorStoreFileRequest)
      .withPathParam("vector_store_id", vectorStoreId)
      .withSuccessResponse[VectorStoreFileObject](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreFileBatchObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store for which to create a File Batch. 
   * @param createVectorStoreFileBatchRequest 
   */
  def createVectorStoreFileBatch(vectorStoreId: String, createVectorStoreFileBatchRequest: CreateVectorStoreFileBatchRequest)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreFileBatchObject] =
    ApiRequest[VectorStoreFileBatchObject](ApiMethods.POST, baseUrl, "/vector_stores/{vector_store_id}/file_batches", "application/json")
      .withCredentials(bearerToken).withBody(createVectorStoreFileBatchRequest)
      .withPathParam("vector_store_id", vectorStoreId)
      .withSuccessResponse[VectorStoreFileBatchObject](200)
      

  /**
   * Expected answers:
   *   code 200 : DeleteVectorStoreResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store to delete.
   */
  def deleteVectorStore(vectorStoreId: String)(implicit bearerToken: BearerToken): ApiRequest[DeleteVectorStoreResponse] =
    ApiRequest[DeleteVectorStoreResponse](ApiMethods.DELETE, baseUrl, "/vector_stores/{vector_store_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("vector_store_id", vectorStoreId)
      .withSuccessResponse[DeleteVectorStoreResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : DeleteVectorStoreFileResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store that the file belongs to.
   * @param fileId The ID of the file to delete.
   */
  def deleteVectorStoreFile(vectorStoreId: String, fileId: String)(implicit bearerToken: BearerToken): ApiRequest[DeleteVectorStoreFileResponse] =
    ApiRequest[DeleteVectorStoreFileResponse](ApiMethods.DELETE, baseUrl, "/vector_stores/{vector_store_id}/files/{file_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("vector_store_id", vectorStoreId)
      .withPathParam("file_id", fileId)
      .withSuccessResponse[DeleteVectorStoreFileResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store to retrieve.
   */
  def getVectorStore(vectorStoreId: String)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreObject] =
    ApiRequest[VectorStoreObject](ApiMethods.GET, baseUrl, "/vector_stores/{vector_store_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("vector_store_id", vectorStoreId)
      .withSuccessResponse[VectorStoreObject](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreFileObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store that the file belongs to.
   * @param fileId The ID of the file being retrieved.
   */
  def getVectorStoreFile(vectorStoreId: String, fileId: String)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreFileObject] =
    ApiRequest[VectorStoreFileObject](ApiMethods.GET, baseUrl, "/vector_stores/{vector_store_id}/files/{file_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("vector_store_id", vectorStoreId)
      .withPathParam("file_id", fileId)
      .withSuccessResponse[VectorStoreFileObject](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreFileBatchObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store that the file batch belongs to.
   * @param batchId The ID of the file batch being retrieved.
   */
  def getVectorStoreFileBatch(vectorStoreId: String, batchId: String)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreFileBatchObject] =
    ApiRequest[VectorStoreFileBatchObject](ApiMethods.GET, baseUrl, "/vector_stores/{vector_store_id}/file_batches/{batch_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("vector_store_id", vectorStoreId)
      .withPathParam("batch_id", batchId)
      .withSuccessResponse[VectorStoreFileBatchObject](200)
      

  /**
   * Expected answers:
   *   code 200 : ListVectorStoreFilesResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store that the files belong to.
   * @param batchId The ID of the file batch that the files belong to.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list. 
   * @param filter Filter by file status. One of `in_progress`, `completed`, `failed`, `cancelled`.
   */
  def listFilesInVectorStoreBatch(vectorStoreId: String, batchId: String, limit: Option[Int] = None, order: Option[String] = None, after: Option[String] = None, before: Option[String] = None, filter: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ListVectorStoreFilesResponse] =
    ApiRequest[ListVectorStoreFilesResponse](ApiMethods.GET, baseUrl, "/vector_stores/{vector_store_id}/file_batches/{batch_id}/files", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("order", order)
      .withQueryParam("after", after)
      .withQueryParam("before", before)
      .withQueryParam("filter", filter)
      .withPathParam("vector_store_id", vectorStoreId)
      .withPathParam("batch_id", batchId)
      .withSuccessResponse[ListVectorStoreFilesResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ListVectorStoreFilesResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store that the files belong to.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list. 
   * @param filter Filter by file status. One of `in_progress`, `completed`, `failed`, `cancelled`.
   */
  def listVectorStoreFiles(vectorStoreId: String, limit: Option[Int] = None, order: Option[String] = None, after: Option[String] = None, before: Option[String] = None, filter: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ListVectorStoreFilesResponse] =
    ApiRequest[ListVectorStoreFilesResponse](ApiMethods.GET, baseUrl, "/vector_stores/{vector_store_id}/files", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("order", order)
      .withQueryParam("after", after)
      .withQueryParam("before", before)
      .withQueryParam("filter", filter)
      .withPathParam("vector_store_id", vectorStoreId)
      .withSuccessResponse[ListVectorStoreFilesResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : ListVectorStoresResponse (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order. 
   * @param after A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list. 
   */
  def listVectorStores(limit: Option[Int] = None, order: Option[String] = None, after: Option[String] = None, before: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ListVectorStoresResponse] =
    ApiRequest[ListVectorStoresResponse](ApiMethods.GET, baseUrl, "/vector_stores", "application/json")
      .withCredentials(bearerToken).withQueryParam("limit", limit)
      .withQueryParam("order", order)
      .withQueryParam("after", after)
      .withQueryParam("before", before)
      .withSuccessResponse[ListVectorStoresResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : VectorStoreObject (OK)
   * 
   * Available security schemes:
   *   ApiKeyAuth (http)
   * 
   * @param vectorStoreId The ID of the vector store to modify.
   * @param updateVectorStoreRequest 
   */
  def modifyVectorStore(vectorStoreId: String, updateVectorStoreRequest: UpdateVectorStoreRequest)(implicit bearerToken: BearerToken): ApiRequest[VectorStoreObject] =
    ApiRequest[VectorStoreObject](ApiMethods.POST, baseUrl, "/vector_stores/{vector_store_id}", "application/json")
      .withCredentials(bearerToken).withBody(updateVectorStoreRequest)
      .withPathParam("vector_store_id", vectorStoreId)
      .withSuccessResponse[VectorStoreObject](200)
      



}

