# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.AuditLogs do
  @moduledoc """
  API calls for all endpoints tagged `AuditLogs`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  List user actions and configuration changes within this organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:effective_at` (ListAuditLogsEffectiveAtParameter): Return only events whose `effective_at` (Unix seconds) is in this range.
    - `:"project_ids[]"` ([String.t]): Return only events for these projects.
    - `:"event_types[]"` ([OpenAIAPI.Model.AuditLogEventType.t]): Return only events with a `type` in one of these values. For example, `project.created`. For all options, see the documentation for the [audit log object](/docs/api-reference/audit-logs/object).
    - `:"actor_ids[]"` ([String.t]): Return only events performed by these actors. Can be a user ID, a service account ID, or an api key tracking ID.
    - `:"actor_emails[]"` ([String.t]): Return only events performed by users with these emails.
    - `:"resource_ids[]"` ([String.t]): Return only events performed on these targets. For example, a project ID updated.
    - `:limit` (integer()): A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
    - `:after` (String.t): A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 
    - `:before` (String.t): A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list. 

  ### Returns

  - `{:ok, OpenAIAPI.Model.ListAuditLogsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_audit_logs(Tesla.Env.client, keyword()) :: {:ok, OpenAIAPI.Model.ListAuditLogsResponse.t} | {:error, Tesla.Env.t}
  def list_audit_logs(connection, opts \\ []) do
    optional_params = %{
      :effective_at => :query,
      :"project_ids[]" => :query,
      :"event_types[]" => :query,
      :"actor_ids[]" => :query,
      :"actor_emails[]" => :query,
      :"resource_ids[]" => :query,
      :limit => :query,
      :after => :query,
      :before => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/organization/audit_logs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.ListAuditLogsResponse}
    ])
  end
end
