# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.Chat do
  @moduledoc """
  API calls for all endpoints tagged `Chat`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  Creates a model response for the given chat conversation. Learn more in the [text generation](/docs/guides/text-generation), [vision](/docs/guides/vision), and [audio](/docs/guides/audio) guides.  Parameter support can differ depending on the model used to generate the response, particularly for newer reasoning models. Parameters that are only supported for reasoning models are noted below. For the current state of  unsupported parameters in reasoning models,  [refer to the reasoning guide](/docs/guides/reasoning). 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `create_chat_completion_request` (CreateChatCompletionRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.CreateChatCompletionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_chat_completion(Tesla.Env.client, OpenAIAPI.Model.CreateChatCompletionRequest.t, keyword()) :: {:ok, OpenAIAPI.Model.CreateChatCompletionResponse.t} | {:error, Tesla.Env.t}
  def create_chat_completion(connection, create_chat_completion_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/chat/completions")
      |> add_param(:body, :body, create_chat_completion_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.CreateChatCompletionResponse}
    ])
  end
end
