# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.Default do
  @moduledoc """
  API calls for all endpoints tagged `Default`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  Create an organization admin API key
  Create a new admin-level API key for the organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `admin_api_keys_create_request` (AdminApiKeysCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.AdminApiKey.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec admin_api_keys_create(Tesla.Env.client, OpenAIAPI.Model.AdminApiKeysCreateRequest.t, keyword()) :: {:ok, OpenAIAPI.Model.AdminApiKey.t} | {:error, Tesla.Env.t}
  def admin_api_keys_create(connection, admin_api_keys_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/organization/admin_api_keys")
      |> add_param(:body, :body, admin_api_keys_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.AdminApiKey}
    ])
  end

  @doc """
  Delete an organization admin API key
  Delete the specified admin API key.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `key_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.AdminApiKeysDelete200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec admin_api_keys_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.AdminApiKeysDelete200Response.t} | {:error, Tesla.Env.t}
  def admin_api_keys_delete(connection, key_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/organization/admin_api_keys/#{key_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.AdminApiKeysDelete200Response}
    ])
  end

  @doc """
  Retrieve a single organization API key
  Get details for a specific organization API key by its ID.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `key_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.AdminApiKey.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec admin_api_keys_get(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.AdminApiKey.t} | {:error, Tesla.Env.t}
  def admin_api_keys_get(connection, key_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/organization/admin_api_keys/#{key_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.AdminApiKey}
    ])
  end

  @doc """
  List organization API keys
  Retrieve a paginated list of organization admin API keys.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:after` (String.t): 
    - `:order` (String.t): 
    - `:limit` (integer()): 

  ### Returns

  - `{:ok, OpenAIAPI.Model.ApiKeyList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec admin_api_keys_list(Tesla.Env.client, keyword()) :: {:ok, OpenAIAPI.Model.ApiKeyList.t} | {:error, Tesla.Env.t}
  def admin_api_keys_list(connection, opts \\ []) do
    optional_params = %{
      :after => :query,
      :order => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/organization/admin_api_keys")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.ApiKeyList}
    ])
  end
end
