# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.FineTuning do
  @moduledoc """
  API calls for all endpoints tagged `FineTuning`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  Immediately cancel a fine-tune job. 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `fine_tuning_job_id` (String.t): The ID of the fine-tuning job to cancel. 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.FineTuningJob.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cancel_fine_tuning_job(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.FineTuningJob.t} | {:error, Tesla.Env.t}
  def cancel_fine_tuning_job(connection, fine_tuning_job_id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/fine_tuning/jobs/#{fine_tuning_job_id}/cancel")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.FineTuningJob}
    ])
  end

  @doc """
  Creates a fine-tuning job which begins the process of creating a new model from a given dataset.  Response includes details of the enqueued job including job status and the name of the fine-tuned models once complete.  [Learn more about fine-tuning](/docs/guides/fine-tuning) 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `create_fine_tuning_job_request` (CreateFineTuningJobRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.FineTuningJob.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_fine_tuning_job(Tesla.Env.client, OpenAIAPI.Model.CreateFineTuningJobRequest.t, keyword()) :: {:ok, OpenAIAPI.Model.FineTuningJob.t} | {:error, Tesla.Env.t}
  def create_fine_tuning_job(connection, create_fine_tuning_job_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/fine_tuning/jobs")
      |> add_param(:body, :body, create_fine_tuning_job_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.FineTuningJob}
    ])
  end

  @doc """
  Get status updates for a fine-tuning job. 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `fine_tuning_job_id` (String.t): The ID of the fine-tuning job to get events for. 
  - `opts` (keyword): Optional parameters
    - `:after` (String.t): Identifier for the last event from the previous pagination request.
    - `:limit` (integer()): Number of events to retrieve.

  ### Returns

  - `{:ok, OpenAIAPI.Model.ListFineTuningJobEventsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_fine_tuning_events(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.ListFineTuningJobEventsResponse.t} | {:error, Tesla.Env.t}
  def list_fine_tuning_events(connection, fine_tuning_job_id, opts \\ []) do
    optional_params = %{
      :after => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/fine_tuning/jobs/#{fine_tuning_job_id}/events")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.ListFineTuningJobEventsResponse}
    ])
  end

  @doc """
  List checkpoints for a fine-tuning job. 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `fine_tuning_job_id` (String.t): The ID of the fine-tuning job to get checkpoints for. 
  - `opts` (keyword): Optional parameters
    - `:after` (String.t): Identifier for the last checkpoint ID from the previous pagination request.
    - `:limit` (integer()): Number of checkpoints to retrieve.

  ### Returns

  - `{:ok, OpenAIAPI.Model.ListFineTuningJobCheckpointsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_fine_tuning_job_checkpoints(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.ListFineTuningJobCheckpointsResponse.t} | {:error, Tesla.Env.t}
  def list_fine_tuning_job_checkpoints(connection, fine_tuning_job_id, opts \\ []) do
    optional_params = %{
      :after => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/fine_tuning/jobs/#{fine_tuning_job_id}/checkpoints")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.ListFineTuningJobCheckpointsResponse}
    ])
  end

  @doc """
  List your organization's fine-tuning jobs 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:after` (String.t): Identifier for the last job from the previous pagination request.
    - `:limit` (integer()): Number of fine-tuning jobs to retrieve.

  ### Returns

  - `{:ok, OpenAIAPI.Model.ListPaginatedFineTuningJobsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_paginated_fine_tuning_jobs(Tesla.Env.client, keyword()) :: {:ok, OpenAIAPI.Model.ListPaginatedFineTuningJobsResponse.t} | {:error, Tesla.Env.t}
  def list_paginated_fine_tuning_jobs(connection, opts \\ []) do
    optional_params = %{
      :after => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/fine_tuning/jobs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.ListPaginatedFineTuningJobsResponse}
    ])
  end

  @doc """
  Get info about a fine-tuning job.  [Learn more about fine-tuning](/docs/guides/fine-tuning) 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `fine_tuning_job_id` (String.t): The ID of the fine-tuning job. 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.FineTuningJob.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_fine_tuning_job(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.FineTuningJob.t} | {:error, Tesla.Env.t}
  def retrieve_fine_tuning_job(connection, fine_tuning_job_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/fine_tuning/jobs/#{fine_tuning_job_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.FineTuningJob}
    ])
  end
end
