# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.Invites do
  @moduledoc """
  API calls for all endpoints tagged `Invites`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  Delete an invite. If the invite has already been accepted, it cannot be deleted.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `invite_id` (String.t): The ID of the invite to delete.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.InviteDeleteResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_invite(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.InviteDeleteResponse.t} | {:error, Tesla.Env.t}
  def delete_invite(connection, invite_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/organization/invites/#{invite_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.InviteDeleteResponse}
    ])
  end

  @doc """
  Create an invite for a user to the organization. The invite must be accepted by the user before they have access to the organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `invite_request` (InviteRequest): The invite request payload.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.Invite.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec invite_user(Tesla.Env.client, OpenAIAPI.Model.InviteRequest.t, keyword()) :: {:ok, OpenAIAPI.Model.Invite.t} | {:error, Tesla.Env.t}
  def invite_user(connection, invite_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/organization/invites")
      |> add_param(:body, :body, invite_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.Invite}
    ])
  end

  @doc """
  Returns a list of invites in the organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
    - `:after` (String.t): A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 

  ### Returns

  - `{:ok, OpenAIAPI.Model.InviteListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_invites(Tesla.Env.client, keyword()) :: {:ok, OpenAIAPI.Model.InviteListResponse.t} | {:error, Tesla.Env.t}
  def list_invites(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :after => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/organization/invites")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.InviteListResponse}
    ])
  end

  @doc """
  Retrieves an invite.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `invite_id` (String.t): The ID of the invite to retrieve.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.Invite.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_invite(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.Invite.t} | {:error, Tesla.Env.t}
  def retrieve_invite(connection, invite_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/organization/invites/#{invite_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.Invite}
    ])
  end
end
