# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.Realtime do
  @moduledoc """
  API calls for all endpoints tagged `Realtime`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  Create an ephemeral API token for use in client-side applications with the Realtime API. Can be configured with the same session parameters as the `session.update` client event.  It responds with a session object, plus a `client_secret` key which contains a usable ephemeral API token that can be used to authenticate browser clients for the Realtime API. 

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `realtime_session_create_request` (RealtimeSessionCreateRequest): Create an ephemeral API key with the given session configuration.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.RealtimeSessionCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_realtime_session(Tesla.Env.client, OpenAIAPI.Model.RealtimeSessionCreateRequest.t, keyword()) :: {:ok, OpenAIAPI.Model.RealtimeSessionCreateResponse.t} | {:error, Tesla.Env.t}
  def create_realtime_session(connection, realtime_session_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/realtime/sessions")
      |> add_param(:body, :body, realtime_session_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.RealtimeSessionCreateResponse}
    ])
  end
end
