# NOTE: This file is auto generated by OpenAPI Generator 7.18.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OpenAIAPI.Api.Users do
  @moduledoc """
  API calls for all endpoints tagged `Users`.
  """

  alias OpenAIAPI.Connection
  import OpenAIAPI.RequestBuilder

  @doc """
  Deletes a user from the organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `user_id` (String.t): The ID of the user.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.UserDeleteResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_user(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.UserDeleteResponse.t} | {:error, Tesla.Env.t}
  def delete_user(connection, user_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/organization/users/#{user_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.UserDeleteResponse}
    ])
  end

  @doc """
  Lists all of the users in the organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
    - `:after` (String.t): A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list. 

  ### Returns

  - `{:ok, OpenAIAPI.Model.UserListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_users(Tesla.Env.client, keyword()) :: {:ok, OpenAIAPI.Model.UserListResponse.t} | {:error, Tesla.Env.t}
  def list_users(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :after => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/organization/users")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.UserListResponse}
    ])
  end

  @doc """
  Modifies a user's role in the organization.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `user_id` (String.t): The ID of the user.
  - `user_role_update_request` (UserRoleUpdateRequest): The new user role to modify. This must be one of `owner` or `member`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.User.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec modify_user(Tesla.Env.client, String.t, OpenAIAPI.Model.UserRoleUpdateRequest.t, keyword()) :: {:ok, OpenAIAPI.Model.User.t} | {:error, Tesla.Env.t}
  def modify_user(connection, user_id, user_role_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/organization/users/#{user_id}")
      |> add_param(:body, :body, user_role_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.User}
    ])
  end

  @doc """
  Retrieves a user by their identifier.

  ### Parameters

  - `connection` (OpenAIAPI.Connection): Connection to server
  - `user_id` (String.t): The ID of the user.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OpenAIAPI.Model.User.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_user(Tesla.Env.client, String.t, keyword()) :: {:ok, OpenAIAPI.Model.User.t} | {:error, Tesla.Env.t}
  def retrieve_user(connection, user_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/organization/users/#{user_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OpenAIAPI.Model.User}
    ])
  end
end
