=begin
#OpenAI API

#The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.

The version of the OpenAPI document: 2.3.0
Contact: blah+oapicf@cliffano.com
Generated by: https://openapi-generator.tech
Generator version: 7.18.0

=end

require 'cgi'

module OpenApiOpenAIClient
  class RealtimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an ephemeral API token for use in client-side applications with the Realtime API. Can be configured with the same session parameters as the `session.update` client event.  It responds with a session object, plus a `client_secret` key which contains a usable ephemeral API token that can be used to authenticate browser clients for the Realtime API. 
    # @param realtime_session_create_request [RealtimeSessionCreateRequest] Create an ephemeral API key with the given session configuration.
    # @param [Hash] opts the optional parameters
    # @return [RealtimeSessionCreateResponse]
    def create_realtime_session(realtime_session_create_request, opts = {})
      data, _status_code, _headers = create_realtime_session_with_http_info(realtime_session_create_request, opts)
      data
    end

    # Create an ephemeral API token for use in client-side applications with the Realtime API. Can be configured with the same session parameters as the &#x60;session.update&#x60; client event.  It responds with a session object, plus a &#x60;client_secret&#x60; key which contains a usable ephemeral API token that can be used to authenticate browser clients for the Realtime API. 
    # @param realtime_session_create_request [RealtimeSessionCreateRequest] Create an ephemeral API key with the given session configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RealtimeSessionCreateResponse, Integer, Hash)>] RealtimeSessionCreateResponse data, response status code and response headers
    def create_realtime_session_with_http_info(realtime_session_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtimeApi.create_realtime_session ...'
      end
      # verify the required parameter 'realtime_session_create_request' is set
      if @api_client.config.client_side_validation && realtime_session_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'realtime_session_create_request' when calling RealtimeApi.create_realtime_session"
      end
      # resource path
      local_var_path = '/realtime/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(realtime_session_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RealtimeSessionCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RealtimeApi.create_realtime_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtimeApi#create_realtime_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
