dependencies:
  factories:
    Mezzio\Router\RouterInterface: Articus\PathHandler\RouteInjectionFactory
    Articus\PathHandler\MetadataProviderInterface: Articus\PathHandler\MetadataProvider\Factory\Annotation
    Articus\PathHandler\Handler\PluginManager: Articus\PathHandler\Handler\Factory\PluginManager
    Articus\PathHandler\Consumer\PluginManager: Articus\PathHandler\Consumer\Factory\PluginManager
    Articus\PathHandler\Attribute\PluginManager: Articus\PathHandler\Attribute\Factory\PluginManager
    Articus\PathHandler\Producer\PluginManager: Articus\PathHandler\Producer\Factory\PluginManager

Articus\PathHandler\RouteInjectionFactory:
  paths:
    '/v1':
    - App\Handler\Assistants
    - App\Handler\AssistantsAssistantId
    - App\Handler\AudioSpeech
    - App\Handler\AudioTranscriptions
    - App\Handler\AudioTranslations
    - App\Handler\Batches
    - App\Handler\BatchesBatchId
    - App\Handler\BatchesBatchIdCancel
    - App\Handler\ChatCompletions
    - App\Handler\Completions
    - App\Handler\Embeddings
    - App\Handler\Files
    - App\Handler\FilesFileId
    - App\Handler\FilesFileIdContent
    - App\Handler\FineTuningJobs
    - App\Handler\FineTuningJobsFineTuningJobId
    - App\Handler\FineTuningJobsFineTuningJobIdCancel
    - App\Handler\FineTuningJobsFineTuningJobIdCheckpoints
    - App\Handler\FineTuningJobsFineTuningJobIdEvents
    - App\Handler\ImagesEdits
    - App\Handler\ImagesGenerations
    - App\Handler\ImagesVariations
    - App\Handler\Models
    - App\Handler\ModelsModel
    - App\Handler\Moderations
    - App\Handler\OrganizationAdminApiKeys
    - App\Handler\OrganizationAdminApiKeysKeyId
    - App\Handler\OrganizationAuditLogs
    - App\Handler\OrganizationCosts
    - App\Handler\OrganizationInvites
    - App\Handler\OrganizationInvitesInviteId
    - App\Handler\OrganizationProjects
    - App\Handler\OrganizationProjectsProjectId
    - App\Handler\OrganizationProjectsProjectIdApiKeys
    - App\Handler\OrganizationProjectsProjectIdApiKeysKeyId
    - App\Handler\OrganizationProjectsProjectIdArchive
    - App\Handler\OrganizationProjectsProjectIdRateLimits
    - App\Handler\OrganizationProjectsProjectIdRateLimitsRateLimitId
    - App\Handler\OrganizationProjectsProjectIdServiceAccounts
    - App\Handler\OrganizationProjectsProjectIdServiceAccountsServiceAccountId
    - App\Handler\OrganizationProjectsProjectIdUsers
    - App\Handler\OrganizationProjectsProjectIdUsersUserId
    - App\Handler\OrganizationUsageAudioSpeeches
    - App\Handler\OrganizationUsageAudioTranscriptions
    - App\Handler\OrganizationUsageCodeInterpreterSessions
    - App\Handler\OrganizationUsageCompletions
    - App\Handler\OrganizationUsageEmbeddings
    - App\Handler\OrganizationUsageImages
    - App\Handler\OrganizationUsageModerations
    - App\Handler\OrganizationUsageVectorStores
    - App\Handler\OrganizationUsers
    - App\Handler\OrganizationUsersUserId
    - App\Handler\RealtimeSessions
    - App\Handler\Threads
    - App\Handler\ThreadsRuns
    - App\Handler\ThreadsThreadId
    - App\Handler\ThreadsThreadIdMessages
    - App\Handler\ThreadsThreadIdMessagesMessageId
    - App\Handler\ThreadsThreadIdRuns
    - App\Handler\ThreadsThreadIdRunsRunId
    - App\Handler\ThreadsThreadIdRunsRunIdCancel
    - App\Handler\ThreadsThreadIdRunsRunIdSteps
    - App\Handler\ThreadsThreadIdRunsRunIdStepsStepId
    - App\Handler\ThreadsThreadIdRunsRunIdSubmitToolOutputs
    - App\Handler\Uploads
    - App\Handler\UploadsUploadIdCancel
    - App\Handler\UploadsUploadIdComplete
    - App\Handler\UploadsUploadIdParts
    - App\Handler\VectorStores
    - App\Handler\VectorStoresVectorStoreId
    - App\Handler\VectorStoresVectorStoreIdFileBatches
    - App\Handler\VectorStoresVectorStoreIdFileBatchesBatchId
    - App\Handler\VectorStoresVectorStoreIdFileBatchesBatchIdCancel
    - App\Handler\VectorStoresVectorStoreIdFileBatchesBatchIdFiles
    - App\Handler\VectorStoresVectorStoreIdFiles
    - App\Handler\VectorStoresVectorStoreIdFilesFileId

Articus\PathHandler\Handler\PluginManager:
  abstract_factories:
  - Laminas\ServiceManager\AbstractFactory\ConfigAbstractFactory

#Articus\PathHandler\Consumer\PluginManager:
#  factories:
#  invokables:

#Articus\PathHandler\Attribute\PluginManager:
#  factories:
#  invokables:

#Articus\PathHandler\Producer\PluginManager:
#  factories:
#  invokables:

Laminas\ServiceManager\AbstractFactory\ConfigAbstractFactory:
  App\Handler\Assistants: []
  App\Handler\AssistantsAssistantId: []
  App\Handler\AudioSpeech: []
  App\Handler\AudioTranscriptions: []
  App\Handler\AudioTranslations: []
  App\Handler\Batches: []
  App\Handler\BatchesBatchId: []
  App\Handler\BatchesBatchIdCancel: []
  App\Handler\ChatCompletions: []
  App\Handler\Completions: []
  App\Handler\Embeddings: []
  App\Handler\Files: []
  App\Handler\FilesFileId: []
  App\Handler\FilesFileIdContent: []
  App\Handler\FineTuningJobs: []
  App\Handler\FineTuningJobsFineTuningJobId: []
  App\Handler\FineTuningJobsFineTuningJobIdCancel: []
  App\Handler\FineTuningJobsFineTuningJobIdCheckpoints: []
  App\Handler\FineTuningJobsFineTuningJobIdEvents: []
  App\Handler\ImagesEdits: []
  App\Handler\ImagesGenerations: []
  App\Handler\ImagesVariations: []
  App\Handler\Models: []
  App\Handler\ModelsModel: []
  App\Handler\Moderations: []
  App\Handler\OrganizationAdminApiKeys: []
  App\Handler\OrganizationAdminApiKeysKeyId: []
  App\Handler\OrganizationAuditLogs: []
  App\Handler\OrganizationCosts: []
  App\Handler\OrganizationInvites: []
  App\Handler\OrganizationInvitesInviteId: []
  App\Handler\OrganizationProjects: []
  App\Handler\OrganizationProjectsProjectId: []
  App\Handler\OrganizationProjectsProjectIdApiKeys: []
  App\Handler\OrganizationProjectsProjectIdApiKeysKeyId: []
  App\Handler\OrganizationProjectsProjectIdArchive: []
  App\Handler\OrganizationProjectsProjectIdRateLimits: []
  App\Handler\OrganizationProjectsProjectIdRateLimitsRateLimitId: []
  App\Handler\OrganizationProjectsProjectIdServiceAccounts: []
  App\Handler\OrganizationProjectsProjectIdServiceAccountsServiceAccountId: []
  App\Handler\OrganizationProjectsProjectIdUsers: []
  App\Handler\OrganizationProjectsProjectIdUsersUserId: []
  App\Handler\OrganizationUsageAudioSpeeches: []
  App\Handler\OrganizationUsageAudioTranscriptions: []
  App\Handler\OrganizationUsageCodeInterpreterSessions: []
  App\Handler\OrganizationUsageCompletions: []
  App\Handler\OrganizationUsageEmbeddings: []
  App\Handler\OrganizationUsageImages: []
  App\Handler\OrganizationUsageModerations: []
  App\Handler\OrganizationUsageVectorStores: []
  App\Handler\OrganizationUsers: []
  App\Handler\OrganizationUsersUserId: []
  App\Handler\RealtimeSessions: []
  App\Handler\Threads: []
  App\Handler\ThreadsRuns: []
  App\Handler\ThreadsThreadId: []
  App\Handler\ThreadsThreadIdMessages: []
  App\Handler\ThreadsThreadIdMessagesMessageId: []
  App\Handler\ThreadsThreadIdRuns: []
  App\Handler\ThreadsThreadIdRunsRunId: []
  App\Handler\ThreadsThreadIdRunsRunIdCancel: []
  App\Handler\ThreadsThreadIdRunsRunIdSteps: []
  App\Handler\ThreadsThreadIdRunsRunIdStepsStepId: []
  App\Handler\ThreadsThreadIdRunsRunIdSubmitToolOutputs: []
  App\Handler\Uploads: []
  App\Handler\UploadsUploadIdCancel: []
  App\Handler\UploadsUploadIdComplete: []
  App\Handler\UploadsUploadIdParts: []
  App\Handler\VectorStores: []
  App\Handler\VectorStoresVectorStoreId: []
  App\Handler\VectorStoresVectorStoreIdFileBatches: []
  App\Handler\VectorStoresVectorStoreIdFileBatchesBatchId: []
  App\Handler\VectorStoresVectorStoreIdFileBatchesBatchIdCancel: []
  App\Handler\VectorStoresVectorStoreIdFileBatchesBatchIdFiles: []
  App\Handler\VectorStoresVectorStoreIdFiles: []
  App\Handler\VectorStoresVectorStoreIdFilesFileId: []
