/**
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.4.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class ChatApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /chat/completions : Creates a model response for the given chat conversation.
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .post("/chat/completions")
                .description("Creates a model response for the given chat conversation.")
                .id("createChatCompletionApi")
                .produces("application/json")
                .outType(CreateChatCompletionResponse.class)
                .consumes("application/json")
                .type(CreateChatCompletionRequest.class)
                
                .param()
                    .name("createChatCompletionRequest")
                    .type(RestParamType.body)
                    .required(true)
                .endParam()
                .to("direct:createChatCompletion");
        
    }
}
