/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.18.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class DefaultApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /organization/admin_api_keys : Create an organization admin API key
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .post("/organization/admin_api_keys")
                .description("Create an organization admin API key")
                .id("adminApiKeysCreateApi")
                .produces("application/json")
                .outType(AdminApiKey.class)
                .consumes("application/json")
                .type(AdminApiKeysCreateRequest.class)
                
                .param()
                    .name("adminApiKeysCreateRequest")
                    .type(RestParamType.body)
                    .required(true)
                .endParam()
                .to("direct:adminApiKeysCreate");
        

        /**
        DELETE /organization/admin_api_keys/{key_id} : Delete an organization admin API key
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .delete("/organization/admin_api_keys/{key_id}")
                .description("Delete an organization admin API key")
                .id("adminApiKeysDeleteApi")
                .produces("application/json")
                .outType(AdminApiKeysDelete200Response.class)
                .param()
                    .name("keyId")
                    .type(RestParamType.path)
                    .required(true)
                .endParam()
                .to("direct:adminApiKeysDelete");
        

        /**
        GET /organization/admin_api_keys/{key_id} : Retrieve a single organization API key
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .get("/organization/admin_api_keys/{key_id}")
                .description("Retrieve a single organization API key")
                .id("adminApiKeysGetApi")
                .produces("application/json")
                .outType(AdminApiKey.class)
                .param()
                    .name("keyId")
                    .type(RestParamType.path)
                    .required(true)
                .endParam()
                .to("direct:adminApiKeysGet");
        

        /**
        GET /organization/admin_api_keys : List organization API keys
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .get("/organization/admin_api_keys")
                .description("List organization API keys")
                .id("adminApiKeysListApi")
                .produces("application/json")
                .outType(ApiKeyList.class)
                .param()
                    .name("after")
                    .type(RestParamType.query)
                    .required(false)
                .endParam()
                .param()
                    .name("order")
                    .type(RestParamType.query)
                    .required(false)
                .endParam()
                .param()
                    .name("limit")
                    .type(RestParamType.query)
                    .required(false)
                .endParam()
                .to("direct:adminApiKeysList");
        
    }
}
