/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.18.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class ModelsApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        DELETE /models/{model} : Delete a fine-tuned model. You must have the Owner role in your organization to delete a model.
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .delete("/models/{model}")
                .description("Delete a fine-tuned model. You must have the Owner role in your organization to delete a model.")
                .id("deleteModelApi")
                .produces("application/json")
                .outType(DeleteModelResponse.class)
                .param()
                    .name("model")
                    .type(RestParamType.path)
                    .required(true)
                    .description("The model to delete")
                .endParam()
                .to("direct:deleteModel");
        

        /**
        GET /models : Lists the currently available models, and provides basic information about each one such as the owner and availability.
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .get("/models")
                .description("Lists the currently available models, and provides basic information about each one such as the owner and availability.")
                .id("listModelsApi")
                .produces("application/json")
                .outType(ListModelsResponse.class)
                .to("direct:listModels");
        

        /**
        GET /models/{model} : Retrieves a model instance, providing basic information about the model such as the owner and permissioning.
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .get("/models/{model}")
                .description("Retrieves a model instance, providing basic information about the model such as the owner and permissioning.")
                .id("retrieveModelApi")
                .produces("application/json")
                .outType(Model.class)
                .param()
                    .name("model")
                    .type(RestParamType.path)
                    .required(true)
                    .description("The ID of the model to use for this request")
                .endParam()
                .to("direct:retrieveModel");
        
    }
}
