/*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (7.18.0).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package org.openapitools.api;

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestParamType;
import org.springframework.stereotype.Component;
import org.openapitools.model.*;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.LoggingLevel;

@Component
public class RealtimeApi extends RouteBuilder {

    @Override
    public void configure() throws Exception {
        

        /**
        POST /realtime/sessions : Create an ephemeral API token for use in client-side applications with the Realtime API. Can be configured with the same session parameters as the &#x60;session.update&#x60; client event.  It responds with a session object, plus a &#x60;client_secret&#x60; key which contains a usable ephemeral API token that can be used to authenticate browser clients for the Realtime API. 
        **/
        rest()
            .securityDefinitions()
                .bearerToken("ApiKeyAuth").end()
            .post("/realtime/sessions")
                .description("Create an ephemeral API token for use in client-side applications with the Realtime API. Can be configured with the same session parameters as the `session.update` client event.  It responds with a session object, plus a `client_secret` key which contains a usable ephemeral API token that can be used to authenticate browser clients for the Realtime API. ")
                .id("createRealtimeSessionApi")
                .produces("application/json")
                .outType(RealtimeSessionCreateResponse.class)
                .consumes("application/json")
                .type(RealtimeSessionCreateRequest.class)
                
                .param()
                    .name("realtimeSessionCreateRequest")
                    .type(RestParamType.body)
                    .required(true)
                    .description("Create an ephemeral API key with the given session configuration.")
                .endParam()
                .to("direct:createRealtimeSession");
        
    }
}
