/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AssistantObject;
import org.openapitools.client.model.CreateAssistantRequest;
import org.openapitools.client.model.CreateMessageRequest;
import org.openapitools.client.model.CreateRunRequest;
import org.openapitools.client.model.CreateThreadAndRunRequest;
import org.openapitools.client.model.CreateThreadRequest;
import org.openapitools.client.model.DeleteAssistantResponse;
import org.openapitools.client.model.DeleteMessageResponse;
import org.openapitools.client.model.DeleteThreadResponse;
import java.util.*;
import org.openapitools.client.model.ListAssistantsResponse;
import org.openapitools.client.model.ListMessagesResponse;
import org.openapitools.client.model.ListRunStepsResponse;
import org.openapitools.client.model.ListRunsResponse;
import org.openapitools.client.model.MessageObject;
import org.openapitools.client.model.ModifyAssistantRequest;
import org.openapitools.client.model.ModifyMessageRequest;
import org.openapitools.client.model.ModifyRunRequest;
import org.openapitools.client.model.ModifyThreadRequest;
import org.openapitools.client.model.RunObject;
import org.openapitools.client.model.RunStepObject;
import org.openapitools.client.model.SubmitToolOutputsRunRequest;
import org.openapitools.client.model.ThreadObject;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AssistantsApi {
  String basePath = "https://api.openai.com/v1";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Cancels a run that is &#x60;in_progress&#x60;.
  * 
   * @param threadId The ID of the thread to which this run belongs.
   * @param runId The ID of the run to cancel.
   * @return RunObject
  */
  public RunObject cancelRun (String threadId, String runId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling cancelRun",
        new ApiException(400, "Missing the required parameter 'threadId' when calling cancelRun"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling cancelRun",
        new ApiException(400, "Missing the required parameter 'runId' when calling cancelRun"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}/cancel".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RunObject) ApiInvoker.deserialize(localVarResponse, "", RunObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Cancels a run that is &#x60;in_progress&#x60;.
   * 
   * @param threadId The ID of the thread to which this run belongs.   * @param runId The ID of the run to cancel.
  */
  public void cancelRun (String threadId, String runId, final Response.Listener<RunObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling cancelRun",
        new ApiException(400, "Missing the required parameter 'threadId' when calling cancelRun"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling cancelRun",
        new ApiException(400, "Missing the required parameter 'runId' when calling cancelRun"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}/cancel".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RunObject) ApiInvoker.deserialize(localVarResponse,  "", RunObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create an assistant with a model and instructions.
  * 
   * @param createAssistantRequest 
   * @return AssistantObject
  */
  public AssistantObject createAssistant (CreateAssistantRequest createAssistantRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createAssistantRequest;
    // verify the required parameter 'createAssistantRequest' is set
    if (createAssistantRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createAssistantRequest' when calling createAssistant",
        new ApiException(400, "Missing the required parameter 'createAssistantRequest' when calling createAssistant"));
    }

    // create path and map variables
    String path = "/assistants";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssistantObject) ApiInvoker.deserialize(localVarResponse, "", AssistantObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create an assistant with a model and instructions.
   * 
   * @param createAssistantRequest 
  */
  public void createAssistant (CreateAssistantRequest createAssistantRequest, final Response.Listener<AssistantObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createAssistantRequest;

    // verify the required parameter 'createAssistantRequest' is set
    if (createAssistantRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createAssistantRequest' when calling createAssistant",
        new ApiException(400, "Missing the required parameter 'createAssistantRequest' when calling createAssistant"));
    }

    // create path and map variables
    String path = "/assistants".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssistantObject) ApiInvoker.deserialize(localVarResponse,  "", AssistantObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a message.
  * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) to create a message for.
   * @param createMessageRequest 
   * @return MessageObject
  */
  public MessageObject createMessage (String threadId, CreateMessageRequest createMessageRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createMessageRequest;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling createMessage",
        new ApiException(400, "Missing the required parameter 'threadId' when calling createMessage"));
    }
    // verify the required parameter 'createMessageRequest' is set
    if (createMessageRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createMessageRequest' when calling createMessage",
        new ApiException(400, "Missing the required parameter 'createMessageRequest' when calling createMessage"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (MessageObject) ApiInvoker.deserialize(localVarResponse, "", MessageObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a message.
   * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) to create a message for.   * @param createMessageRequest 
  */
  public void createMessage (String threadId, CreateMessageRequest createMessageRequest, final Response.Listener<MessageObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createMessageRequest;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling createMessage",
        new ApiException(400, "Missing the required parameter 'threadId' when calling createMessage"));
    }
    // verify the required parameter 'createMessageRequest' is set
    if (createMessageRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createMessageRequest' when calling createMessage",
        new ApiException(400, "Missing the required parameter 'createMessageRequest' when calling createMessage"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((MessageObject) ApiInvoker.deserialize(localVarResponse,  "", MessageObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a run.
  * 
   * @param threadId The ID of the thread to run.
   * @param createRunRequest 
   * @param include A list of additional fields to include in the response. Currently the only supported value is &#x60;step_details.tool_calls[*].file_search.results[*].content&#x60; to fetch the file search result content.  See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings) for more information. 
   * @return RunObject
  */
  public RunObject createRun (String threadId, CreateRunRequest createRunRequest, List<String> include) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createRunRequest;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling createRun",
        new ApiException(400, "Missing the required parameter 'threadId' when calling createRun"));
    }
    // verify the required parameter 'createRunRequest' is set
    if (createRunRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createRunRequest' when calling createRun",
        new ApiException(400, "Missing the required parameter 'createRunRequest' when calling createRun"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "include[]", include));
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RunObject) ApiInvoker.deserialize(localVarResponse, "", RunObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a run.
   * 
   * @param threadId The ID of the thread to run.   * @param createRunRequest    * @param include A list of additional fields to include in the response. Currently the only supported value is &#x60;step_details.tool_calls[*].file_search.results[*].content&#x60; to fetch the file search result content.  See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings) for more information. 
  */
  public void createRun (String threadId, CreateRunRequest createRunRequest, List<String> include, final Response.Listener<RunObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createRunRequest;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling createRun",
        new ApiException(400, "Missing the required parameter 'threadId' when calling createRun"));
    }
    // verify the required parameter 'createRunRequest' is set
    if (createRunRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createRunRequest' when calling createRun",
        new ApiException(400, "Missing the required parameter 'createRunRequest' when calling createRun"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "include[]", include));


    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RunObject) ApiInvoker.deserialize(localVarResponse,  "", RunObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a thread.
  * 
   * @param createThreadRequest 
   * @return ThreadObject
  */
  public ThreadObject createThread (CreateThreadRequest createThreadRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createThreadRequest;

    // create path and map variables
    String path = "/threads";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ThreadObject) ApiInvoker.deserialize(localVarResponse, "", ThreadObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a thread.
   * 
   * @param createThreadRequest 
  */
  public void createThread (CreateThreadRequest createThreadRequest, final Response.Listener<ThreadObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createThreadRequest;


    // create path and map variables
    String path = "/threads".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ThreadObject) ApiInvoker.deserialize(localVarResponse,  "", ThreadObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a thread and run it in one request.
  * 
   * @param createThreadAndRunRequest 
   * @return RunObject
  */
  public RunObject createThreadAndRun (CreateThreadAndRunRequest createThreadAndRunRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createThreadAndRunRequest;
    // verify the required parameter 'createThreadAndRunRequest' is set
    if (createThreadAndRunRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createThreadAndRunRequest' when calling createThreadAndRun",
        new ApiException(400, "Missing the required parameter 'createThreadAndRunRequest' when calling createThreadAndRun"));
    }

    // create path and map variables
    String path = "/threads/runs";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RunObject) ApiInvoker.deserialize(localVarResponse, "", RunObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a thread and run it in one request.
   * 
   * @param createThreadAndRunRequest 
  */
  public void createThreadAndRun (CreateThreadAndRunRequest createThreadAndRunRequest, final Response.Listener<RunObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createThreadAndRunRequest;

    // verify the required parameter 'createThreadAndRunRequest' is set
    if (createThreadAndRunRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createThreadAndRunRequest' when calling createThreadAndRun",
        new ApiException(400, "Missing the required parameter 'createThreadAndRunRequest' when calling createThreadAndRun"));
    }

    // create path and map variables
    String path = "/threads/runs".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RunObject) ApiInvoker.deserialize(localVarResponse,  "", RunObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete an assistant.
  * 
   * @param assistantId The ID of the assistant to delete.
   * @return DeleteAssistantResponse
  */
  public DeleteAssistantResponse deleteAssistant (String assistantId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assistantId' is set
    if (assistantId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assistantId' when calling deleteAssistant",
        new ApiException(400, "Missing the required parameter 'assistantId' when calling deleteAssistant"));
    }

    // create path and map variables
    String path = "/assistants/{assistant_id}".replaceAll("\\{" + "assistant_id" + "\\}", apiInvoker.escapeString(assistantId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteAssistantResponse) ApiInvoker.deserialize(localVarResponse, "", DeleteAssistantResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete an assistant.
   * 
   * @param assistantId The ID of the assistant to delete.
  */
  public void deleteAssistant (String assistantId, final Response.Listener<DeleteAssistantResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assistantId' is set
    if (assistantId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assistantId' when calling deleteAssistant",
        new ApiException(400, "Missing the required parameter 'assistantId' when calling deleteAssistant"));
    }

    // create path and map variables
    String path = "/assistants/{assistant_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "assistant_id" + "\\}", apiInvoker.escapeString(assistantId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteAssistantResponse) ApiInvoker.deserialize(localVarResponse,  "", DeleteAssistantResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Deletes a message.
  * 
   * @param threadId The ID of the thread to which this message belongs.
   * @param messageId The ID of the message to delete.
   * @return DeleteMessageResponse
  */
  public DeleteMessageResponse deleteMessage (String threadId, String messageId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling deleteMessage",
        new ApiException(400, "Missing the required parameter 'threadId' when calling deleteMessage"));
    }
    // verify the required parameter 'messageId' is set
    if (messageId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageId' when calling deleteMessage",
        new ApiException(400, "Missing the required parameter 'messageId' when calling deleteMessage"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages/{message_id}".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "message_id" + "\\}", apiInvoker.escapeString(messageId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteMessageResponse) ApiInvoker.deserialize(localVarResponse, "", DeleteMessageResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Deletes a message.
   * 
   * @param threadId The ID of the thread to which this message belongs.   * @param messageId The ID of the message to delete.
  */
  public void deleteMessage (String threadId, String messageId, final Response.Listener<DeleteMessageResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling deleteMessage",
        new ApiException(400, "Missing the required parameter 'threadId' when calling deleteMessage"));
    }
    // verify the required parameter 'messageId' is set
    if (messageId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageId' when calling deleteMessage",
        new ApiException(400, "Missing the required parameter 'messageId' when calling deleteMessage"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages/{message_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "message_id" + "\\}", apiInvoker.escapeString(messageId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteMessageResponse) ApiInvoker.deserialize(localVarResponse,  "", DeleteMessageResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete a thread.
  * 
   * @param threadId The ID of the thread to delete.
   * @return DeleteThreadResponse
  */
  public DeleteThreadResponse deleteThread (String threadId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling deleteThread",
        new ApiException(400, "Missing the required parameter 'threadId' when calling deleteThread"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteThreadResponse) ApiInvoker.deserialize(localVarResponse, "", DeleteThreadResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete a thread.
   * 
   * @param threadId The ID of the thread to delete.
  */
  public void deleteThread (String threadId, final Response.Listener<DeleteThreadResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling deleteThread",
        new ApiException(400, "Missing the required parameter 'threadId' when calling deleteThread"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteThreadResponse) ApiInvoker.deserialize(localVarResponse,  "", DeleteThreadResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves an assistant.
  * 
   * @param assistantId The ID of the assistant to retrieve.
   * @return AssistantObject
  */
  public AssistantObject getAssistant (String assistantId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assistantId' is set
    if (assistantId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assistantId' when calling getAssistant",
        new ApiException(400, "Missing the required parameter 'assistantId' when calling getAssistant"));
    }

    // create path and map variables
    String path = "/assistants/{assistant_id}".replaceAll("\\{" + "assistant_id" + "\\}", apiInvoker.escapeString(assistantId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssistantObject) ApiInvoker.deserialize(localVarResponse, "", AssistantObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves an assistant.
   * 
   * @param assistantId The ID of the assistant to retrieve.
  */
  public void getAssistant (String assistantId, final Response.Listener<AssistantObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assistantId' is set
    if (assistantId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assistantId' when calling getAssistant",
        new ApiException(400, "Missing the required parameter 'assistantId' when calling getAssistant"));
    }

    // create path and map variables
    String path = "/assistants/{assistant_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "assistant_id" + "\\}", apiInvoker.escapeString(assistantId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssistantObject) ApiInvoker.deserialize(localVarResponse,  "", AssistantObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieve a message.
  * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) to which this message belongs.
   * @param messageId The ID of the message to retrieve.
   * @return MessageObject
  */
  public MessageObject getMessage (String threadId, String messageId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getMessage",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getMessage"));
    }
    // verify the required parameter 'messageId' is set
    if (messageId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageId' when calling getMessage",
        new ApiException(400, "Missing the required parameter 'messageId' when calling getMessage"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages/{message_id}".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "message_id" + "\\}", apiInvoker.escapeString(messageId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (MessageObject) ApiInvoker.deserialize(localVarResponse, "", MessageObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieve a message.
   * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) to which this message belongs.   * @param messageId The ID of the message to retrieve.
  */
  public void getMessage (String threadId, String messageId, final Response.Listener<MessageObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getMessage",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getMessage"));
    }
    // verify the required parameter 'messageId' is set
    if (messageId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'messageId' when calling getMessage",
        new ApiException(400, "Missing the required parameter 'messageId' when calling getMessage"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages/{message_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "message_id" + "\\}", apiInvoker.escapeString(messageId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((MessageObject) ApiInvoker.deserialize(localVarResponse,  "", MessageObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves a run.
  * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) that was run.
   * @param runId The ID of the run to retrieve.
   * @return RunObject
  */
  public RunObject getRun (String threadId, String runId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getRun",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getRun"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling getRun",
        new ApiException(400, "Missing the required parameter 'runId' when calling getRun"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RunObject) ApiInvoker.deserialize(localVarResponse, "", RunObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves a run.
   * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) that was run.   * @param runId The ID of the run to retrieve.
  */
  public void getRun (String threadId, String runId, final Response.Listener<RunObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getRun",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getRun"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling getRun",
        new ApiException(400, "Missing the required parameter 'runId' when calling getRun"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RunObject) ApiInvoker.deserialize(localVarResponse,  "", RunObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves a run step.
  * 
   * @param threadId The ID of the thread to which the run and run step belongs.
   * @param runId The ID of the run to which the run step belongs.
   * @param stepId The ID of the run step to retrieve.
   * @param include A list of additional fields to include in the response. Currently the only supported value is &#x60;step_details.tool_calls[*].file_search.results[*].content&#x60; to fetch the file search result content.  See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings) for more information. 
   * @return RunStepObject
  */
  public RunStepObject getRunStep (String threadId, String runId, String stepId, List<String> include) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getRunStep",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getRunStep"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling getRunStep",
        new ApiException(400, "Missing the required parameter 'runId' when calling getRunStep"));
    }
    // verify the required parameter 'stepId' is set
    if (stepId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'stepId' when calling getRunStep",
        new ApiException(400, "Missing the required parameter 'stepId' when calling getRunStep"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}/steps/{step_id}".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString())).replaceAll("\\{" + "step_id" + "\\}", apiInvoker.escapeString(stepId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "include[]", include));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RunStepObject) ApiInvoker.deserialize(localVarResponse, "", RunStepObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves a run step.
   * 
   * @param threadId The ID of the thread to which the run and run step belongs.   * @param runId The ID of the run to which the run step belongs.   * @param stepId The ID of the run step to retrieve.   * @param include A list of additional fields to include in the response. Currently the only supported value is &#x60;step_details.tool_calls[*].file_search.results[*].content&#x60; to fetch the file search result content.  See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings) for more information. 
  */
  public void getRunStep (String threadId, String runId, String stepId, List<String> include, final Response.Listener<RunStepObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getRunStep",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getRunStep"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling getRunStep",
        new ApiException(400, "Missing the required parameter 'runId' when calling getRunStep"));
    }
    // verify the required parameter 'stepId' is set
    if (stepId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'stepId' when calling getRunStep",
        new ApiException(400, "Missing the required parameter 'stepId' when calling getRunStep"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}/steps/{step_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString())).replaceAll("\\{" + "step_id" + "\\}", apiInvoker.escapeString(stepId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "include[]", include));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RunStepObject) ApiInvoker.deserialize(localVarResponse,  "", RunStepObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves a thread.
  * 
   * @param threadId The ID of the thread to retrieve.
   * @return ThreadObject
  */
  public ThreadObject getThread (String threadId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getThread",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getThread"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ThreadObject) ApiInvoker.deserialize(localVarResponse, "", ThreadObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves a thread.
   * 
   * @param threadId The ID of the thread to retrieve.
  */
  public void getThread (String threadId, final Response.Listener<ThreadObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling getThread",
        new ApiException(400, "Missing the required parameter 'threadId' when calling getThread"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ThreadObject) ApiInvoker.deserialize(localVarResponse,  "", ThreadObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns a list of assistants.
  * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order. 
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
   * @return ListAssistantsResponse
  */
  public ListAssistantsResponse listAssistants (Integer limit, String order, String after, String before) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/assistants";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListAssistantsResponse) ApiInvoker.deserialize(localVarResponse, "", ListAssistantsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns a list of assistants.
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.    * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.    * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.    * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
  */
  public void listAssistants (Integer limit, String order, String after, String before, final Response.Listener<ListAssistantsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/assistants".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListAssistantsResponse) ApiInvoker.deserialize(localVarResponse,  "", ListAssistantsResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns a list of messages for a given thread.
  * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) the messages belong to.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order. 
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
   * @param runId Filter messages by the run ID that generated them. 
   * @return ListMessagesResponse
  */
  public ListMessagesResponse listMessages (String threadId, Integer limit, String order, String after, String before, String runId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling listMessages",
        new ApiException(400, "Missing the required parameter 'threadId' when calling listMessages"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "run_id", runId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListMessagesResponse) ApiInvoker.deserialize(localVarResponse, "", ListMessagesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns a list of messages for a given thread.
   * 
   * @param threadId The ID of the [thread](/docs/api-reference/threads) the messages belong to.   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.    * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.    * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.    * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.    * @param runId Filter messages by the run ID that generated them. 
  */
  public void listMessages (String threadId, Integer limit, String order, String after, String before, String runId, final Response.Listener<ListMessagesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling listMessages",
        new ApiException(400, "Missing the required parameter 'threadId' when calling listMessages"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/messages".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "run_id", runId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListMessagesResponse) ApiInvoker.deserialize(localVarResponse,  "", ListMessagesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns a list of run steps belonging to a run.
  * 
   * @param threadId The ID of the thread the run and run steps belong to.
   * @param runId The ID of the run the run steps belong to.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order. 
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
   * @param include A list of additional fields to include in the response. Currently the only supported value is &#x60;step_details.tool_calls[*].file_search.results[*].content&#x60; to fetch the file search result content.  See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings) for more information. 
   * @return ListRunStepsResponse
  */
  public ListRunStepsResponse listRunSteps (String threadId, String runId, Integer limit, String order, String after, String before, List<String> include) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling listRunSteps",
        new ApiException(400, "Missing the required parameter 'threadId' when calling listRunSteps"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling listRunSteps",
        new ApiException(400, "Missing the required parameter 'runId' when calling listRunSteps"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}/steps".replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "include[]", include));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListRunStepsResponse) ApiInvoker.deserialize(localVarResponse, "", ListRunStepsResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns a list of run steps belonging to a run.
   * 
   * @param threadId The ID of the thread the run and run steps belong to.   * @param runId The ID of the run the run steps belong to.   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.    * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.    * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.    * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.    * @param include A list of additional fields to include in the response. Currently the only supported value is &#x60;step_details.tool_calls[*].file_search.results[*].content&#x60; to fetch the file search result content.  See the [file search tool documentation](/docs/assistants/tools/file-search#customizing-file-search-settings) for more information. 
  */
  public void listRunSteps (String threadId, String runId, Integer limit, String order, String after, String before, List<String> include, final Response.Listener<ListRunStepsResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'threadId' is set
    if (threadId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'threadId' when calling listRunSteps",
        new ApiException(400, "Missing the required parameter 'threadId' when calling listRunSteps"));
    }
    // verify the required parameter 'runId' is set
    if (runId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'runId' when calling listRunSteps",
        new ApiException(400, "Missing the required parameter 'runId' when calling listRunSteps"));
    }

    // create path and map variables
    String path = "/threads/{thread_id}/runs/{run_id}/steps".replaceAll("\\{format\\}","json").replaceAll("\\{" + "thread_id" + "\\}", apiInvoker.escapeString(threadId.toString())).replaceAll("\\{" + "run_id" + "\\}", apiInvoker.escapeString(runId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("multi", "include[]", include));


    String[] contentTypes = {
      
    };
[...]
