/*
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.3.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.CreateVectorStoreFileBatchRequest;
import org.openapitools.client.model.CreateVectorStoreFileRequest;
import org.openapitools.client.model.CreateVectorStoreRequest;
import org.openapitools.client.model.DeleteVectorStoreFileResponse;
import org.openapitools.client.model.DeleteVectorStoreResponse;
import org.openapitools.client.model.ListVectorStoreFilesResponse;
import org.openapitools.client.model.ListVectorStoresResponse;
import org.openapitools.client.model.UpdateVectorStoreRequest;
import org.openapitools.client.model.VectorStoreFileBatchObject;
import org.openapitools.client.model.VectorStoreFileObject;
import org.openapitools.client.model.VectorStoreObject;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class VectorStoresApi {
  String basePath = "https://api.openai.com/v1";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Cancel a vector store file batch. This attempts to cancel the processing of files in this batch as soon as possible.
  * 
   * @param vectorStoreId The ID of the vector store that the file batch belongs to.
   * @param batchId The ID of the file batch to cancel.
   * @return VectorStoreFileBatchObject
  */
  public VectorStoreFileBatchObject cancelVectorStoreFileBatch (String vectorStoreId, String batchId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling cancelVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling cancelVectorStoreFileBatch"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling cancelVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'batchId' when calling cancelVectorStoreFileBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreFileBatchObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreFileBatchObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Cancel a vector store file batch. This attempts to cancel the processing of files in this batch as soon as possible.
   * 
   * @param vectorStoreId The ID of the vector store that the file batch belongs to.   * @param batchId The ID of the file batch to cancel.
  */
  public void cancelVectorStoreFileBatch (String vectorStoreId, String batchId, final Response.Listener<VectorStoreFileBatchObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling cancelVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling cancelVectorStoreFileBatch"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling cancelVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'batchId' when calling cancelVectorStoreFileBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreFileBatchObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreFileBatchObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a vector store.
  * 
   * @param createVectorStoreRequest 
   * @return VectorStoreObject
  */
  public VectorStoreObject createVectorStore (CreateVectorStoreRequest createVectorStoreRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createVectorStoreRequest;
    // verify the required parameter 'createVectorStoreRequest' is set
    if (createVectorStoreRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createVectorStoreRequest' when calling createVectorStore",
        new ApiException(400, "Missing the required parameter 'createVectorStoreRequest' when calling createVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a vector store.
   * 
   * @param createVectorStoreRequest 
  */
  public void createVectorStore (CreateVectorStoreRequest createVectorStoreRequest, final Response.Listener<VectorStoreObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createVectorStoreRequest;

    // verify the required parameter 'createVectorStoreRequest' is set
    if (createVectorStoreRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createVectorStoreRequest' when calling createVectorStore",
        new ApiException(400, "Missing the required parameter 'createVectorStoreRequest' when calling createVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a vector store file by attaching a [File](/docs/api-reference/files) to a [vector store](/docs/api-reference/vector-stores/object).
  * 
   * @param vectorStoreId The ID of the vector store for which to create a File. 
   * @param createVectorStoreFileRequest 
   * @return VectorStoreFileObject
  */
  public VectorStoreFileObject createVectorStoreFile (String vectorStoreId, CreateVectorStoreFileRequest createVectorStoreFileRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createVectorStoreFileRequest;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling createVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling createVectorStoreFile"));
    }
    // verify the required parameter 'createVectorStoreFileRequest' is set
    if (createVectorStoreFileRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createVectorStoreFileRequest' when calling createVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'createVectorStoreFileRequest' when calling createVectorStoreFile"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreFileObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreFileObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a vector store file by attaching a [File](/docs/api-reference/files) to a [vector store](/docs/api-reference/vector-stores/object).
   * 
   * @param vectorStoreId The ID of the vector store for which to create a File.    * @param createVectorStoreFileRequest 
  */
  public void createVectorStoreFile (String vectorStoreId, CreateVectorStoreFileRequest createVectorStoreFileRequest, final Response.Listener<VectorStoreFileObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createVectorStoreFileRequest;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling createVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling createVectorStoreFile"));
    }
    // verify the required parameter 'createVectorStoreFileRequest' is set
    if (createVectorStoreFileRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createVectorStoreFileRequest' when calling createVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'createVectorStoreFileRequest' when calling createVectorStoreFile"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreFileObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreFileObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create a vector store file batch.
  * 
   * @param vectorStoreId The ID of the vector store for which to create a File Batch. 
   * @param createVectorStoreFileBatchRequest 
   * @return VectorStoreFileBatchObject
  */
  public VectorStoreFileBatchObject createVectorStoreFileBatch (String vectorStoreId, CreateVectorStoreFileBatchRequest createVectorStoreFileBatchRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = createVectorStoreFileBatchRequest;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling createVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling createVectorStoreFileBatch"));
    }
    // verify the required parameter 'createVectorStoreFileBatchRequest' is set
    if (createVectorStoreFileBatchRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createVectorStoreFileBatchRequest' when calling createVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'createVectorStoreFileBatchRequest' when calling createVectorStoreFileBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreFileBatchObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreFileBatchObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a vector store file batch.
   * 
   * @param vectorStoreId The ID of the vector store for which to create a File Batch.    * @param createVectorStoreFileBatchRequest 
  */
  public void createVectorStoreFileBatch (String vectorStoreId, CreateVectorStoreFileBatchRequest createVectorStoreFileBatchRequest, final Response.Listener<VectorStoreFileBatchObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = createVectorStoreFileBatchRequest;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling createVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling createVectorStoreFileBatch"));
    }
    // verify the required parameter 'createVectorStoreFileBatchRequest' is set
    if (createVectorStoreFileBatchRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'createVectorStoreFileBatchRequest' when calling createVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'createVectorStoreFileBatchRequest' when calling createVectorStoreFileBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreFileBatchObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreFileBatchObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete a vector store.
  * 
   * @param vectorStoreId The ID of the vector store to delete.
   * @return DeleteVectorStoreResponse
  */
  public DeleteVectorStoreResponse deleteVectorStore (String vectorStoreId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling deleteVectorStore",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling deleteVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteVectorStoreResponse) ApiInvoker.deserialize(localVarResponse, "", DeleteVectorStoreResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete a vector store.
   * 
   * @param vectorStoreId The ID of the vector store to delete.
  */
  public void deleteVectorStore (String vectorStoreId, final Response.Listener<DeleteVectorStoreResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling deleteVectorStore",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling deleteVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteVectorStoreResponse) ApiInvoker.deserialize(localVarResponse,  "", DeleteVectorStoreResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete a vector store file. This will remove the file from the vector store but the file itself will not be deleted. To delete the file, use the [delete file](/docs/api-reference/files/delete) endpoint.
  * 
   * @param vectorStoreId The ID of the vector store that the file belongs to.
   * @param fileId The ID of the file to delete.
   * @return DeleteVectorStoreFileResponse
  */
  public DeleteVectorStoreFileResponse deleteVectorStoreFile (String vectorStoreId, String fileId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling deleteVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling deleteVectorStoreFile"));
    }
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'fileId' when calling deleteVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'fileId' when calling deleteVectorStoreFile"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files/{file_id}".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "file_id" + "\\}", apiInvoker.escapeString(fileId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (DeleteVectorStoreFileResponse) ApiInvoker.deserialize(localVarResponse, "", DeleteVectorStoreFileResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete a vector store file. This will remove the file from the vector store but the file itself will not be deleted. To delete the file, use the [delete file](/docs/api-reference/files/delete) endpoint.
   * 
   * @param vectorStoreId The ID of the vector store that the file belongs to.   * @param fileId The ID of the file to delete.
  */
  public void deleteVectorStoreFile (String vectorStoreId, String fileId, final Response.Listener<DeleteVectorStoreFileResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling deleteVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling deleteVectorStoreFile"));
    }
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'fileId' when calling deleteVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'fileId' when calling deleteVectorStoreFile"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files/{file_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "file_id" + "\\}", apiInvoker.escapeString(fileId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((DeleteVectorStoreFileResponse) ApiInvoker.deserialize(localVarResponse,  "", DeleteVectorStoreFileResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves a vector store.
  * 
   * @param vectorStoreId The ID of the vector store to retrieve.
   * @return VectorStoreObject
  */
  public VectorStoreObject getVectorStore (String vectorStoreId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling getVectorStore",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling getVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves a vector store.
   * 
   * @param vectorStoreId The ID of the vector store to retrieve.
  */
  public void getVectorStore (String vectorStoreId, final Response.Listener<VectorStoreObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling getVectorStore",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling getVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves a vector store file.
  * 
   * @param vectorStoreId The ID of the vector store that the file belongs to.
   * @param fileId The ID of the file being retrieved.
   * @return VectorStoreFileObject
  */
  public VectorStoreFileObject getVectorStoreFile (String vectorStoreId, String fileId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling getVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling getVectorStoreFile"));
    }
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'fileId' when calling getVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'fileId' when calling getVectorStoreFile"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files/{file_id}".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "file_id" + "\\}", apiInvoker.escapeString(fileId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreFileObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreFileObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves a vector store file.
   * 
   * @param vectorStoreId The ID of the vector store that the file belongs to.   * @param fileId The ID of the file being retrieved.
  */
  public void getVectorStoreFile (String vectorStoreId, String fileId, final Response.Listener<VectorStoreFileObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling getVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling getVectorStoreFile"));
    }
    // verify the required parameter 'fileId' is set
    if (fileId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'fileId' when calling getVectorStoreFile",
        new ApiException(400, "Missing the required parameter 'fileId' when calling getVectorStoreFile"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files/{file_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "file_id" + "\\}", apiInvoker.escapeString(fileId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreFileObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreFileObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Retrieves a vector store file batch.
  * 
   * @param vectorStoreId The ID of the vector store that the file batch belongs to.
   * @param batchId The ID of the file batch being retrieved.
   * @return VectorStoreFileBatchObject
  */
  public VectorStoreFileBatchObject getVectorStoreFileBatch (String vectorStoreId, String batchId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling getVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling getVectorStoreFileBatch"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling getVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'batchId' when calling getVectorStoreFileBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches/{batch_id}".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreFileBatchObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreFileBatchObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Retrieves a vector store file batch.
   * 
   * @param vectorStoreId The ID of the vector store that the file batch belongs to.   * @param batchId The ID of the file batch being retrieved.
  */
  public void getVectorStoreFileBatch (String vectorStoreId, String batchId, final Response.Listener<VectorStoreFileBatchObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling getVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling getVectorStoreFileBatch"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling getVectorStoreFileBatch",
        new ApiException(400, "Missing the required parameter 'batchId' when calling getVectorStoreFileBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches/{batch_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreFileBatchObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreFileBatchObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns a list of vector store files in a batch.
  * 
   * @param vectorStoreId The ID of the vector store that the files belong to.
   * @param batchId The ID of the file batch that the files belong to.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order. 
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
   * @param filter Filter by file status. One of &#x60;in_progress&#x60;, &#x60;completed&#x60;, &#x60;failed&#x60;, &#x60;cancelled&#x60;.
   * @return ListVectorStoreFilesResponse
  */
  public ListVectorStoreFilesResponse listFilesInVectorStoreBatch (String vectorStoreId, String batchId, Integer limit, String order, String after, String before, String filter) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling listFilesInVectorStoreBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling listFilesInVectorStoreBatch"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling listFilesInVectorStoreBatch",
        new ApiException(400, "Missing the required parameter 'batchId' when calling listFilesInVectorStoreBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches/{batch_id}/files".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListVectorStoreFilesResponse) ApiInvoker.deserialize(localVarResponse, "", ListVectorStoreFilesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns a list of vector store files in a batch.
   * 
   * @param vectorStoreId The ID of the vector store that the files belong to.   * @param batchId The ID of the file batch that the files belong to.   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.    * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.    * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.    * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.    * @param filter Filter by file status. One of &#x60;in_progress&#x60;, &#x60;completed&#x60;, &#x60;failed&#x60;, &#x60;cancelled&#x60;.
  */
  public void listFilesInVectorStoreBatch (String vectorStoreId, String batchId, Integer limit, String order, String after, String before, String filter, final Response.Listener<ListVectorStoreFilesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling listFilesInVectorStoreBatch",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling listFilesInVectorStoreBatch"));
    }
    // verify the required parameter 'batchId' is set
    if (batchId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'batchId' when calling listFilesInVectorStoreBatch",
        new ApiException(400, "Missing the required parameter 'batchId' when calling listFilesInVectorStoreBatch"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/file_batches/{batch_id}/files".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString())).replaceAll("\\{" + "batch_id" + "\\}", apiInvoker.escapeString(batchId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListVectorStoreFilesResponse) ApiInvoker.deserialize(localVarResponse,  "", ListVectorStoreFilesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns a list of vector store files.
  * 
   * @param vectorStoreId The ID of the vector store that the files belong to.
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order. 
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
   * @param filter Filter by file status. One of &#x60;in_progress&#x60;, &#x60;completed&#x60;, &#x60;failed&#x60;, &#x60;cancelled&#x60;.
   * @return ListVectorStoreFilesResponse
  */
  public ListVectorStoreFilesResponse listVectorStoreFiles (String vectorStoreId, Integer limit, String order, String after, String before, String filter) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling listVectorStoreFiles",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling listVectorStoreFiles"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListVectorStoreFilesResponse) ApiInvoker.deserialize(localVarResponse, "", ListVectorStoreFilesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns a list of vector store files.
   * 
   * @param vectorStoreId The ID of the vector store that the files belong to.   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.    * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.    * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.    * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list.    * @param filter Filter by file status. One of &#x60;in_progress&#x60;, &#x60;completed&#x60;, &#x60;failed&#x60;, &#x60;cancelled&#x60;.
  */
  public void listVectorStoreFiles (String vectorStoreId, Integer limit, String order, String after, String before, String filter, final Response.Listener<ListVectorStoreFilesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling listVectorStoreFiles",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling listVectorStoreFiles"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}/files".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListVectorStoreFilesResponse) ApiInvoker.deserialize(localVarResponse,  "", ListVectorStoreFilesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Returns a list of vector stores.
  * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20. 
   * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order. 
   * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
   * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
   * @return ListVectorStoresResponse
  */
  public ListVectorStoresResponse listVectorStores (Integer limit, String order, String after, String before) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/vector_stores";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListVectorStoresResponse) ApiInvoker.deserialize(localVarResponse, "", ListVectorStoresResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Returns a list of vector stores.
   * 
   * @param limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.    * @param order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.    * @param after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list.    * @param before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
  */
  public void listVectorStores (Integer limit, String order, String after, String before, final Response.Listener<ListVectorStoresResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/vector_stores".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "after", after));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "before", before));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListVectorStoresResponse) ApiInvoker.deserialize(localVarResponse,  "", ListVectorStoresResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Modifies a vector store.
  * 
   * @param vectorStoreId The ID of the vector store to modify.
   * @param updateVectorStoreRequest 
   * @return VectorStoreObject
  */
  public VectorStoreObject modifyVectorStore (String vectorStoreId, UpdateVectorStoreRequest updateVectorStoreRequest) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = updateVectorStoreRequest;
    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling modifyVectorStore",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling modifyVectorStore"));
    }
    // verify the required parameter 'updateVectorStoreRequest' is set
    if (updateVectorStoreRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'updateVectorStoreRequest' when calling modifyVectorStore",
        new ApiException(400, "Missing the required parameter 'updateVectorStoreRequest' when calling modifyVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}".replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VectorStoreObject) ApiInvoker.deserialize(localVarResponse, "", VectorStoreObject.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Modifies a vector store.
   * 
   * @param vectorStoreId The ID of the vector store to modify.   * @param updateVectorStoreRequest 
  */
  public void modifyVectorStore (String vectorStoreId, UpdateVectorStoreRequest updateVectorStoreRequest, final Response.Listener<VectorStoreObject> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = updateVectorStoreRequest;

    // verify the required parameter 'vectorStoreId' is set
    if (vectorStoreId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vectorStoreId' when calling modifyVectorStore",
        new ApiException(400, "Missing the required parameter 'vectorStoreId' when calling modifyVectorStore"));
    }
    // verify the required parameter 'updateVectorStoreRequest' is set
    if (updateVectorStoreRequest == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'updateVectorStoreRequest' when calling modifyVectorStore",
        new ApiException(400, "Missing the required parameter 'updateVectorStoreRequest' when calling modifyVectorStore"));
    }

    // create path and map variables
    String path = "/vector_stores/{vector_store_id}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vector_store_id" + "\\}", apiInvoker.escapeString(vectorStoreId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] { "ApiKeyAuth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VectorStoreObject) ApiInvoker.deserialize(localVarResponse,  "", VectorStoreObject.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
