/**
 * OpenAI API
 * The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: blah+oapicf@cliffano.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.swagger.client.api

import akka.{Done, NotUsed}
import com.lightbend.lagom.scaladsl.api.transport.Method
import com.lightbend.lagom.scaladsl.api.{Service, ServiceCall}
import play.api.libs.json._
import com.lightbend.lagom.scaladsl.api.deser.PathParamSerializer

import io.swagger.client.model.CreateChatCompletionRequest
import io.swagger.client.model.CreateChatCompletionResponse

trait ChatApi extends Service {


  final override def descriptor = {
    import Service._
    named("ChatApi").withCalls(
      restCall(Method.POST, "/chat/completions", createChatCompletion _)
    ).withAutoAcl(true)
  }


  /**
    * Creates a model response for the given chat conversation.
    * 
    *  
    * @return CreateChatCompletionResponse Body Parameter   
    */
  def createChatCompletion(): ServiceCall[CreateChatCompletionRequest ,CreateChatCompletionResponse]
  

  }
